.table {
    text-align: center;
}
.thAccion{
    width: 100px;
}
thead>tr>th {
    text-align: center;
}
#colspan {
    font-size: 15px;
}
.glyphicon-trash { 
    color: red
}    
#inputCliente{
    color: black; 
}
#buscarCliente{
    width: 200px;
    float: right;
} 
.contentBuscar{
    width: 100%; 
    text-align: right;
}
#divInputBuscar{
    float: right;
}
.iconDescarga{
    color:blue;
    font-size: 25px;
}

