.divForm{
    margin-bottom: 40px;
}
.span{
    color: red;
}
.contentEstado{
    margin-right: 97px;
}
.divEstado{
   display: none;
   margin-left:93%;
   margin-top:-6%;
   margin-bottom: 5%;
}
/*Swich Estado*/
.onoffswitch {
    position: relative;  
    width: 96px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 1%;
    float: right;
}
.onoffswitch-checkbox {   
    display: none;
} 
.onoffswitch-label { /*borde Estado*/
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #f1f1f1; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 10px;
    size: 22;
    text-align: 1;
    background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "InActivo";
    padding-right: 3px;
    size: 5;
    background-color: red; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 12px;
    background: #FFFFFF;
    position: absolute; bottom: 0;
    padding-top: 17px; 
    right: 60px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    margin-bottom: 12px;
}
.form-control {
    padding:0.1em !important;
}