{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/regional/nuevo.css' %}" rel="stylesheet"/>

{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            <a href='{% url "gestores:servicio-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Listado Servicios
            </a> 

            <div class="content"><!--formulario-->
                <br>
                <div class="row">
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-12">
                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title">
                                    <strong>Actualizar Servicio</strong>
                                </h3>
                            </div>
                            
                            <div class="container">
                              <div disabled>
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <strong class="onoffswitch-inner" value="0"></strong>
                                        <strong class="onoffswitch-switch spanInActivo" value="1"></strong>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
                        
                    {% else %}
                    <div class="col-md-12">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">
                                <strong>Nuevo Servicio</strong>
                            </h3>
                        </div>
                  
                        <div class="row">
                            <div class="contentEstado">
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <strong class="onoffswitch-inner span" value="0"></strong>
                                        <strong class="onoffswitch-switch span" value="1"></strong>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>
                </div>
                    {% endif %}
            </div>
            </br>
            </br>
             
            <div class="col-md-12 col-sm-12 col-xs-12 divForm">
                
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="far fa-address-card"></i>&nbsp;&nbsp;Nombre Servicio
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.nombre}}
                        <strong class="help-block"></strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-2 control-label">
                            <i class="fas fa-info"></i>&nbsp;&nbsp;Icono
                            <strong class="span"> *</strong>
                            
                        </label>
                        <div class="col-md-1" style="margin-right: 8px;">
                            <strong style="color:blue;" id="spanIncono"></strong>
                            <strong style="display: none;">{{form.icono}}</strong>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required="required" id="InputIcono" name="icono" class="form-control" data-toggle="modal" data-target="#exampleModalCenter">
                            <strong class="help-block"></strong>
                        </div>
                     </div>    
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="fas fa-paint-brush"></i>&nbsp;&nbsp;Color Icono
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.color_icono}}
                        <strong class="help-block"></strong>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="fas fa-palette"></i>&nbsp;&nbsp;Color Fondo
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.color_fondo}}
                        <strong class="help-block"></strong>
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <label class="col-md-2 control-label">
                        <i class="fas fa-palette"></i>&nbsp;&nbsp;Campos Oculto
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.estado}}
                        <strong class="help-block"></strong>
                    </div>
                </div>

            </div>            
           
            <div>
                {% if not request.user.is_super_administrador %}
                    <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                        <i class="fa fa-save" aria-hidden="true"></i>Guardar
                    </button>
                {% endif %}
                <button type="button" class="btn btn-danger pull-right" onclick="app.btnLimpiar()" id="btnLimpiar">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                </button> 
            </div> 
        </form>
     </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <strong aria-hidden="true">&times;</strong>
        </button>
        <h3 class="modal-title" align="center" id="exampleModalLongTitle" style="color:red;margin: 1%;">Click en el Icono de preferencia</h3>
      </div>
      <div class="modal-body">
<section id="web-application" style="margin-top: 2%;">
    <div class="row fontawesome-icon-list">
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-adjust"></i><span class="nomclick"> fa-adjust </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-anchor"></i><span class="nomclick"> fa-anchor </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-archive"></i><span class="nomclick"> fa-archive </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-asterisk"></i><span class="nomclick"> fa-asterisk </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-at"></i><span class="nomclick"> fa-at </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-balance-scale"></i><span class="nomclick"> fa-balance-scale </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-ban"></i><span class="nomclick"> fa-ban </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-barcode"></i><span class="nomclick"> fa-barcode </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bars"></i><span class="nomclick"> fa-bars </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-battery-empty"></i><span class="nomclick"> fa-battery-empty </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-battery-full"></i><span class="nomclick"> fa-battery-full </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-battery-half"></i><span class="nomclick"> fa-battery-half </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-battery-quarter"></i><span class="nomclick"> fa-battery-quarter </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-battery-three-quarters"></i><span class="nomclick">
                    fa-battery-three-quarters
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bed"></i><span class="nomclick"> fa-bed </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-beer"></i><span class="nomclick"> fa-beer </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bell"></i><span class="nomclick"> fa-bell </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bell-slash"></i><span class="nomclick"> fa-bell-slash </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bicycle"></i><span class="nomclick"> fa-bicycle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-binoculars"></i><span class="nomclick"> fa-binoculars </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-birthday-cake"></i><span class="nomclick"> fa-birthday-cake </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bolt"></i><span class="nomclick"> fa-bolt </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bomb"></i><span class="nomclick"> fa-bomb </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-book"></i><span class="nomclick"> fa-book </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bookmark"></i><span class="nomclick"> fa-bookmark </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-briefcase"></i><span class="nomclick"> fa-briefcase </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bug"></i><span class="nomclick"> fa-bug </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-building"></i><span class="nomclick"> fa-building </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bullhorn"></i><span class="nomclick"> fa-bullhorn </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bullseye"></i><span class="nomclick"> fa-bullseye </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-bus"></i><span class="nomclick"> fa-bus </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-calculator"></i><span class="nomclick"> fa-calculator </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-calendar"></i><span class="nomclick"> fa-calendar </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-camera"></i><span class="nomclick"> fa-camera </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-camera-retro"></i><span class="nomclick"> fa-camera-retro </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-car"></i><span class="nomclick"> fa-car </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-cart-arrow-down"></i><span class="nomclick"> fa-cart-arrow-down </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-cart-plus"></i><span class="nomclick"> fa-cart-plus </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-certificate"></i><span class="nomclick"> fa-certificate </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-check"></i><span class="nomclick"> fa-check </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-check-circle"></i><span class="nomclick"> fa-check-circle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-check-square"></i><span class="nomclick"> fa-check-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-child"></i><span class="nomclick"> fa-child </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-circle"></i><span class="nomclick"> fa-circle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-clone"></i><span class="nomclick"> fa-clone </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-cloud"></i><span class="nomclick"> fa-cloud </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-code"></i><span class="nomclick"> fa-code </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-coffee"></i><span class="nomclick"> fa-coffee </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-cog"></i><span class="nomclick"> fa-cog </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-cogs"></i><span class="nomclick"> fa-cogs </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-comment"></i><span class="nomclick"> fa-comment </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-comments"></i><span class="nomclick"> fa-comments </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-compass"></i><span class="nomclick"> fa-compass </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-copyright"></i><span class="nomclick"> fa-copyright </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-credit-card"></i><span class="nomclick"> fa-credit-card </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-crop"></i><span class="nomclick"> fa-crop </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-crosshairs"></i><span class="nomclick"> fa-crosshairs </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-cube"></i><span class="nomclick"> fa-cube </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-cubes"></i><span class="nomclick"> fa-cubes </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-database"></i><span class="nomclick"> fa-database </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-desktop"></i><span class="nomclick"> fa-desktop </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-download"></i><span class="nomclick"> fa-download </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-edit"></i><span class="nomclick"> fa-edit <span class="text-muted"></span></span>
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-ellipsis-h"></i><span class="nomclick"> fa-ellipsis-h </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-ellipsis-v"></i><span class="nomclick"> fa-ellipsis-v </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-envelope"></i><span class="nomclick"> fa-envelope </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-envelope-square"></i><span class="nomclick"> fa-envelope-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-eraser"></i><span class="nomclick"> fa-eraser </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-exclamation"></i><span class="nomclick"> fa-exclamation </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-exclamation-circle"></i><span class="nomclick"> fa-exclamation-circle
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-exclamation-triangle"></i><span class="nomclick">
                    fa-exclamation-triangle
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-eye"></i><span class="nomclick"> fa-eye </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-eye-slash"></i><span class="nomclick"> fa-eye-slash </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-fax"></i><span class="nomclick"> fa-fax </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-female"></i><span class="nomclick"> fa-female </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-fighter-jet"></i><span class="nomclick"> fa-fighter-jet </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-film"></i><span class="nomclick"> fa-film </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-filter"></i><span class="nomclick"> fa-filter </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-fire"></i><span class="nomclick"> fa-fire </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-fire-extinguisher"></i><span class="nomclick"> fa-fire-extinguisher
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-flag"></i><span class="nomclick"> fa-flag </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-flag-checkered"></i><span class="nomclick"> fa-flag-checkered </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-flask"></i><span class="nomclick"> fa-flask </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-folder"></i><span class="nomclick"> fa-folder </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-folder-open"></i><span class="nomclick"> fa-folder-open </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-gamepad"></i><span class="nomclick"> fa-gamepad </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-gavel"></i><span class="nomclick"> fa-gavel </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-gift"></i><span class="nomclick"> fa-gift </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-globe"></i><span class="nomclick"> fa-globe </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-graduation-cap"></i><span class="nomclick"> fa-graduation-cap </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-headphones"></i><span class="nomclick"> fa-headphones </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-heart"></i><span class="nomclick"> fa-heart </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-heartbeat"></i><span class="nomclick"> fa-heartbeat </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-history"></i><span class="nomclick"> fa-history </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-home"></i><span class="nomclick"> fa-home </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-hotel"></i><span class="nomclick"> fa-hotel <span class="text-muted"></span></span>
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-hourglass"></i><span class="nomclick"> fa-hourglass </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-hourglass-end"></i><span class="nomclick"> fa-hourglass-end </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-hourglass-half"></i><span class="nomclick"> fa-hourglass-half </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-hourglass-start"></i><span class="nomclick"> fa-hourglass-start </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-i-cursor"></i><span class="nomclick"> fa-i-cursor </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-image"></i><span class="nomclick"> fa-image <span class="text-muted"></span></span>
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-inbox"></i><span class="nomclick"> fa-inbox </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-industry"></i><span class="nomclick"> fa-industry </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-info"></i><span class="nomclick"> fa-info </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-info-circle"></i><span class="nomclick"> fa-info-circle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-key"></i><span class="nomclick"> fa-key </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-language"></i><span class="nomclick"> fa-language </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-laptop"></i><span class="nomclick"> fa-laptop </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-leaf"></i><span class="nomclick"> fa-leaf </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-life-ring"></i><span class="nomclick"> fa-life-ring </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-location-arrow"></i><span class="nomclick"> fa-location-arrow </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-lock"></i><span class="nomclick"> fa-lock </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-magic"></i><span class="nomclick"> fa-magic </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-magnet"></i><span class="nomclick"> fa-magnet </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-male"></i><span class="nomclick"> fa-male </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-map"></i><span class="nomclick"> fa-map </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-map-marker"></i><span class="nomclick"> fa-map-marker </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-map-pin"></i><span class="nomclick"> fa-map-pin </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-map-signs"></i><span class="nomclick"> fa-map-signs </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-microphone"></i><span class="nomclick"> fa-microphone </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-microphone-slash"></i><span class="nomclick"> fa-microphone-slash
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-minus"></i><span class="nomclick"> fa-minus </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-minus-circle"></i><span class="nomclick"> fa-minus-circle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-minus-square"></i><span class="nomclick"> fa-minus-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-mobile"></i><span class="nomclick"> fa-mobile </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-motorcycle"></i><span class="nomclick"> fa-motorcycle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-mouse-pointer"></i><span class="nomclick"> fa-mouse-pointer </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-music"></i><span class="nomclick"> fa-music </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-object-group"></i><span class="nomclick"> fa-object-group </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-object-ungroup"></i><span class="nomclick"> fa-object-ungroup </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-paint-brush"></i><span class="nomclick"> fa-paint-brush </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-paper-plane"></i><span class="nomclick"> fa-paper-plane </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-paw"></i><span class="nomclick"> fa-paw </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-phone"></i><span class="nomclick"> fa-phone </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-phone-square"></i><span class="nomclick"> fa-phone-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-plane"></i><span class="nomclick"> fa-plane </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-plug"></i><span class="nomclick"> fa-plug </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-plus"></i><span class="nomclick"> fa-plus </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-plus-circle"></i><span class="nomclick"> fa-plus-circle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-plus-square"></i><span class="nomclick"> fa-plus-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-power-off"></i><span class="nomclick"> fa-power-off </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-print"></i><span class="nomclick"> fa-print </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-puzzle-piece"></i><span class="nomclick"> fa-puzzle-piece </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-qrcode"></i><span class="nomclick"> fa-qrcode </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-question"></i><span class="nomclick"> fa-question </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-question-circle"></i><span class="nomclick"> fa-question-circle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-quote-left"></i><span class="nomclick"> fa-quote-left </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-quote-right"></i><span class="nomclick"> fa-quote-right </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-random"></i><span class="nomclick"> fa-random </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-recycle"></i><span class="nomclick"> fa-recycle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-registered"></i><span class="nomclick"> fa-registered </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-reply"></i><span class="nomclick"> fa-reply </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-reply-all"></i><span class="nomclick"> fa-reply-all </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-retweet"></i><span class="nomclick"> fa-retweet </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-road"></i><span class="nomclick"> fa-road </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-rocket"></i><span class="nomclick"> fa-rocket </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-rss"></i><span class="nomclick"> fa-rss </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-rss-square"></i><span class="nomclick"> fa-rss-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-search"></i><span class="nomclick"> fa-search </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-search-minus"></i><span class="nomclick"> fa-search-minus </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-search-plus"></i><span class="nomclick"> fa-search-plus </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-server"></i><span class="nomclick"> fa-server </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-share"></i><span class="nomclick"> fa-share </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-share-alt"></i><span class="nomclick"> fa-share-alt </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-share-alt-square"></i><span class="nomclick"> fa-share-alt-square
                </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-share-square"></i><span class="nomclick"> fa-share-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-ship"></i><span class="nomclick"> fa-ship </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-shopping-cart"></i><span class="nomclick"> fa-shopping-cart </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-signal"></i><span class="nomclick"> fa-signal </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-sitemap"></i><span class="nomclick"> fa-sitemap </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-sort"></i><span class="nomclick"> fa-sort </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-sort-down"></i><span class="nomclick"> fa-sort-down
                    <span class="text-muted"></span></span> </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-sort-up"></i><span class="nomclick"> fa-sort-up
                    <span class="text-muted"></span></span> </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-space-shuttle"></i><span class="nomclick"> fa-space-shuttle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-spinner"></i><span class="nomclick"> fa-spinner </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-square"></i><span class="nomclick"> fa-square </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-star"></i><span class="nomclick"> fa-star </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-star-half"></i><span class="nomclick"> fa-star-half </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-sticky-note"></i><span class="nomclick"> fa-sticky-note </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-street-view"></i><span class="nomclick"> fa-street-view </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-suitcase"></i><span class="nomclick"> fa-suitcase </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tablet"></i><span class="nomclick"> fa-tablet </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tag"></i><span class="nomclick"> fa-tag </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tags"></i><span class="nomclick"> fa-tags </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tasks"></i><span class="nomclick"> fa-tasks </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-taxi"></i><span class="nomclick"> fa-taxi </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-terminal"></i><span class="nomclick"> fa-terminal </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-thumbs-down"></i><span class="nomclick"> fa-thumbs-down </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-thumbs-up"></i><span class="nomclick"> fa-thumbs-up </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-times"></i><span class="nomclick"> fa-times </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-times-circle"></i><span class="nomclick"> fa-times-circle </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tint"></i><span class="nomclick"> fa-tint </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-toggle-off"></i><span class="nomclick"> fa-toggle-off </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-toggle-on"></i><span class="nomclick"> fa-toggle-on </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-trademark"></i><span class="nomclick"> fa-trademark </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-trash"></i><span class="nomclick"> fa-trash </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tree"></i><span class="nomclick"> fa-tree </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-trophy"></i><span class="nomclick"> fa-trophy </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-truck"></i><span class="nomclick"> fa-truck </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tty"></i><span class="nomclick"> fa-tty </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-tv"></i><span class="nomclick"> fa-tv
                    <span class="text-muted"></span></span> </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-umbrella"></i><span class="nomclick"> fa-umbrella </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-university"></i><span class="nomclick"> fa-university </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-unlock"></i><span class="nomclick"> fa-unlock </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-unlock-alt"></i><span class="nomclick"> fa-unlock-alt </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-upload"></i><span class="nomclick"> fa-upload </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-user"></i><span class="nomclick"> fa-user </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-user-plus"></i><span class="nomclick"> fa-user-plus </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-user-secret"></i><span class="nomclick"> fa-user-secret </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-user-times"></i><span class="nomclick"> fa-user-times </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-users"></i><span class="nomclick"> fa-users </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-volume-down"></i><span class="nomclick"> fa-volume-down </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-volume-off"></i><span class="nomclick"> fa-volume-off </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-volume-up"></i><span class="nomclick"> fa-volume-up </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-wheelchair"></i><span class="nomclick"> fa-wheelchair </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-wifi"></i><span class="nomclick"> fa-wifi </span></a> </div>
        <div class="col-md-3 col-sm-4"><a href="#!" style=" font-size: 1.2em; color:#000000;"><i class="fa fa-fw fa-wrench"></i><span class="nomclick"> fa-wrench </span></a> </div>
        </span></a>
    </div>
</section>

      </div>
    </div>
  </div>
</div>
<!-- Modal -->


{% endblock %}

{% block scripts %}
<script>
notificaciones();
//Estado Actual
var estado = $("#id_estado").is(':checked');
if( estado ){
    $("#myonoffswitch").attr('checked',true);
}else{
    $("#myonoffswitch").attr('checked',false);  
}
//New Estado
$("#myonoffswitch").change(function() {
    if ($(this).prop('checked') == true ) {
        $("#id_estado").prop('checked',true);
    }else {
        $("#id_estado").attr('checked',false);
    }
});
 str = $("#id_icono").val();
 var elegido1 = '<i class="fa fa-fw fa-'+str+' fa-2x"></i>';
 $("#spanIncono").html( elegido1 );
$("#InputIcono").val( $("#id_icono").val() );

document.getElementById("btnGuardar").addEventListener('click',() =>{
    var name = document.getElementById("id_nombre").value;
    var iconos = document.getElementById("InputIcono").value;
    if ( (name != '') && (iconos != '') ){
        event.preventDefault(); 
            Swal.fire({
              title: 'Atención',
              text: "Desea Crear Este Servicio ..?",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, Crear'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                      title: 'Felicidades',
                      text: "Servicio Creado Exitosamente",
                      type: 'success',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        $("#form").submit(); 
                    });
                }
            });
    }
});
//Icono
var icono = '';
$("span").click(function(){
    str = $(this).text();
    var icono = str.replace("fa-", "");
    var elegido = '<i class="fa fa-fw '+str+'fa-2x"></i>';
    Swal.fire({
        title: 'Desea Elegir Este Icono..!',
        type: 'warning',
        html: elegido,
        showCancelButton: true, 
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Elegir',
        cancelButtonText: 'No'
    }).then((result) => {
        if (result.value) {
            $("#exampleModalCenter").modal('hide');
            $("#InputIcono").val( icono );
            $("#spanIncono").html( elegido );
            $("#InputIcono").attr('readonly','readonly');
            $("#id_icono").val( icono );
            swal("Icono Seleccionado..!", {
               icon: "success",
               timer: 1500,
            });    
        }
    });
});




        

</script>



{% if messages %}
    {% for message in messages %}
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        <script >
            notificaciones('{{message|escape}}');
        </script>
    {% endfor %}
{% endif %}


{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}


<!--Nelson-->
{% endblock %}


