.table {
    text-align: center;
}
thead>tr>th {
    text-align: center;
    background-color: red;
}
#colspan {
    font-size: 15px;
}
.glyphicon-trash {  
    color: red
}
#inputCliente{
    color: black;
}
#buscarCliente{
    width: 250px;
    float: right;
} 
.contentBuscar{
    width: 100%;
    text-align: right;
}
#divInputBuscar{
    float: right;
}
.iconDescarga{
    color:blue;
    font-size: 25px;
}
.divSinRegistros{
    text-align:center;
    margin-top:6%;
}
.iconSinResul{
    font-size: 94px;
}
.spanSinResul{
    font-size: 44px;
}
h2 {
font-family: roboto;
text-align: center;
}
