#divTipoSociedad,#divRegimenfiscal,#divNameContacto {
    display: none;
}
#form{
    margin-top: -4%;
}
.thumb{
    height: 99px;
    width: 148px
    border: 1px solid #000;
}
#divImagen{ 
    margin-top: -2%;
    width: 100%;
}
#verImagen{
  height: 130px;
  float: right;
}
#imgCliente{
    border: 4px inset #878587;
    width:130px;
    height: 110px;
}
#divNuevoCliente{
    margin-left: 41%;
    float: left;
    margin-top: 38px;
}
.divFormLogo{
    float: right;
}
.divEstado{
    display:none;
}
#divLogo{
    display: none;
}
.divInput{
    display: none;
}
.divCliente{
    margin-right: 97px;
}
/*Swich Estado*/
.onoffswitch {
    position: relative;
    width: 96px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 1%;
    margin-top: 38px;
    float: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label { /*borde Estado*/
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #f1f1f1; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 10px;
    size: 22;
    text-align: 1;
    background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "InActivo";
    padding-right: 3px;
    size: 5;
    background-color: red; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 10px;
    background: #FFFFFF;
    position: absolute; bottom: 0;
    padding-top: 17px; 
    right: 60px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    margin-bottom: 12px;
}
.divDirecciones{
    display: none;
}
.divOculto{
    display: none;
}
/*
#btnLimpiar{
    display: none;
}
*/

/*Modal*/ 
.divTipo{
    margin-left: 1em;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 22px;
    font-weight: bold !important;
    margin-left: 48px;
}
#exampleModalLabel{
    text-align: center;
}
.divComplemento{
    margin-top: 6px;
}
.span{
    color: red;
    font-weight: bold;
    margin-bottom: 12px;
}
.labelDireccion{
    margin-left: -10px;
    width: 148px;
}
#spanComplemento, #spanBarrio{
    font-weight: bold;
    color: #020202;
    padding-left: 4px;
}

/*Modal*/
.closeto {
    padding-right: 0;
    padding-left: 0;
}
.padding-0l{
    padding-left:1em;
    margin-left:1em;
    width: 5% !important;
}
.padding-0r{
    padding-right:1em;
    margin-right:1em;
    width: 5% !important;
}
.padding-0{
    padding-right:1em;
    margin-right:1em;
    padding-left:1em;
    margin-left:1em;
    width: 3% !important;
}
.form-control {
    padding:0.1em !important;
}
.row {
    height = 10px !important;
}
input[readonly]:-moz-read-only {
  /* For Firefox */
  cursor: pointer;
}
// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 0.8em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

body {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }
}
