{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/usuarios/nuevo.css' %}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>

{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div><!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% endif %}
<div class="content">
    <div class="col-md-12">
        <div class="panel-heading ui-draggable-handle">
            <h3 class="panel-title"><strong>Cargar Productos</strong> </h3>
        </div>
    </div>
    <div class="row" style="margin-top:4em;">
        <div class="col-md-5"></div>
        <div class="form-group col-md-2">
        <form method="post" enctype="multipart/form-data" id="form" class="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="service"><i class="fas fa-chalkboard-teacher"></i> Servicio<strong class="span"> *</strong></label>
                </div>
                <div class="col-md-6">
                    <select  id="service" name="service">
                        {% for service in services%}
                            <option value="{{ service.id }}">{{ service.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
            <br><br>
            <label for="file1">Seleccione archivo a subir</label>
            <input class="form-control" type="file" id="file1" name="file" accept=".csv">
            <small>Tipo de archivo compatible: .CSV</small>
            <button type="submit" id="form1" hidden>Cargar</button>
                </div>
        </form>
        </div>
        <div class="col-md-5"></div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 text-center">
            <a href="{% url 'gestores:producto-formato' 'formato.csv' %}" class="fas fa-file-download fa-2x" ></a> <strong>Descargar Formato</strong>
        </div>
        <div class="col-md-5"><span style="float:right;padding-right:2em;">{{orden}}</span></div>
    </div>

<div class="row"  id="submit-form" hidden>
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <div class="table-responsive text-center">
            <table id="listUsuario" class="table table-striped">
                <thead>
                    <th colspan="30" id="colspan" class="text-center">Listado de Productos</th>
                    <tr class="text-center">
                        <th class="text-center">Servicio</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Valor Comision</th>
                    </tr>
                </thead>
                <tbody id="product-table">
                    <tr class="tr">
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                 <button type="submit" id="btnGuardar" class="btn btn-primary pull-right" >
                     <i class="fa fa-save" aria-hidden="true"></i>Guardar</button>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div> <!-- end panel Body-->
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
$( "#file1" ).change(function() {
  $("#form1").trigger('click');
});
$('#form').on('submit', function(){
    event.preventDefault();
    var products = "";
    var formData = new FormData($('#form').get(0));
    var service_selected = $("#service option:selected").text()
    $.ajax({
        method: "POST",
        url: "{% url 'gestores:producto-upload' %}",
        data: formData,
        cache: false,
        contentType: 'multipart/form-data',
        processData: false,
        contentType: false,
        success:function(products){
            document.getElementById("submit-form").hidden = false;
            $.each(products, function( index, value ) {
              $("#product-table").prepend('<tr class="tr">'+'<td>'+ service_selected +'</td>'
              +'<td>'+value[0]+'</td>'+'<td>'+value[1]+'</td>'+'</tr>')
            });
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});

document.getElementById("btnGuardar").addEventListener('click',() =>{
    var name = document.getElementById("service").value;
    if (name != ''){
            event.preventDefault();
            Swal.fire({
              title: 'Atención',
              text: "Desea agreagar sta lista de productos?",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, Crear'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                      title: 'Felicidades',
                      text: "Producto Agregado Exitosamente",
                      type: 'success',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        $("#form").submit();
                    });
                }
            });
    }
    event.preventDefault();
});

</script>
<script>
notificaciones();
</script>
<!--Nelson-->
{% endblock %}