{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<style>
/*Modal*/
#exampleModalLabel{
    text-align: center;
    font-weight: bold;
}
#modalDetalle{
    display: none;
}
.divContenedor{
    margin-top: 24px;
}
#titleDireccion{
    margin-left: 2em;
    width: 5em;
}
.divEstado{
    display: none;
}
.spanRegional{
    display: none;
}
label{
    font-weight: bold;
}
fieldset.scheduler-border {
border: 1px groove #ddd !important;
padding: 0 1.4em 1.4em 0.4em !important;
margin: 0 0 1.5em 0 !important;
-webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 18px;
    font-weight: bold !important;
    margin-left: 65px;
}
.spanUsuario{
    color: #1619bf;
    font-size: 24px;
}
.roles{
    text-transform: uppercase;

}
.form-group{
    font-size: 14px;
}
.divLeft{
    margin-top: -6%;
    margin-bottom:5%;
}
#verImagen{
  height: 130px;
  float: right;
}
#imgCliente{
    border: 4px inset #878587;
    width:130px;
    height: 110px;
}
/*Modal*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 18px;
    font-weight: bold !important;
    margin-left: 65px;
}

/*Swich Estado*/
.onoffswitch {
    position: relative;
    width: 96px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 1%;
    margin-top: 1%;
    float: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label { /*borde Estado*/
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #f1f1f1; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 10px;
    size: 22;
    text-align: 1;
    background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "InActivo";
    padding-right: 3px;
    size: 5;
    background-color: red; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 12px;
    background: #FFFFFF;
    position: absolute; bottom: 0;
    padding-top: 17px;
    right: 60px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    margin-bottom: 12px;
}
.divBtnCerrar{
    float: right;
}
#hrefCerrar{
    font-size: 30px;
    font-weight: bold;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 50%;
    margin: 80px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 95%;
  }
}

</style>
{% endblock %}

{% block content %} 
<button data-toggle="modal" id="modalDetalle" data-target="#exampleModal">ACEPTAR</button>
<!-- MODAL-->

<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog divModal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="divBtnCerrar">
            <a href="{% url 'gestores:producto-index' %}" id="hrefCerrar">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <h4 class="modal-title" id="exampleModalLabel">Información</h4>
      </div>
        <div class="modal-body">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border" id="titleDireccion" size="8">
                    <span>Producto</span>
                </legend>
                <div class="control-group ">
                    <div class="content">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                  <div class="col-md-9 col-sm-10 col-xs-8 divContenedor">
                                      <div class="form-group">
                                          <label class="col-md-6 control-label">
                                              <i class="fa fa-archive"></i>&nbsp;&nbsp;Nombre</label>
                                          <div class="col-md-6">
                                              {{object.nombre|default_if_none:"Sin datos"}}
                                              <span class="help-block"></span>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-md-6 control-label">
                                              <i class="fas fa-money-bill-alt"></i>&nbsp;&nbsp;Valor de comision</label>
                                          <div class="col-md-6">
                                              {{object.valor_comision_str|default_if_none:"Sin datos"}}
                                              <span class="help-block"></span>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-md-6 control-label">
                                              <i class="fas fa-globe"></i>&nbsp;&nbsp;Servicio</label>
                                          <div class="col-md-6">
                                              {{object.servicio|default_if_none:"Sin datos"}}
                                              <span class="help-block"></span>
                                          </div>
                                      </div>
                                      <div class="form-group" style="display: none;">
                                          <label class="col-md-6 control-label">
                                              <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;estado</label>
                                          <div class="col-md-6">
                                              <span class="spanEstado">
                                                  {{object.estado}}
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2 col-sm-1 col-xs-3">
                                      <!--Estado-->
                                      <div class="onoffswitch">
                                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled>
                                          <label class="onoffswitch-label" for="myonoffswitch">
                                              <span class="onoffswitch-inner span" value="0"></span>
                                              <span class="onoffswitch-switch span" value="1"></span>
                                          </label>
                                      </div>
                                      <!--Estado-->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </fieldset>
        </div>
        {% if eliminar %}
            <div class="modal-footer">
                <button title="Eliminar producto" value={{object.id}} class="btn btn-danger" id="btnEliminar">Eliminar</button>
            </div>
        {% endif %}
    </div>
  </div>
</div>
<!-- MODAL-->
{% endblock %}


{% block scripts %}
<script>
    //Estado
    var estado = $(".spanEstado").text().trim();
    if( estado == 'True'){
        $("#myonoffswitch").prop('checked',true);
    }else{
        $("#myonoffswitch").prop('checked',false);
    }
    
    function paginaInicial() {
      setTimeout(function(){  
            window.location.href = '{% url 'gestores:producto-index' %}'
        }, 1500);
    }
    
    $("#modalDetalle").click();

$("#btnEliminar").click(function() {
        var idEliminar;
        idEliminar = $("#btnEliminar").val();
        Swal.fire({
            title: 'Eliminar Producto',
            type: 'warning',
            text:'¿ Desea Eliminar el Producto ?',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '{% url "gestores:producto-eliminar" %}',
                    type: 'post',
                    data:{
                        'id':idEliminar,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',//Token al ser Post
                    }
                }).done(function(data){
                    console.log( typeof(data) + ' **** ' +data);
                    switch ( data ){
                        case 1:
                             Swal.fire({
                                type: 'success',
                                title: 'Felicidades',
                                text:  'Eliminado Exitosamente',
                                timer: 2000
                            });
                            paginaInicial();
                            break;
                        case 0:
                             Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'No se puedo eliminar el porducto',
                            });
                            break;
                        default:
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error ocurrio una exception',
                            });
                    }/**/
                });
            }
        });
    });
</script> 
 

{% endblock %}