{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/usuarios/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<body onload="noAtras()">
    <div class="panel-body"> <!-- end panel Body-->
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'gestores:producto-nuevo' %}" id="new" class="btn btn-success">
                    <i class="fa fa-plus"></i> Nuevo Producto
                </a>
            </div>

            <div class="col-md-12">
                <div class="contentBuscar">
                    <div class="divBuscar">
                        <form id="Idform" method="get">
                            <div id="divInputBuscar">
                                <input type="text" id="buscarUsuario" class="form-control" name="q" placeholder="Buscar Usuario" value="{{request.GET.q}}">
                            </div>
                            <button type="submit" id="btnBuscar" class="btn btn-info">
                                <i class="fa fa-search"></i>Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if object_list%}
        {% if page_obj and not request.user.is_super_administrador %}
        <div style="text-align:right; height:1em;">
                    <a href="{% url 'reportes:reportes-clientes' %}" class="fas fa-file-download fa-2x" ></a> <strong>Descargar Reporte</strong>
                </div>
                <div>
                    <strong>
                        <p>
                            {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados
                        </p>
                    </strong>
                </div>
        {% endif %}

        <div class="table-responsive">
            <table id="listUsuario" class="table table-striped">
                <thead>  
                    <th colspan="25" id="colspan">Listado de Productos</th>
                    <tr>
                        <th>&nbsp;&nbsp;&nbsp;Acción&nbsp;&nbsp;&nbsp;</th>
                        <th>Estado</th>
                        <th>Servicio</th>
                        <th>Nombre</th>
                        <th>Valor Comision</th>
                        <th>Codigo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr class="tr">
                        <td>
                            <a href="{% url 'gestores:producto-consultar' pk=obj.id delete=obj.id %}" title="Consultar" id="Consultar">
                                <span class="fa fa-eye iconConsul" data-toggle="modal" data-target="#exampleModal"></span>
                            </a>
                            |
                            {% if not request.user.is_super_administrador %}
                            <a href="{% url 'gestores:producto-actualizar' pk=obj.id %}" title="Editar" id="editar">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            {% else %}
                            <a title="desabilitado" id="editar"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                            | 
                            <a href="{% url 'gestores:producto-consultar' pk=obj.id delete='Eliminar' %}" title="Eliminar" id="eliminar">
                                <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModal"></span>
                            </a>
                        </td>
                        <td>
                            {% if obj.estado %}
                                <span class="label label-success">Activo</span>
                            {%else%}
                                <span class="label label-danger">Inactivo</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ obj.servicio|default_if_none:""  |upper}}
                        </td>
                        <td>
                            {{ obj.nombre|default_if_none:""   |upper}}
                        </td>
                        <td>
                            {{ obj.valor_comision_str|default_if_none:"" |upper}}
                        </td>
                        <td>
                            {{ obj.code|default_if_none:"" |upper}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page=
                            {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="active">
                            <a href="#!">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="waves-effect">
                            <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="waves-effect">
                            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {%else%}
                <input type="hidden" name="q" value="0" id="inputSinRegistros">
                <div class="divSinRegistros">
                    <i class="fa fa-database iconSinResul"></i>
                    <span class="spanSinResul">&nbsp; Sin Registros</span>
                </div>
                {%endif%}
                <p id="empty_set" hidden>{{ empty_set }}</p>
            </div>
        </div>
    </div> <!-- end panel Body-->
</body>

{% endblock %}

{% block scripts %}
<script> 
$("tr:odd").css("background-color", "#daf4ff"); // filas pares

//BtnAtras del Navegador
function noAtras(){
   window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button"
    window.onhashchange=function(){
        window.location.hash="no-back-button";
    }
}
//BtnAtras del Navegador

var registros;
registros = $("#inputSinRegistros").val();
//table
var table = $('#listUsuario').DataTable({
    "paging": false,
    "info": false,
    "searching": false,
    "ordering": false,
});
var empty_set = $("#empty_set").text();

if ( empty_set == 1){
    if (registros == 0) {
        Swal.fire({
            title: '¡Sin Datos!',
            text: "No Cuenta Con Resgistros Relacionados Con La Búsqueda",
            type: 'warning',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Aceptar'
        }).then((result) => {
            if (result.value) {
                registros = 1;
                window.location.href = "{% url 'gestores:producto-index' %}";
            }
        });
    }
}
</script>
{% endblock %}