{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/usuarios/nuevo.css' %}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>

{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            <div style="display: none;">
                {{form.estado}}
<!--                <input type="file" name="imagen" accept="image/*" id="idImg">-->
            </div>

            <a href='{% url "gestores:producto-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Listado Productos
            </a> 

            <div class="content"><!--formulario-->
              <div class="row">
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-10">
                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title"><strong>Editar Producto</strong></h3>
                            </div>
                            
                            <div class="container">
                              <div disabled>
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner" value="0"></span>
                                        <span class="onoffswitch-switch spanInActivo" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
                        
                    {% else %}
                    <div class="col-md-10">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><strong>Nuevo Producto</strong> </h3>
                        </div>

                        <div class="row">
                            <div class="mario" style="margin-right: 97px;">
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner span" value="0"></span>
                                        <span class="onoffswitch-switch span" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endif %}
            </div>
            </br>
            </br>

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-chalkboard-teacher fa-2x"></i>&nbsp;&nbsp;&nbsp;Servicio<span class="span"> *</span></label>
                        <div class="col-md-8">
                            {{form.servicio}}
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-box-open fa-2x"></i>&nbsp;&nbsp;&nbsp;Nombre<span class="span"> *</span></label>
                        <div class="col-md-5">
                            {{form.nombre}}
                            <span style="display:inline;">{{form.nombre.errors}}</span>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-money-bill-alt fa-2x"></i>&nbsp;&nbsp;&nbsp;Valor Comision<span class="span"> *</span></label>
                        <div class="col-md-8">
                            <input  type="input" id="currency" >
                            {{form.valor_comision.errors}}
                            {{form.valor_comision_str.errors}}
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Valor Comision<span class="span"> *</span></label>
                        <div class="col-md-8">
                            {{form.valor_comision.errors}}
                            {{form.valor_comision}}
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Valor Comision<span class="span"> *</span></label>
                        <div class="col-md-8">
                            {{form.valor_comision_str.errors}}
                            {{form.valor_comision_str}}
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-10">
                        {% if not request.user.is_super_administrador %}
                        <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                            <i class="fa fa-save" aria-hidden="true"></i>Guardar
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-danger pull-right" id="btnLimpiar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                        </button> 
                    </div>
            </div>
        </form>
    </div>
    {% if not 'actualizar' in request.path %}
    <hr>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <a href="{% url 'gestores:producto-upload' %}" class="btn btn-info btn-lg active" role="button">Cargar productos</a>
        </div>
        <div class="col-md-5"></div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
// ***funtion currency
var currencyInput = document.getElementById('currency');
var currency = 'USD'; // https://www.currency-iso.org/dam/downloads/lists/list_one.xml

currencyInput.addEventListener('keydown', onKeydown);
currencyInput.addEventListener('keyup', onKeyup);

function localStringToNumber( s ){
    return Number(String(s).replace(/[^0-9.-]+/g,""));
}

var val_com = $("#id_valor_comision_str").val();
$("#currency").attr("placeholder",val_com);

function onKeydown(e){
  var intformat= e.target.value;
  var value = intformat.replace(/[.]/g,',');
  e.target.value = value ? localStringToNumber(value) : '';
  document.getElementById("id_valor_comision").value = e.target.value;
}
var timeout = null
function onKeyup(e){
    clearTimeout(timeout);
    timeout = setTimeout(function () {
          var value = e.target.value;
          document.getElementById("id_valor_comision").value = value;
          const options = {
              maximumFractionDigits : 0,
              minimumFractionDigits : 0,
              currency              : currency,
              style                 : "currency",
              currencyDisplay       : "symbol",
          }
          var usformat = value ? localStringToNumber(value).toLocaleString(undefined, options): '';
          e.target.value = usformat.replace(/[,]/g,'.');
          document.getElementById("id_valor_comision_str").value = e.target.value;
    }, 400);
}
// **** end funtion currency

//Estado Actual
var estado = $("#id_estado").is(':checked');
if( estado ){
    $("#myonoffswitch").attr('checked',true);
}else{
    $("#myonoffswitch").attr('checked',false);
}
$("#myonoffswitch").change(function() {
    if ($(this).prop('checked') == true ) {
        $("#id_estado").prop('checked',true);
    }else {
        $("#id_estado").attr('checked',false);
    }
});

document.getElementById("btnLimpiar").addEventListener('click',() =>{
        $("#id_servicio").val("")
        $("#id_nombre").val("")
        $("#currency").val("")
        $("#id_valor_comision").val("")
        $("#id_valor_comision_str").val("")
    });
</script>
<script>
notificaciones();
</script>
{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}

<!--Nelson-->
{% endblock %}


