{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/usuarios/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<body onload="noAtras()">
    <div class="panel-body"> <!-- end panel Body-->
        <div class="row">
            <div class="col-md-12">
                <div class="contentBuscar">
                    <div class="divBuscar">
                        <form action="{% url 'gestores:producto-confirmar' %}" id="Idform" method="post">{% csrf_token %}
                            {{ products }}
                            <button type="submit" id="btnBuscar" class="btn btn-info">
                                <i class="fa fa-save"></i>Guardar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="listUsuario" class="table table-striped">
                <thead>  
                    <th colspan="25" id="colspan">Listado de Productos</th>
                    <tr>
                        <th>Nombre</th>
                        <th>Valor Comision</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in productos %}
                    <tr class="tr">
                        <td>
                            {{ obj.0|default_if_none:""  |upper}}
                        </td>
                        <td>
                            {{ obj.1|default_if_none:""   |upper}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end panel Body-->

</body>

{% endblock %}

{% block scripts %}
<script> 
$("tr:odd").css("background-color", "#daf4ff"); // filas pares

//BtnAtras del Navegador
function noAtras(){
   window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button"
    window.onhashchange=function(){
        window.location.hash="no-back-button";
    }
}

</script>
{% endblock %}