{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<style>
/*Modal*/
#exampleModalLabel{
    text-align: center;
    font-weight: bold;
}
.modal-dialog{
  position: absolute;
  left: 40%;
  top: 30%;
  transform: translate(-50%, -50%);
}
}
#modalDetalle{
    display: none;
}
label{
    font-weight: bold;
}
fieldset.scheduler-border {
border: 1px groove #ddd !important;
padding: 0.5em 0.5em 0.5em 0.5em !important;
margin: 0.5em 0.5em 0.5em 0.5em !important;
-webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 1.5em;
    font-weight: bold !important;
    text-align:left;
    width:8em;
    border: none !important;
}

.roles{
    text-transform: uppercase;

}

}
.divLeft{
    margin-top: -6%;
    margin-bottom:5%;
}

}
.divBtnCerrar{
    float: right !important;
}
#hrefCerrar{
    font-size: 30px;
    font-weight: bold;
    float: right !important;
}
p {
font-size: 14px;
text-align: center;
}
</style>

{% endblock %}

{% block content %}


<button data-toggle="modal" id="modalDetalle" data-target="#exampleModal">ACEPTAR</button>
<!-- MODAL-->
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 20%;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="divBtnCerrar">
            <a href="{% url 'usuarios:usuario-index' %}" id="hrefCerrar">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <h4 class="modal-title" id="exampleModalLabel">MODO "Ver Como"</h4>
      </div>
        <div class="modal-body">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">
                    <h3 class="roles">Lo sentimos  <span class="fas fa-exclamation-circle"></span></h3>
            </legend>
                <div class="content">
                    <p>Esta accion no permitida.</p>
                </div>
            </div>
        </fieldset>
        </div>

  </div>
</div>
<!-- MODAL-->
{% endblock %}


{% block scripts %}
<script>
    //Estado
    function paginaInicial() {
      setTimeout(function(){
            window.location.href = '{% url 'usuarios:usuario-index' %}'
        }, 1500);}
    $("#modalDetalle").click();

</script>


{% endblock %}
