{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<style>
/*Modal*/
#exampleModalLabel{
    text-align: center;
    font-weight: bold;
}
#modalDetalle{
    display: none;
}
#titleDireccion{
    margin-left: 1em;
    width:auto;
}
label{
    font-weight: bold;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 15px;
    font-weight: bold !important;
    margin-left: 65px;
}
.spanUsuario{
    color: blue;
    font-size: 12px;
}
.roles{
    text-transform: uppercase;

}
.form-group{
    font-size: 12px;
}
.divLeft{
    margin-top: -6%;
    margin-bottom:4%;
}
#verImagen{
  height: 120px;
  float: right;
}
#imgCliente{
    border: 3px inset #878587;
    width:100px;
    height: 90px;
}
/*Swich Estado*/
.onoffswitch {
    position: relative;
    width: 96px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 1%;
    float: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label { /*borde Estado*/
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #f1f1f1; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 10px;
    size: 22;
    text-align: 1;
    background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "InActivo";
    padding-right: 3px;
    size: 5;
    background-color: red; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 12px;
    background: #FFFFFF;
    position: absolute; bottom: 0;
    padding-top: 17px; 
    right: 60px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    margin-bottom: 12px;
}
.divBtnCerrar{
    float: right;
}
#hrefCerrar{
    font-size: 30px;
    font-weight: bold;
}
.divEstado{
    display: none;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 60%;
    margin: 40px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 99%;
  }
}
</style>

{% endblock %}

{% block content %}


<button data-toggle="modal" id="modalDetalle" data-target="#exampleModal">ACEPTAR</button>
<!-- MODAL-->
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="divBtnCerrar">
            <a href="{% url 'usuarios:usuario-index' %}" id="hrefCerrar">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <h4 class="modal-title" id="exampleModalLabel">Información Usuario</h4>
      </div>
        <div class="modal-body">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">
                {% if object.is_administrador %}
                    <span class="roles">administrador </span>
                {% endif %}
                {% if object.is_administrador_punto %}
                    <span class="roles">administrador_punto </span>
                {% endif %}
                {% if object.is_responsable_campana %}
                    <span class="roles">responsable_campana </span>
                {% endif %}
                {% if object.is_asesor %}
                    <span class="roles">asesor </span>
                {% endif %}
                {% if object.is_persona_natural %}
                    <span class="roles">persona_natural</span>
                {% endif %}
                &nbsp;<span class="spanUsuario">{{object.first_name}} {{object.last_name}}</span>
            </legend>
            <div class="control-group ">
                <div class="content">
                    <div class="form-group">
                        <div class="col-lg-7 col-md-3 col-sm-1"></div>
                                        <div class="col-lg-5 col-md-9 col-sm-11">
                                            <output id="verImagen">
                                                <img src="{{ object.imagen.url }}" id="imgCliente" class="img-circle">
                                            </output>
                                            <!--Estado-->
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled>
                                                <label class="onoffswitch-label" for="myonoffswitch">
                                                    <span class="onoffswitch-inner span" value="0"></span>
                                                    <span class="onoffswitch-switch span" value="1"></span>
                                                </label>
                                            </div>
                                            <!--Estado-->
                                        </div>

                                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                    <i class="fas fa-chalkboard-teacher"></i>&nbsp;&nbsp;Rol</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                        {% if object.is_administrador %}
                                            <span>administrador</span>
                                        {% endif %}
                                        {% if object.is_administrador_punto %}
                                            <span>administrador_punto</span>
                                        {% endif %}
                                        {% if object.is_responsable_campana %}
                                            <span>responsable_campana </span>
                                        {% endif %}
                                        {% if object.is_asesor %}
                                            <span>asesor </span>
                                        {% endif %}
                                        {% if object.is_persona_natural %}
                                            <span>persona_natural</span>
                                        {% endif %}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                        <i class="fa fa-user-tie"></i>&nbsp;&nbsp;Nombre</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                         <div class="divEstado">
                                            <span>{{object.estado}}</span>
                                        </div>
                                        {{object.first_name|default_if_none:"sin Datos"}}
                                        <span class="help-block"></span>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                        <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Apellido</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                        {{object.last_name|default_if_none:"sin Datos"}}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label" style="white-space: nowrap;">
                                      <i class="fas fa-id-card-alt"></i>&nbsp;&nbsp;Tipo Documento</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                        {{object.tipo_identificacion|default_if_none:"sin Datos"}} 
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                    <i class="fa fa-id-card"></i>&nbsp;&nbsp;# Documento</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                        {{object.numero_documento|default_if_none:"sin Datos"}}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                    <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Telefono</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                        {{object.telefono|default_if_none:"sin Datos"}} Ext {{object.extencion|default_if_none:"sin Datos"}} 
                                        <span class="help-block"></span>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                    <i class="fa fa-street-view"></i>&nbsp;&nbsp;Direccion</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                        {{object.tipo_via |default_if_none:"" }}
                                        {{object.numero_via |default_if_none:"" }}
                                        {{object.prefijo_via |default_if_none:"" }}
                                        {% if object.bis_via_generadora == True %}
                                            {{'Bis'}}
                                        {% else %}   
                                            {{''}}  
                                        {% endif %}
                                        {{object.cuadrante_via |default_if_none:"" }}
                                        {{object.numero_via_generadora |default_if_none:"" }}
                                        {{object.prefijo_via_generadora |default_if_none:"" }}
                                        {% if object.bis_via == True %}
                                            {{'Bis'}}
                                        {% else %}   
                                            {{''}}  
                                        {% endif %}                                       
                                        {{object.numero_placa |default_if_none:"" }}
                                        {{object.cuadrante_via_generadora |default_if_none:"sin Datos"}}


                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-122 control-label">
                                    <i class="fas fa-location-arrow"></i>&nbsp;&nbsp;Complemento</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                        {{object.complemento|default_if_none:"sin Datos"}}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                    <i class="fas fa-street-view"></i>&nbsp;&nbsp;Barrio</label>
                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                         {{object.barrio|default_if_none:"sin Datos"}}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-lg-5 col-md-12 col-sm-6 control-label">
                                        <i class="fas fa-flag-usa"></i>&nbsp;&nbsp;Pais</label>
                                        <div class="col-lg-7 col-md-12 col-sm-12">
                                            {{object.pais|default_if_none:"sin Datos"}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-5 col-md-12 col-sm-12 control-label" style="white-space: nowrap;">
                                        <i class="fab fa-usps"></i>&nbsp;&nbsp;Departamento</label>
                                        <div class="col-lg-7 col-md-12 col-sm-12">
                                            {{object.departamento|default_if_none:"sin Datos"}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>    

                                    <div class="form-group">
                                        <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                        <i class="fas fa-city"></i>&nbsp;&nbsp;Ciudad</label>
                                        <div class="col-lg-7 col-md-12 col-sm-12">
                                            {{object.ciudad|default_if_none:"sin Datos"}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                        <i class="far fa-envelope"></i>&nbsp;&nbsp;Email</label>
                                        <div class="col-lg-7 col-md-12 col-sm-12">
                                            {{object.email|default_if_none:"sin Datos"}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-5 col-md-12 col-sm-12 control-label" style="white-space: nowrap;">
                                        <i class="far fa-calendar-alt"></i>&nbsp;Fecha Nacimiento</label>
                                        <div class="col-lg-7 col-md-12 col-sm-12" style="white-space: nowrap;">
                                            {{object.fecha_nacimiento|default_if_none:"sin Datos"}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                         <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                            <i class="fas fa-hand-point-right"></i>&nbsp;&nbsp;Punto Operación</label>
                                        {% if not obj.is_administrador %}
                                            {% if object.ptooperacion_set.constrained_target %}
                                                {%for x in object.ptooperacion_set.constrained_target %}
                                                    <div class="col-lg-7 col-md-12 col-sm-12">
                                                        {{x.ptooperacion |upper}}
                                                        <span class="help-block"></span>
                                                    </div>
                                                {%endfor%}
                                            {% else %}
                                                <div class="col-lg-7 col-md-12 col-sm-12">No Aplica
                                                        <span class="help-block"></span>
                                                </div>
                                            {%endif%}
                                        {%endif%}
                                    </div> 

                                    <div class="form-group">
                                         <label class="col-lg-5 col-md-12 col-sm-12 control-label">
                                            <i class="fas fa-flag"></i>&nbsp;&nbsp;Regional</label>
                                            {% if not obj.is_administrador %}
                                                {% if object.ptooperacion_set.constrained_target %}
                                                    {%for x in object.ptooperacion_set.constrained_target %}
                                                        <div class="col-lg-7 col-md-12 col-sm-12">
                                                            <p>{{x.ptooperacion.regional |upper}}</p>
                                                            <span class="help-block"></span>
                                                        </div>
                                                    {%endfor%}
                                                {% else %}
                                                    <div class="col-lg-7 col-md-12 col-sm-12">No Aplica
                                                        <span class="help-block"></span>
                                                    </div>
                                                {%endif%}
                                            {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        </fieldset>
        </div>
        {% if eliminar and not request.user.is_super_administrador %}
            <div class="modal-footer">
                <button title="Eliminar Usuario" value={{object.id}} class="btn btn-danger" id="btnEliminar">Eliminar</button>
            </div>
        {% endif %}
  </div>
  </div>
</div>
<!-- MODAL-->
{% endblock %}


{% block scripts %}
<script>
    //Estado
    var estado = $(".divEstado > span").text();
    if( estado == 'True'){
        $("#myonoffswitch").prop('checked',true);
    }else{
        $("#myonoffswitch").prop('checked',false);
    }

    function paginaInicial() {
      setTimeout(function(){  
            window.location.href = '{% url 'usuarios:usuario-index' %}'  
        }, 1500);
    }

    var descripUsuario = $("#titleDireccion > span").text();
    $("#modalDetalle").click();
    $("#btnEliminar").click(function() {
        var idEliminar;
        idEliminar = $("#btnEliminar").val();
        Swal.fire({
            title: 'Eliminar Usuario',
            type: 'warning',
            html:'<span>¿ Desea Eliminar el <strong>'+descripUsuario+'</strong> ?</span>',
            showCancelButton: true, 
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.value) {  
                var data = 4; 
               $.ajax({  
                    url: '{% url "usuarios:usuario-eliminar" %}',
                    type: 'post',
                    data:{ 
                        'id':idEliminar,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',//Token al ser Post
                    }
                }).done(function(data){
                    console.log( typeof(data) + ' **** ' +data);
                    switch ( data ){
                        case 0:
                             Swal.fire({
                                type: 'success',
                                title: 'Felicidades',
                                text:  'Eliminado Exitosamente',
                                timer: 2000
                            });
                            paginaInicial(); 
                            break;
                        case 1://is_administrador
                             Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Error El Administrador NO Se Puedo Eliminar',
                            });
                            break;
                        case 2://is_administrador_punto
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error El Administrador Punto NO Se Puedo Eliminar',
                            });
                            break;
                        case 3://is_asesor
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error El Asesor NO Se Puedo Eliminar',
                            });
                            break;
                        case 4://is_responsable_campana
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error El Responsable Campaña NO Se Puedo Eliminar existen campañas asociadas',
                            });
                            break;
                        case 5://is_persona_natural
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error La Persona Natural NO Se Puedo Eliminar',
                            });
                            break;
                        case 6://rol no existente
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error Rol No Existente',
                            });
                            break;
                        case 7://Exception error en backend
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error En el Sistema',
                            });
                            break;
                        default:
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error Ocurrio Una Exception',
                            });
                    }
                });
            }
        });   
    });
</script> 
 

{% endblock %}