{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/usuarios/nuevo.css' %}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            
            <a href='{% url "usuarios:usuario-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Listado Usuarios
            </a> 
   
                <div class="row">
                    <div class="panel-heading ui-draggable-handle">
                        <h3 class="panel-title"><strong>Actualizar Usuario </strong></h3>
                    </div>

                    <output id="verImagen"> 
                        <img src="{{form.instance.imagen.url}}" id="imgCliente" class="img-circle">
                    </output>
                
                    <!--Estado-->
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                         <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner" value="0"></span>
                            <span class="onoffswitch-switch spanInActivo" value="1"></span>
                        </label>
                    </div>
                    <!--Estado-->

                </div>

                <div class="2divFormLogo" style="float: right;">
                    {{form.imagen}}
                </div>
                </br>
                </br>
                </br>
                </br>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-12">

                        <div class="form-group">
                        <label class="col-md-4 control-label" for="rol">
                             <i class="far fa-calendar-alt"></i>Rol<span class="span">*</span>
                         </label>
                            <div class="col-md-8" id="rol">
                                {% if form.instance.is_administrador_punto %}
                                <strong id="rol">is_administrador_punto</strong>
                                {% elif form.instance.is_responsable_campana %}
                                <strong id="rol">is_responsable_campana</strong>
                                {% elif form.instance.is_asesor %}
                                <strong id="rol">is_asesor</strong>
                                {% elif form.instance.is_administrador %}
                                <strong id="rol">is_administrador</strong>
                                {%else%}
                                passs
                                {% endif %}
                                &nbsp;
                            </div>
                        </div>    
                        <br>
                        
                        {% if form.instance.codigo %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                             <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;Codigo<span class="span">*</span></label>
                            <div class="col-md-8">
                                <p>
                                    {{form.instance.codigo}}
                                </p>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        {% endif %}

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fa fa-user-tie"></i>&nbsp;&nbsp;Nombre<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.first_name}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Apellido<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.last_name}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fas fa-id-card-alt"></i>&nbsp;Tipo Documento<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.tipo_identificacion}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fa fa-id-card"></i>&nbsp;&nbsp;# Documento<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.numero_documento}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        
                        {% if form.instance.fecha_nacimiento %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                             <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;Fecha Nacimiento<span class="span">*</span></label>
                            <div class="col-md-8">                                
                                    <p> {{form.instance.fecha_nacimiento}}</p>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        {% endif %}
                        

                        <div class="form-group">
                            <div class="col-md-4 labelDireccion">
                                <label><i class="fas fa-street-view"></i>&nbsp;&nbsp;Direccion&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            
                            <div class="col-md-7 col-sm-11 col-xs-10">
                                <input type="text" value="" class="form-control" id="direccion2" data-toggle="modal" data-target="#exampleModal" placeholder="Dirección" name="Dirección2">
                                <span class="help-block"></span>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <span title="Elimar Contenido" class="glyphicon glyphicon-trash" id="iconoEliminar"> 
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4 control-label divComp">
                                <i class="fas fa-location-arrow"></i>&nbsp;&nbsp;Complemento</label>
                                <div class="col-md-8">
                                    <span class="help-block" id="spanComplemento">
                                         {% if form.instance.complemento %}
                                            {{form.instance.complemento}}
                                         {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4 control-label divBar">
                                <i class="fas fa-street-view"></i>&nbsp;&nbsp;Barrio</label>
                                <div class="col-md-8">
                                    <span class="help-block" id="spanBarrio">
                                         {% if form.instance.barrio %}
                                            {{form.instance.barrio}}
                                         {% endif %}
                                    </span>
                                </div>
                             </div>
                        </div> 
                   
                        <div class="form-group divDirecciones">
                            <label class="col-md-4 control-label">Campos Ocultos</label>
                            <div class="col-md-8">
                                <div>
                                    {{form.barrio}}
                                    {{form.complemento}}    
                                    {{form.cuadrante_via_generadora}}
                                    {{form.numero_placa}}
                                    {{form.bis_via_generadora}}
                                    {{form.prefijo_via_generadora}}
                                    {{form.numero_via_generadora}}
                                    {{form.cuadrante_via}}
                                    {{form.bis_via}}
                                    {{form.prefijo_via}}
                                    {{form.numero_via}}
                                    {{form.tipo_via}}
                                </div> 
                                <span class="help-block"></span>
                            </div>

                        </div>
                    </div>
                </div>            
                
                <div class="col-md-6 col-sm-6 col-xs-6 divForm">

                    <div class="form-group" style="display: none;">
                        <label class="col-md-4 control-label">
                        <i class="far fa-envelope"></i>Imagen<span class="span"> *</span></label>
                        <div class="col-md-8 ">
                            <div class="img">
                                {{form.imagen}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                        <i class="far fa-envelope"></i>&nbsp;&nbsp;Email<span class="span"> *</span></label>
                        <div class="col-md-8">&nbsp;
                            {% if form.instance.email %}
                                <strong>
                                {{form.instance.email}}
                                </strong>
                            {% endif %}
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-flag-usa"></i>&nbsp;&nbsp;Pais<span class="span"> *</span></label>
                        <div class="col-md-8">
                            {{form.pais}}
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="divDepartamento">
                            <label class="col-md-4 control-label">
                            <i class="fab fa-usps"></i>&nbsp;&nbsp;Departamento<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.departamento}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="divCiudad">
                            <label class="col-md-4 control-label">
                            <i class="fas fa-city"></i>&nbsp;&nbsp;Ciudad<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.ciudad}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-4 col-sm-3 col-xs-4 control-label">
                                <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Telefono<span class="span"> *</span></label>
                            <div class="col-md-4 col-sm-3 col-xs-8">
                                {{form.telefono}}
                                <span class="help-block"></span>
                            </div>
                        
                            <label class="col-md-1 col-sm-1 col-xs-4 control-label">Ext</label>
                            <div class="col-md-3 col-sm-5 col-xs-8">
                                {{form.extencion}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group divAsesor" id="divAsesores">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Asesor</label>
                        <div class="col-md-8">
                            {{form.asesor}}
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group divRegional" id="divRegionales">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-globe-americas">&nbsp;&nbsp;</i>Regional<span class="span"> *</span></label>
                        <div class="col-md-8">
                            {{form.regional}}
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group divPunOperacion" id="divPunOperaciones">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Punto Operacion<span class="span"> *</span></label>
                        <div class="col-md-8">
                            {{form.Punto_Operacion}}
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group" style="display: none;">
                        <label class="col-md-3 control-label">
                        <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;estado</label>
                        <div class="col-md-9">
                            <span class="spanEstado">{{object.estado}}&nbsp;
                                                    {{form.estado}}
                            </span>
                        </div>
                    </div> 
                </div>
       
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                            <i class="fa fa-save" aria-hidden="true"></i>Guardar
                        </button>
                        <button type="button" class="btn btn-danger pull-right" id="btnLimpiar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                        </button> 
                    </div>
                </div> 
        </form>
     </div>





<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Gestor Usuarios</h3>
        </div>
        <div class="modal-body mt-5">
     
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">Direccion</legend>
                <div class="control-group ">
                    <form id="formModal">
                        <div class="form-group">
                            <label class="col-md-12 control-label"></label>
                            <div class='col-md-2 divTipo'>
                                <select name="idTipo" class="form-control" required id="idTipo">
                                  <option value="">Seleccione Tipo</option>
                                    <option value="CARRERA">CARRERA</option>
                                    <option value="CALLE">CALLE</option>
                                    <option value="DIAGONAL">DIAGONAL</option>
                                    <option value="TRANSVERSAL">TRANSVERSAL</option>
                                </select>
                            </div>
                            <div class='col-md-1'>
                                <input type="number" class="form-control" placeholder="Numero" name="numCalle" id="numCalle" min="0" max="9" pattern="^[0-9]+" required>
                            </div>
                            <div class='col-md-1'>
                                <select name="prefijo_via" class="form-control" id="idPrefijoVia">
                                  <option value="" selected disabled>Prefijo</option>
                                  <option value="0"></option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-1' style="width: 31px;">
                                Bis 
                                <input type="checkbox" name="id_via" value="" id="id_via">
                            </div>
                            <div class='col-md-2'>
                                <select name="cuadrante_via" class="form-control" id="idCuadranteVia">
                                  <option value="" selected disabled>Orientacion</option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>

                            <div class='col-md-1'>
                                <input type="number" class="form-control"  placeholder="Numero" name="numCalle2" id="numCalle2" min="0" max="9" pattern="^[0-9]+" required> 
                            </div>
                            <div class='col-md-1'>
                                <select name="prefijo_via_generadora" class="form-control" id="idPrefijo2">
                                  <option value="" selected disabled>Prefijo</option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-1' style="width: 31px;">
                                Bis
                                <input type="checkbox" name="id_via2" value="" id="id_via2">
                            </div>
                            <div class='col-md-1'>
                                 <input type="text" placeholder="Placa" class="form-control" name="idPlaca" id="idPlaca" required>
                            </div>  
                            <div class='col-md-2'>
                                <select name="cuadrante_via_generadora" class="form-control" id="idCuadrante">
                                  <option value="" selected disabled>Orientacion</option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 30px;">
                                    
                                    <div class="col-md-6">
                                        <label class="col-md-6">Complemento</label>
                                        <div class="col-md-0 divComplemento">
                                    
                                             <input type="text" class="form-control" name="ModalComplemento" placeholder="Complemento" id="ModalComplemento">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label class="col-md-6">Barrio</label>
                                        <div class="col-md-0">
                                            <input type="text" class="form-control" name="ModalBarrio" placeholder="Barrio" id="ModalBarrio">
                                          
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
            
                        <div style="height: 60px;"></div>
                    </form>
                </div>
        </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAceptarModal">Aceptar</button>
        <button type="button" class="btn btn-secondary" id="btnCerrarModal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL -->

</div>  <!--fin contend-->

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script>

//Estado Actual
var estado = $("#id_estado").is(":checked");
if( estado ){
    $("#myonoffswitch").attr('checked',true);
}else{
    $("#myonoffswitch").attr('checked',false);
}

//New Estado
$("#myonoffswitch").change(function(){
    if($(this).prop("checked") == true){
         $("#id_estado").prop('checked',true);
    }else{
        $("#id_estado").attr('checked',false);
    }
});


//Regional
function regional(){
    var contador = 0;
    $("#id_regional option").each(function(){
        contador += parseInt( $(this).attr('value') );
    });
    if( contador == 0 ){
        Swal.fire({
            type: 'error',                
            title: 'Oops...',
            text:   'Usuario No Cuenta Con Regionales',
        });
        $("input[class='select2-search__field']").attr('required',false);
        $("#id_regional").attr('required',false);
    }
}

//Asesor
//$("#id_rol").change(function(){
    //var rol = $("#id_rol option:selected").val();
    var rol = $.trim($("#rol").text())
    $("#id_Punto_Operacion").empty();
    //("#i   option[value='']").attr('disabled',true);
    $("span[class='select2 select2-container select2-container--default']").css('width','100%');
  
    if( rol == 'is_administrador_punto'  ){
        $("#id_regional").attr('required',true);
        $("#id_Punto_Operacion").attr('required',true);
        $("#divRegionales").removeClass('divRegional');
        $("#divPunOperaciones").removeClass('divPunOperacion');
        $("#divAsesores").addClass('divAsesor');
        regional();
    }
 
    if( rol == 'is_asesor' ){
        $("#id_regional").attr('required',true);
        $("#id_Punto_Operacion").attr('required',true);
        $("#divRegionales").removeClass('divRegional');
        $("#divPunOperaciones").removeClass('divPunOperacion');
        $("#divAsesores").addClass('divAsesor');
        regional();
    }

    if( rol == 'is_responsable_campana' ){
        $("#id_regional").attr('required',false);
        $("#id_Punto_Operacion").attr('required',false);
        $("#divAsesores").removeClass('divAsesor');
        $("#divRegionales").addClass('divRegional');
        $("#divPunOperaciones").addClass('divPunOperacion');
    }
   
    if( rol == 'is_administrador' ){
        $("#id_regional").attr('required',false);
        $("#id_Punto_Operacion").attr('required',false);
        $("#divAsesores").addClass('divAsesor');
        $("#divRegionales").addClass('divRegional');
        $("#divPunOperaciones").addClass('divPunOperacion');
    }
//});

$("#id_Punto_Operacion").attr('class','form-control selectDos');
$('.selectDos').select2({
    placeholder: 'Seleccione Uno o Mas Puntos de Operación',
});

$("#id_rol option[value='']").attr('disabled',true);


$("#iconoEliminar").click(function(){
    $("#direccion2").val('');
    $("#formModal")[0].reset();
    //Blanquear Campos
    $("#id_barrio").val('');
    $("#id_complemento").val('');
    $("#id_cuadrante_via_generadora").val('');
    $("#id_numero_placa").val('');
    $("#id_bis_via_generadora").prop('checked',false);
    $("#id_prefijo_via_generadora").val('');
    $("#id_numero_via_generadora").val('');
    $("#id_cuadrante_via").val('');
    $("#id_bis_via").prop('checked',false);
    $("#id_prefijo_via").val('');
    $("#id_numero_via").val('');
    $("#id_tipo_via").val('');
    $("#spanComplemento").text('');
    $("#spanBarrio").text('');
    $("#direccion2").attr('readonly',false);
}); 

//Modal
var formData;
$("#btnAceptarModal").click(function(){
    if( $("#idTipo").val() == '' ){
        Swal.fire(
            'Advertencia ..!',
            'Seleccione Un Tipo',
            'warning',
        )
    }else if( ( $("#numCalle").val().length == '' ) | ( $("#numCalle").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Numeros !',
            'Escriba El Numero De Dirección',
            'warning',
        )
        $("#numCalle").focus();
    }else if( ( $("#numCalle2").val().length == '' ) | ( $("#numCalle2").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Numeros !',
            'Escriba El Segundo Numero De Dirección',
            'warning',
        )
        $("#numCalle2").focus();
    }else if( ($("#idPlaca").val().length == '') | ( $("#idPlaca").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Digitos',
            'Escriba Una Placa ',
            'warning',
        )
        $("#idPlaca").focus();
    }else{
        formData = '';
        $('#formModal').find('input, textarea, select').each(function(i, field) {
            formData += field.value+' ';
            //console.log(formData)
        });
        $("#direccion2").val( formData );

        //Asigno Valores Campos Ocultos
        $("#id_tipo_via").val( $("#idTipo").val() );
        $("#id_numero_via").val( $("#numCalle").val() ); 

        $("#id_prefijo_via").val( $("#idPrefijoVia option:selected").val() );
        $("#id_cuadrante_via").val( $("#idCuadranteVia").val() );
        $("#id_numero_via_generadora").val( $("#numCalle2").val() );
        $("#id_prefijo_via_generadora").val( $("#idPrefijo2").val() );
        $("#id_numero_placa").val( $("#idPlaca").val() );
        $("#id_cuadrante_via_generadora").val( $("#idCuadrante").val() );
        $("#id_complemento").val( $("#ModalComplemento").val() );
        $("#id_barrio").val( $("#ModalBarrio").val() );
        
        //Asigno Valores Campos Ocultos
        $("#exampleModal").modal('hide');
        $("#spanComplemento").html( $("#id_complemento").val() );
        $("#spanBarrio").html( $("#id_barrio").val() );

        $("#direccion2").attr('readonly','readonly');

        //Datos
        var dir = $("#id_tipo_via").val();
        var nu = $("#id_numero_via").val();
        var pre = $("#id_prefijo_via").val();
        var check='';
        var num2 = $("#id_numero_via_generadora").val();
        var numVia = $("#id_cuadrante_via").val();
        var pre2 = $("#id_prefijo_via_generadora").val();
        var check2 = '';
        var plac = $("#id_numero_placa").val();
        var cuadra = $("#id_cuadrante_via_generadora").val();

        $("#idTipo").val( dir );
        $("#numCalle").val( nu );
        $("#idPrefijoVia").val( pre );
        $("#idCuadranteVia").val( numVia );

        $("#numCalle2").val( num2 );
        $("#idPrefijo2").val( pre2 );
        $("#idPlaca").val( plac );
        $("#idCuadrante").val( cuadra );

        if( $("#id_via").is(':checked') ){
            check = 'Bis';
            $("#id_bis_via_generadora").prop('checked',true);
            $("#id_bis_via_generadora").val( check );
        }
        if( $("#id_via2").is(':checked') ){
            check2 = 'Bis';
            $("#id_bis_via").prop('checked',true);
            $("#id_bis_via").val( check2 );
        }

        $("#direccion2").val( dir+' '+nu+' '+check+' '+pre+' '+numVia+' '+' '+check2+' '+pre2+' '+plac+' '+cuadra );

        $("#spanComplemento").html( $("#id_complemento").val() );
        $("#spanBarrio").html( $("#id_barrio").val() );

    }
});

$("#id_via").change(function(){
    if( $("#id_via").is(":checked") ){
        $("#id_via").attr('value','Bis');
        $("#id_bis_via_generadora").prop('checked',true);//checked 1 Oculto
    }else{
         $("#id_via").attr('value','');
         $("#id_bis_via_generadora").prop('checked',false);
    }
}); 

$("#id_via2").change(function(){
    if( $("#id_via2").is(":checked") ){
        $("#id_via2").attr('value','Bis');
        $("#id_bis_via").prop('checked',true);//checked 2 Oculto
    }else{
         $("#id_via2").attr('value','');
         $("#id_bis_via").prop('checked',false);
    }
}); 


$("#btnCerrarModal").click(function(){
    $("#exampleModal").modal('hide');
    $("#direccion2").attr('readonly','readonly');
});


//pais
$("#id_pais").change(function() {
    var idPais = $("#id_pais option:selected").val();
    if (idPais > 0) {
        $.ajax({
            url: '{% url "clientes:get-departamento" %}',
            type: 'get',
            data: {
                'id': idPais
            }
        }).done(function(data) {
            var valores = '';
            var datos = JSON.parse(data);
            $("#id_departamento").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_departamento").append(valores);
            $("#id_departamento").attr('disabled', false);
            $("#id_departamento").removeClass('selectValidate');
        });
    } else {
        $("#id_departamento").attr('disabled', true);
        $("#id_departamento").html("<option value=''>Seleccione Una Opción</option>");
        $("#id_ciudad").attr('disabled',true);
        $("#id_ciudad").html("<option value=''>Seleccione Una Opción</option>");
    }
});

//Departamento
$("#id_departamento").change(function() {
    var idDepartamento = $("#id_departamento option:selected").val();
    if (idDepartamento > 0) {
        $.ajax({
            url: '{% url "clientes:get-ciudad" %}',
            type: 'get',
            data: {
                'id': idDepartamento
            }
        }).done(function(data) {
            var valores = ''
            var datos = JSON.parse(data);
            $("#id_ciudad").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_ciudad").append(valores);
            $("#id_ciudad").attr('disabled', false);
            $("#id_ciudad").removeClass('selectValidate');
        });
    }else {
        $("#id_ciudad").attr('disabled', true);
    }
});

//logo Tamaño,Extencion
$(document).on('change','input[type="file"]',function(){
    var fileName = this.files[0].name;
    var fileSize = this.files[0].size;

    if (fileSize > 1000000) {
        Swal.fire(
            'Advertencia ..!',
            'El archivo no debe superar 1MegaByte de Peso',
            'warning',
        )
        this.value = '';
        this.files[0].name = '';
    }else {
        var ext = fileName.split('.').pop();
        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                break;
            default:
                Swal.fire(
                    'Advertencia ..!',
                    'Archivo No Tiene la Extensión Adecuada',
                    'warning',
                )
                this.value = '';
                this.files[0].name = '';
        }
    }
});

//Text Imagen
$("#imagen-clear_id").hide();
$("label[for='imagen-clear_id']").hide();

//logo 

function archivo(evt){
    var files = evt.target.files; 
    //Obtenemos la imagen del campo "file". 
    for (var i = 0, f; f = files[i]; i++) {         
       //Solo admitimos imágenes.
       if (!f.type.match('image.*')) {
            continue; 
       }
       var reader = new FileReader();
       reader.onload = (function(theFile) {
           return function(e) {
           // Creamos la imagen.
           document.getElementById("verImagen").innerHTML = ['<img class="img-circle" style="border: 4px inset #878587;" width="130" height="110" src="', e.target.result,'" title="',escape(theFile.name),'"/>'].join('');
        };
       })(f);  
       reader.readAsDataURL(f);
    }
}
document.getElementById('id_imagen').addEventListener('change', archivo, false);

$('#id_regional').change(function(){
    $.ajax({
        url: "{% url 'sedes:pto-get' %}", 
        data: {
            'id': this.value
        }
    }).done(function(data) {
        console.log(data.length )
        if( data.length > 2 ){
            var valores = '';
            var datos = JSON.parse(data);
            $("#id_Punto_Operacion").empty();
            valores = "<option value='' disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + (val.fields.nombre).toUpperCase() + "</option>";
            });
            $("#id_Punto_Operacion").append(valores);
            $("#id_Punto_Operacion").attr('disabled', false);
        }else{
            Swal.fire({
                type: 'error',
                title: 'Oops...',
                text:   'Sin Punto Operacion',
            });
            $("#id_Punto_Operacion").empty();
        }
    });
});

 
//Editar Información
$("#id_departamento").addClass('selectValidate');//theme-default.css
$("#id_ciudad").addClass('selectValidate');//theme-default.css

//Valor  Direccion Complemento,Barrio
var bisVia = $("#id_bis_via").is(':checked') ? 'Bis':'';
var bisViaDos = $("#id_bis_via_generadora").is(':checked') ? 'Bis':'';
$("#spanComplemento").text( $("#id_complemento").val() );
$("#spanBarrio").text( $("#id_barrio").val() );

$("#direccion2").val( $("#id_tipo_via").val()+' '+$("#id_numero_via").val()+' '+
    $("#id_prefijo_via").val()+' '+bisVia+' '+$("#id_cuadrante_via").val()+' '+
    $("#id_numero_via_generadora").val()+' '+bisViaDos+' '+$("#id_prefijo_via_generadora").val()+' '+
    $("#id_numero_placa").val()+' '+$("#id_cuadrante_via_generadora").val()
);

//Datos En Modal
$("#idTipo").val( $("#id_tipo_via").val() );
$("#numCalle").val( $("#id_numero_via").val() );
$("#idPrefijoVia").val( $("#id_prefijo_via").val() );
$("#id_bis_via").is(':checked') ? $("#id_via").attr('checked',true) : $("#id_via").attr('checked',false);
$("#idCuadranteVia").val( $("#id_cuadrante_via").val() );
$("#numCalle2").val( $("#id_numero_via_generadora").val() );
$("#idPrefijo2").val( $("#id_prefijo_via_generadora").val() );
$("#id_bis_via_generadora").is(':checked') ? $("#id_via2").attr('checked',true) : $("#id_via2").attr('checked',false);
$("#idPlaca").val( $("#id_numero_placa").val() );
$("#idCuadrante").val( $("#id_cuadrante_via_generadora").val() );
$("#ModalComplemento").val( $("#spanComplemento").text() );
$("#ModalBarrio").val( $("#spanBarrio").text() );

</script>

<!--Nelson-->

<!--VALIDACION DE ROLES-->
 
{% if request.user.is_administrador %}
     <script>
        $("#id_rol option[value='is_persona_natural']").remove();
    </script>
{% elif request.user.is_administrador_punto  %}

    <script>
        $("#id_rol option[value='is_administrador']").remove();
        $("#id_rol option[value='is_administrador_punto']").remove();
        $("#id_rol option[value='is_persona_natural']").remove();
    </script>
{% endif %}
<!--VALIDACION  DE ROLES-->

<script>
notificaciones();
</script>

{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}

<!--Nelson-->
{% endblock %}


