{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/usuarios/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<body onload="noAtras()">
    <div class="panel-body"> <!-- end panel Body-->
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'usuarios:usuario-nuevo' %}" id="new" class="btn btn-success">
                    <i class="fa fa-plus"></i> Nuevo Usuario
                </a>
            </div>

            <div class="col-md-12">
                <div class="contentBuscar">
                    <div class="divBuscar">
                        <form id="Idform" method="get">
                            <div id="divInputBuscar">
                                <input type="text" id="buscarUsuario" class="form-control" name="q" placeholder="Buscar Usuario" value="{{request.GET.q}}">
                            </div>
                            <button type="submit" id="btnBuscar" class="btn btn-info">
                                <i class="fa fa-search"></i>Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        {% if object_list%}
        {% if page_obj and not request.user.is_super_administrador %}
        <div style="text-align:right; height:1em;">
                    <a href="{% url 'reportes:reportes-usuarios' %}" class="fas fa-file-download fa-2x" ></a> <strong>Descargar Reporte</strong>
        </div>
        {% endif %}
        <hr>
        <p><strong>{{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados</strong></p>
        <div class="table-responsive">
            <table id="listUsuario" class="table table-striped">
                <thead>  
                    <th colspan="25" id="colspan">Listado de Usuarios</th>
                    <tr>
                        <th>&nbsp;&nbsp;&nbsp;Acción&nbsp;&nbsp;&nbsp;</th>
                        <th>Estado</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tipo Documento</th>
                        <th># Documento</th>
                        <th>Rol</th>
                        <th>Codigo</th>
                        <th>Email</th>
                        <th>Telefono Ext</th>
                        <th>Contacto</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Direccion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </th>
                        <th>Complemento</th>
                        <th>Barrio</th>
                        <th>Fecha Nacimiento</th>
                        <th>R.Campaña</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PuntoOperación&nbsp;&nbsp;  &nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;&nbsp;Regional&nbsp;&nbsp;&nbsp;</th>
                        <th>País</th>
                        <th>Ciudad</th>
                        <th>Departamento </th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr class="tr">
                        <td>
                            <a href="{% url 'usuarios:usuario-consultar' pk=obj.id delete=obj.id %}" title="Consultar" id="Consultar">
                                <span class="fa fa-eye iconConsul" data-toggle="modal" data-target="#exampleModal"></span>
                            </a>
                            |
                            {% if not request.user.is_super_administrador %}
                            <a href="{% url 'usuarios:usuario-actualizar' pk=obj.id %}" title="Editar" id="editar">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            {% else %}
                            <a title="desabilitado" id="editar"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                            | 
                            <a href="{% url 'usuarios:usuario-consultar' pk=obj.id delete='Eliminar' %}" title="Eliminar" id="eliminar">
                                <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModal"></span>
                            </a>
                        </td>
                        <td>
                            {% if obj.estado %}
                                <span class="label label-success">Activo</span>
                            {%else%}
                                <span class="label label-danger">Inactivo</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ obj.first_name|default_if_none:""  |upper}}
                        </td>
                        <td>
                            {{ obj.last_name|default_if_none:""   |upper}}
                        </td>
                        <td>
                            {{ obj.tipo_identificacion|default_if_none:"" |upper}}
                        </td>
                        <td>
                            {{ obj.numero_documento|default_if_none:""    |upper}}
                        </td>
                        <td>
                            {% if obj.is_administrador %}
                                ADMINISTRADOR
                            {% endif %}
                            {% if obj.is_administrador_punto %}
                                ADMINISTRADOR PUNTO
                            {% endif %}
                            {% if obj.is_responsable_campana %}
                                RESPONSABLE CAMPAÑA
                            {% endif %}
                            {% if obj.is_asesor %}
                                ASESOR
                            {% endif %}

                            {% if obj.is_persona_natural and not obj.is_asesor %}
                                PERSONA NATURAL
                            {% endif %}
                        </td>
                        <td>
                            {{ obj.codigo|default_if_none:"No Aplica"  |upper}}
                        </td>
                        <td>
                            {{obj.email|default_if_none:""}}
                        </td>
                        <td>
                            {{obj.telefono|default_if_none:"No Aplica" |upper}} 
                            {% if obj.extencion %}
                                Ext {{obj.extencion}}
                            {%endif%}
                        </td>
                        <td>
                            {{obj.telefono|default_if_none:"No Aplica" |upper}} 
                            {% if obj.extencion %}
                                Ext {{obj.extencion}}
                            {%endif%}
                        </td>
                        <td style="font-size: 10px;">
                            {{obj.tipo_via |default_if_none:""    |upper}}
                            {{obj.numero_via |default_if_none:""  |upper}}
                            {{obj.prefijo_via |default_if_none:"" |upper}}
                            {%if obj.bis_via_generadora %}
                                Bis
                            {% endif %}                           
                            {{obj.cuadrante_via |default_if_none:""   |upper}}
                            {{obj.numero_via_generadora |default_if_none:""   |upper}}
                            {{obj.prefijo_via_generadora |default_if_none:""  |upper}}
                            {%if obj.bis_via %}
                                Bis
                            {% endif %}
                            {{obj.numero_placa |default_if_none:""    |upper}}
                            {{obj.cuadrante_via_generadora |default_if_none:""    |upper}}
                        </td>
                        <td>
                            {{obj.complemento|default_if_none:"Sin Dato"  |upper}}
                        </td>

                        <td>
                            {{obj.barrio|default_if_none:"Sin Dato"   |upper}}
                        </td>
                        <td>
                            {{obj.fecha_nacimiento |default_if_none:"Sin Dato"  |upper}} 
                        </td>
                        <td>
                            {{obj.asesor|default_if_none:"No Aplica" |upper}}
                        </td>
                        <td>
                            {% if not obj.is_administrador %}
                                    {%for x in obj.ptooperacion_set.constrained_target %}
                                        <p>{{x.ptooperacion |upper}}</p>
                                    {%endfor%}
                                {% else %}
                                   <p>NO APLICA</p>
                            {%endif%}
                        </td>
                        <td>
                            {% if not obj.is_administrador %}
                                {%for x in obj.ptooperacion_set.constrained_target %}
                                    <p> {{x.ptooperacion.regional |upper}}</p>
                                {%endfor%}
                            {% else %}
                               <p>NO APLICA</p>
                            {%endif%}
                        </td>
                       <td>
                            {{obj.pais|default_if_none:"No Aplica" |upper}}
                        </td> 
                        <td>
                            {{obj.ciudad|default_if_none:"No Aplica" |upper}}
                        </td> 
                        <td>
                            {{obj.departamento|default_if_none:"No Aplica" |upper}}
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page=
                            {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="active">
                            <a href="#!">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="waves-effect">
                            <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="waves-effect">
                            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {%else%}
                <input type="hidden" name="q" value="0" id="inputSinRegistros">
                <div class="divSinRegistros">
                    <i class="fa fa-database iconSinResul"></i>
                    <span class="spanSinResul">&nbsp; Sin Registros</span>
                </div>
                {%endif%}
            </div>
        </div>
    </div> <!-- end panel Body-->
</body>

{% endblock %}

{% block scripts %}
<script> 
$("tr:odd").css("background-color", "#daf4ff"); // filas pares

//BtnAtras del Navegador
function noAtras(){
   window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button"
    window.onhashchange=function(){
        window.location.hash="no-back-button";
    }
}
//BtnAtras del Navegador

var registros;
registros = $("#inputSinRegistros").val();
//table
var table = $('#listUsuario').DataTable({
    "paging": false,
    "info": false,
    "searching": false,
    "ordering": false,
});

if (registros == 0) {
    Swal.fire({
        title: '¡Sin Datos!',
        text: "No Cuenta Con Resgistros Relacionados Con La Búsqueda",
        type: 'warning',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.value) {
            registros = 1;
            window.location.href = "clientes:cliente-index";
        }
    });
}
</script>
{% endblock %}