{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/usuarios/nuevo.css' %}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            <div style="display: none;">
                {{form.estado}}
                <input type="file" name="imagen" accept="image/*" id="idImg">
            </div>

            <a href='{% url "usuarios:usuario-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Listado Usuarios
            </a> 

            <div class="content"><!--formulario-->
              <div class="row">
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-12">
                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title"><strong>Actualizar Usuario</strong></h3>
                            </div>
                            
                            <div class="container">
                              <div disabled>
                                <output id="verImagen"> 
                                    <img src="{% static ''%}{{img}}" id="imgCliente" class="img-circle">
                                </output>

                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner" value="0"></span>
                                        <span class="onoffswitch-switch spanInActivo" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
                        
                    {% else %}
                    <div class="col-md-12">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><strong>Nuevo Usuario</strong> </h3>
                        </div>
                  
                        <div class="row">
                            <div class="mario" style="margin-right: 97px;">
                                <div disabled>
                                    <output id="verImagen"> 
                                        <img src="{% static 'imagen-cliente/user2.svg' %}" id="imgCliente" class="img-circle">
                                    </output>
                                </div>

                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner span" value="0"></span>
                                        <span class="onoffswitch-switch span" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>
       
                    <div>
                        <div style="float: right;">
                           {{form.imagen}}
                        </div>
                        <div></div>   
                    </div>
                 
                    </div>
                    {% endif %}
            </div>
            </br>
            </br>
            <div class="col-md-12">        
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            <i class="fas fa-chalkboard-teacher"></i>&nbsp;&nbsp;Rol<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.rol}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            <i class="fa fa-user-tie"></i>&nbsp;&nbsp;Nombre<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.first_name}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Apellido<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.last_name}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            <i class="fas fa-id-card-alt"></i>&nbsp;Tipo Documento<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.tipo_identificacion}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            <i class="fa fa-id-card"></i>&nbsp;&nbsp;# Documento<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.numero_documento}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-5 control-label">
                             <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;Fecha Nacimiento<span class="span">*</span></label>
                            <div class="col-md-7">
                                {{form.fecha_nacimiento}}
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        

                        <div class="form-group">
                            <div class="col-md-5 labelDireccion">
                                <label><i class="fas fa-street-view"></i>&nbsp;&nbsp;Direccion&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            
                            <div class="col-md-6 col-sm-11 col-xs-10">
                                <input type="text" value="" class="form-control" id="direccion2" data-toggle="modal" data-target="#exampleModal" placeholder="Dirección" name="Dirección2">
                                <span class="help-block"></span>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-2">
                                <span title="Elimar Contenido" class="glyphicon glyphicon-trash" id="iconoEliminar"> 
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-5 control-label divComp">
                                <i class="fas fa-location-arrow"></i>&nbsp;&nbsp;Complemento</label>
                                <div class="col-md-7">
                                    <span class="help-block" id="spanComplemento"></span>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-5 control-label divBar">
                                <i class="fas fa-street-view"></i>&nbsp;&nbsp;Barrio</label>
                                <div class="col-md-7">
                                    <span class="help-block" id="spanBarrio"></span>
                                </div>
                             </div>
                        </div> 
                   
                        <div class="form-group divDirecciones">
                            <label class="col-md-5 control-label">Campos Ocultos</label>
                            <div class="col-md-7">
                                <div>
                                    {{form.barrio}}
                                    {{form.complemento}}    
                                    {{form.cuadrante_via_generadora}}
                                    {{form.numero_placa}}
                                    {{form.bis_via_generadora}}
                                    {{form.prefijo_via_generadora}}
                                    {{form.numero_via_generadora}}
                                    {{form.cuadrante_via}}
                                    {{form.bis_via}}
                                    {{form.prefijo_via}}
                                    {{form.numero_via}}
                                    {{form.tipo_via}}
                                </div> 
                                <span class="help-block"></span>
                            </div>

                        </div>
                    </div>
                </div>            
                
                <div class="col-md-6 col-sm-6 col-xs-6 divForm">
                    <div class="form-group">
                        <label class="col-md-5 control-label">
                        <i class="far fa-envelope"></i>&nbsp;&nbsp;Email<span class="span"> *</span></label>
                        <div class="col-md-7">
                            {{form.email}}
                            <span class="help-block"></span>
                        </div>
                    </div>

                    {% if form.ConfirmarEmail %}
                        <div class="form-group">
                            <label class="col-md-5 control-label">
                            <i class="far fa-envelope"></i>&nbsp;&nbsp;Confirme Email<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.ConfirmarEmail}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="col-md-5 control-label">
                        <i class="fas fa-flag-usa"></i>&nbsp;&nbsp;Pais<span class="span"> *</span></label>
                        <div class="col-md-7">
                            {{form.pais}}
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="divDepartamento">
                            <label class="col-md-5 control-label">
                            <i class="fab fa-usps"></i>&nbsp;&nbsp;Departamento<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.departamento}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="divCiudad">
                            <label class="col-md-5 control-label">
                            <i class="fas fa-city"></i>&nbsp;&nbsp;Ciudad<span class="span"> *</span></label>
                            <div class="col-md-7">
                                {{form.ciudad}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-5 col-sm-3 col-xs-4 control-label">
                                <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Telefono<span class="span"> *</span></label>
                            <div class="col-md-5 col-sm-3 col-xs-8">
                                {{form.telefono}}
                                <span class="help-block"></span>
                            </div>
                        
                            <label class="col-md-5 col-sm-3 col-xs-4 control-label">Ext</label>
                            <div class="col-md-5 col-sm-3 col-xs-8">
                                {{form.extencion}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group divAsesor" id="divAsesores">
                        <label class="col-md-5 control-label">
                        <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Asesor</label>
                        <div class="col-md-7">
                            {{form.asesor}}
                            <span class="help-block"></span>
                        </div>
                    </div>
 
                    <div class="form-group divRegional" id="divRegionales">
                        <label class="col-md-5 control-label">
                        <i class="fas fa-globe-americas">&nbsp;&nbsp;</i>Regional<span class="span"> *</span></label>
                        <div class="col-md-7">
                            {{form.regional}}
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group divPunOperacion" id="divPunOperaciones">
                        <label class="col-md-5 control-label">
                        <i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Punto Operacion<span class="span"> *</span></label>
                        <div class="col-md-7">
                            {{form.Punto_Operacion}}
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
       
                <div class="row">
                    <div class="col-md-12">
                        {% if not request.user.is_super_administrador %}
                        <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                            <i class="fa fa-save" aria-hidden="true"></i>Guardar
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-danger pull-right" id="btnLimpiar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                        </button> 
                    </div>
                </div> 
            </div>    
    
        </form>
     </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 90%">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Gestor Usuarios</h3>
        </div>
        <div class="modal-body mt-5">
     
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">Direccion</legend>
                <div class="control-group container-fluid">
                    <form id="formModal">
                        <div class="form-group">
<!--                            <label class="col-lg-12 control-label"></label>-->
                            <div class="row">
                            <div class='col-md-2 col-lg-1'>
                                <select name="idTipo" class="form-control" required id="idTipo">
                                    <option value="">Seleccione Tipo</option>
                                    <option value="CARRERA">CARRERA</option>
                                    <option value="CALLE">CALLE</option>
                                    <option value="DIAGONAL">DIAGONAL</option>
                                    <option value="TRANSVERSAL">TRANSVERSAL</option>
                                </select>
                            </div>
                            <div class='col-md-2 col-lg-1'>
                                <input type="number"  style="width:60%; align:right;" class="form-control" placeholder="Numero" name="numCalle" id="numCalle" min="0"  max="9" pattern="^[0-9]+" required>
                            </div>
                            <div class="col-md-2 col-lg-1 ">
                                <select name="prefijo_via" class="form-control" id="idPrefijoVia" style="width:60%;">
                                  <option value="">Prefijo</option>
                                  <option value="0"></option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-2 col-lg-1' style="width:3em;" >
                                Bis
                                <input type="checkbox" name="id_via" value="" id="id_via">
                            </div>
                            <div class='col-md-2 col-lg-1' >
                                <select name="cuadrante_via" class="form-control" id="idCuadranteVia">
                                  <option value="">Orientacion</option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-lg-1" style="width:3em;">
                                <h3>#</h3>
                            </div>
                            <div class='col-md-2 col-lg-1' >
                                <input type="number" class="form-control" style="width:60%; align:right;" placeholder="Numero" name="numCalle2" id="numCalle2" min="0" max="9" pattern="^[0-9]+" required>
                            </div>
                            <div class='col-md-2 col-lg-1'>
                                <select name="prefijo_via_generadora" class="form-control" id="idPrefijo2" style="width:60%;">
                                  <option value="">Prefijo</option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-2 col-lg-1' style="width:4em;">
                                Bis
                                <input type="checkbox" name="id_via2" value="" id="id_via2">
                            </div>
                            <div class="col-md-2 col-lg-1" style="width:4em;">
                                <h3> - </h3>
                            </div>
                            <div class='col-md-2 col-lg-1'>
                                 <input type="text" placeholder="Placa" class="form-control" style="width:50%;" name="idPlaca" id="idPlaca"  required>
                            </div>
                            <div class='col-md-2 col-lg-1' >
                                <select name="cuadrante_via_generadora" class="form-control" id="idCuadrante">
                                  <option value="">Orientacion </option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 2em;">

                                    <div class="col-md-6">
                                        <label class="col-md-6">Complemento</label>
                                        <div class="col-md-0 divComplemento">

                                             <input type="text" class="form-control" name="ModalComplemento" placeholder="Complemento" id="ModalComplemento">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="col-md-6">Barrio</label>
                                        <div class="col-md-0">
                                            <input type="text" class="form-control" name="ModalBarrio" placeholder="Barrio" id="ModalBarrio">

                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div style="height: 20px"></div>
                    </form>
                </div>
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAceptarModal">Aceptar</button>
        <button type="button" class="btn btn-secondary" id="btnCerrarModal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL -->

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script>
$("#id_telefono").attr('type','number').attr('minlength','7');
$("#id_extencion").attr('type','number').attr('minlength','1');

const numTel = document.getElementById("id_telefono");
numTel.addEventListener("blur",() =>{
    var num = document.getElementById("id_telefono").value;
    if( (num.length < 7 ) || ( num.length > 10 )){
        Swal.fire({
            title: '¡Atención!',
            text: "Número Telefonico Entre 7-10 Números",
            type: 'warning',
            allowOutsideClick: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Aceptar'
        }).then((result) => {
            if (result.value) {
               $("#id_telefono").focus();
            }
        });
    }
});

//TextNoNumeric
const evento = document.getElementById("id_first_name");
evento.addEventListener("blur",() =>{
    var numeros="0123456789";
    var texto = document.getElementById("id_first_name").value;
    for(var i=0; i<texto.length; i++){
        if (numeros.indexOf(texto.charAt(i),0)!=-1){
            Swal.fire({
                title: '¡Atención!',
                text: "Nombre No Pude Contener Numeros",
                type: 'warning',
                allowOutsideClick: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.value) {
                   evento.focus();
                }
            }); 
        }
    }
});

const event = document.getElementById("id_last_name");
event.addEventListener("blur",() =>{
    var numeros="0123456789";
    var texto = document.getElementById("id_last_name").value;
    for(var i=0; i<texto.length; i++){
        if (numeros.indexOf(texto.charAt(i),0)!=-1){
            Swal.fire({
                title: '¡Atención!',
                text: "Apellido No Pude Contener Numeros",
                type: 'warning',
                allowOutsideClick: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.value) {
                   event.focus();
                }
            }); 
        }
    } 
}); 

//Regional
function regional(){
    var contador = 0;
    $("#id_regional option").each(function(){
        contador += parseInt( $(this).attr('value') );
    });
    if( contador == 0 ){
        Swal.fire({
            type: 'error',
            title: 'Oops...',
            text:   'Usuario No Cuenta Con Regionales',
        });
        $("input[class='select2-search__field']").attr('required',false);
        $("#id_regional").attr('required',false);
    }
}

//Asesor
const roles = document.getElementById("id_rol");
roles.addEventListener("change",() =>{
    var rol = roles[roles.selectedIndex].value;
    $("#id_Punto_Operacion").empty();
    //("#i   option[value='']").attr('disabled',true);
    $("span[class='select2 select2-container select2-container--default']").css('width','100%');
  
    if( rol == 'is_administrador_punto'  ){
        $("#id_regional").attr('required',true);
        $("#id_Punto_Operacion").attr('required',true);
        $("#divRegionales").removeClass('divRegional');
        $("#divPunOperaciones").removeClass('divPunOperacion');
        $("#divAsesores").addClass('divAsesor');
        regional();
    }
 
    if( rol == 'is_asesor' ){
        $("#id_regional").attr('required',true);
        $("#id_Punto_Operacion").attr('required',true);
        $("#divRegionales").removeClass('divRegional');
        $("#divPunOperaciones").removeClass('divPunOperacion');
        $("#divAsesores").addClass('divAsesor');
        regional();
    }

    if( rol == 'is_responsable_campana' ){
        $("#id_regional").attr('required',false);
        $("#id_Punto_Operacion").attr('required',false);
        $("#divAsesores").removeClass('divAsesor');
        $("#divRegionales").addClass('divRegional');
        $("#divPunOperaciones").addClass('divPunOperacion');
    }
   
    if( rol == 'is_administrador' ){
        $("#id_regional").attr('required',false);
        $("#id_Punto_Operacion").attr('required',false);
        $("#divAsesores").addClass('divAsesor');
        $("#divRegionales").addClass('divRegional');
        $("#divPunOperaciones").addClass('divPunOperacion');
    }
});


$("#id_Punto_Operacion").attr('class','form-control selectDos');
$('.selectDos').select2({  
    placeholder: 'Seleccione Uno o Mas Puntos de Operación',
});
 

$("#id_rol option[value='']").attr('disabled',true);
////$("#id_pais option[value='']").attr('disabled',true);
////$("#id_departamento option[value='']").attr('disabled',true);


//Campo Fecha
var d = new Date();
var dia = d.getDate();
var diaActual = '0'+dia;
var mes = d.getMonth()+1;
var m = '0'+ mes.toString();
var anoMinimo = d.getFullYear()-18;
//Validaciones Fecha
var diaHoy = dia <= 9 ? diaActual : dia; 
var mesHoy = mes <= 9 ? m : mes;
var fecha = d.getFullYear()+"-"+mesHoy+'-'+diaHoy;
var minimoFecha = anoMinimo+"-"+mesHoy+'-'+diaHoy;
$("#id_fecha_nacimiento").attr('type','date');
$("#id_fecha_nacimiento").attr('min',minimoFecha);
$("#id_fecha_nacimiento").attr('max',fecha);

//Validacion Email
$("#id_email").focus(function(){
    $("#id_email").css("border-color","#b03535").css('box-shadow','0 0 5px #d45252').css("background", "transparent url('../../static/imagen-cliente/iconoRojo.png') no-repeat right");  
});

$("#id_ConfirmarEmail").focus(function(){
    $("#id_ConfirmarEmail").css("border-color","#b03535").css('box-shadow','0 0 5px #d45252').css("background", "transparent url('../../static/imagen-cliente/iconoRojo.png') no-repeat right");  
});

$("#id_email").blur(function(){
    var valor = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
    if ( !valor.test( $('#id_email').val().trim() ) ) {
        Swal.fire(
            '¡Atención ...!',
            '¡No Es Un Correo, Validelo ..!',
            'warning',
        )
    }else{
        $("#id_email").css("border-color","#28921f").css('box-shadow','0 0 5px #5cd053').css("background", "transparent url('../../static/imagen-cliente/IconGreen.png') no-repeat right");
    } 
});

$("#id_ConfirmarEmail").blur(function(){
    var mail = $("#id_email").val();
    var mail2 = $("#id_ConfirmarEmail").val();
    if( mail != mail2 ){
        Swal.fire(
            '¡Atención ...!',
            '¡Correos Diferentes, Validelo ..!',
            'warning',
        )
    }else{
        $("#id_ConfirmarEmail").css("border-color","#28921f").css('box-shadow','0 0 5px #5cd053').css("background", "transparent url('../../static/imagen-cliente/IconGreen.png') no-repeat right");
    }
});

$("#id_ConfirmarEmail").attr('onpaste','return false');


$("#iconoEliminar").click(function(){
    $("#direccion2").val('');
    $("#formModal")[0].reset();
    //Blanquear Campos
    $("#id_barrio").val('');
    $("#id_complemento").val('');
    $("#id_cuadrante_via_generadora").val('');
    $("#id_numero_placa").val('');
    $("#id_bis_via_generadora").prop('checked',false);
    $("#id_prefijo_via_generadora").val('');
    $("#id_numero_via_generadora").val('');
    $("#id_cuadrante_via").val('');
    $("#id_bis_via").prop('checked',false);
    $("#id_prefijo_via").val('');
    $("#id_numero_via").val('');
    $("#id_tipo_via").val('');
    $("#spanComplemento").text('');
    $("#spanBarrio").text('');
    $("#direccion2").attr('readonly',false);
}); 

//Modal
var formData;
$("#btnAceptarModal").click(function(){
    if( $("#idTipo").val() == '' ){
        Swal.fire(
            'Advertencia ..!',
            'Seleccione Un Tipo',
            'warning',
        )
    }else if( ( $("#numCalle").val().length == '' ) | ( $("#numCalle").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Numeros !',
            'Escriba El Numero De Dirección',
            'warning',
        )
        $("#numCalle").focus();
    }else if( ( $("#numCalle2").val().length == '' ) | ( $("#numCalle2").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Numeros !',
            'Escriba El Segundo Numero De Dirección',
            'warning',
        )
        $("#numCalle2").focus();
    }else if( ($("#idPlaca").val().length == '') | ( $("#idPlaca").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Digitos',
            'Escriba Una Placa ',
            'warning',
        )
        $("#idPlaca").focus();
    }else{
        formData = '';
        $('#formModal').find('input, textarea, select').each(function(i, field) {
            formData += field.value+' ';
            //console.log(formData)
        });
        $("#direccion2").val( formData );

        //Asigno Valores Campos Ocultos
        $("#id_tipo_via").val( $("#idTipo").val() );
        $("#id_numero_via").val( $("#numCalle").val() ); 

        $("#id_prefijo_via").val( $("#idPrefijoVia option:selected").val() );
        $("#id_cuadrante_via").val( $("#idCuadranteVia").val() );
        $("#id_numero_via_generadora").val( $("#numCalle2").val() );
        $("#id_prefijo_via_generadora").val( $("#idPrefijo2").val() );
        $("#id_numero_placa").val( $("#idPlaca").val() );
        $("#id_cuadrante_via_generadora").val( $("#idCuadrante").val() );
        $("#id_complemento").val( $("#ModalComplemento").val() );
        $("#id_barrio").val( $("#ModalBarrio").val() );
        
        //Asigno Valores Campos Ocultos
        $("#exampleModal").modal('hide');
        $("#spanComplemento").html( $("#id_complemento").val() );
        $("#spanBarrio").html( $("#id_barrio").val() );

        $("#direccion2").attr('readonly','readonly');

        //Datos
        var dir = $("#id_tipo_via").val();
        var nu = $("#id_numero_via").val();
        var pre = $("#id_prefijo_via").val();
        var check='';
        var num2 = $("#id_numero_via_generadora").val();
        var numVia = $("#id_cuadrante_via").val();
        var pre2 = $("#id_prefijo_via_generadora").val();
        var check2 = '';
        var plac = $("#id_numero_placa").val();
        var cuadra = $("#id_cuadrante_via_generadora").val();
        var hash = '#';
        var ralla = '-';

        $("#idTipo").val( dir );
        $("#numCalle").val( nu );
        $("#idPrefijoVia").val( pre );
        $("#idCuadranteVia").val( numVia );

        $("#numCalle2").val( num2 );
        $("#idPrefijo2").val( pre2 );
        $("#idPlaca").val( plac );
        $("#idCuadrante").val( cuadra );

        if( $("#id_via").is(':checked') ){
            check = 'Bis';
            $("#id_bis_via_generadora").prop('checked',true);
            $("#id_bis_via_generadora").val( check );
        }
        if( $("#id_via2").is(':checked') ){
            check2 = 'Bis';
            $("#id_bis_via").prop('checked',true);
            $("#id_bis_via").val( check2 );
        }

        $("#direccion2").val( dir+' '+nu+' '+pre+' '+check+' '+numVia+' '+hash+' '+num2+' '+pre2+' '+check2+' '+ralla+' '+plac+' '+cuadra );

        $("#spanComplemento").html( $("#id_complemento").val() );
        $("#spanBarrio").html( $("#id_barrio").val() );

    }
});

$("#id_via").change(function(){
    if( $("#id_via").is(":checked") ){
        $("#id_via").attr('value','Bis');
        $("#id_bis_via_generadora").prop('checked',true);//checked 1 Oculto
    }else{
         $("#id_via").attr('value','');
         $("#id_bis_via_generadora").prop('checked',false);
    }
}); 

$("#id_via2").change(function(){
    if( $("#id_via2").is(":checked") ){
        $("#id_via2").attr('value','Bis');
        $("#id_bis_via").prop('checked',true);//checked 2 Oculto
    }else{
         $("#id_via2").attr('value','');
         $("#id_bis_via").prop('checked',false);
    }
}); 


$("#btnCerrarModal").click(function(){
    $("#exampleModal").modal('hide');
    $("#direccion2").attr('readonly','readonly');
});

//pais
$("#id_pais").change(function() {
    var idPais = $("#id_pais option:selected").val();
    if (idPais > 0) {
        $.ajax({
            url: '{% url "clientes:get-departamento" %}',
            type: 'get',
            data: {
                'id': idPais
            }
        }).done(function(data) {
            var valores = '';
            var datos = JSON.parse(data);
            $("#id_departamento").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_departamento").append(valores);
            $("#id_departamento").attr('disabled', false);
            $("#id_departamento").removeClass('selectValidate');
        });
    } else {
        $("#id_departamento").attr('disabled', true);
        $("#id_departamento").html("<option value=''>Seleccione Una Opción</option>");
        $("#id_ciudad").attr('disabled',true);
        $("#id_ciudad").html("<option value=''>Seleccione Una Opción</option>");
    }
});

//Departamento
$("#id_departamento").change(function() {
    var idDepartamento = $("#id_departamento option:selected").val();
    if (idDepartamento > 0) {
        $.ajax({
            url: '{% url "clientes:get-ciudad" %}',
            type: 'get',
            data: {
                'id': idDepartamento
            }
        }).done(function(data) {
            var valores = ''
            var datos = JSON.parse(data);
            $("#id_ciudad").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_ciudad").append(valores);
            $("#id_ciudad").attr('disabled', false);
            $("#id_ciudad").removeClass('selectValidate');
        });
    }else {
        $("#id_ciudad").attr('disabled', true);
    }
});

//logo Tamaño,Extencion
$(document).on('change','input[type="file"]',function(){
    var fileName = this.files[0].name;
    var fileSize = this.files[0].size;

    if (fileSize > 1000000) {
        Swal.fire(
            'Advertencia ..!',
            'El archivo no debe superar 1MegaByte de Peso',
            'warning',
        )
        this.value = '';
        this.files[0].name = '';
    }else {
        var ext = fileName.split('.').pop();
        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                break;
            default:
                Swal.fire(
                    'Advertencia ..!',
                    'Archivo No Tiene la Extensión Adecuada',
                    'warning',
                )
                this.value = '';
                this.files[0].name = '';
        }
    }
});

//logo 
function archivo(evt){
    var files = evt.target.files; 
    //Obtenemos la imagen del campo "file". 
    for (var i = 0, f; f = files[i]; i++) {         
       //Solo admitimos imágenes.
       if (!f.type.match('image.*')) {
            continue; 
       }
       var reader = new FileReader();
       reader.onload = (function(theFile) {
           return function(e) {
           // Creamos la imagen.
           document.getElementById("verImagen").innerHTML = ['<img class="img-circle" style="border: 4px inset #878587;" width="130" height="110" src="', e.target.result,'" title="',escape(theFile.name),'"/>'].join('');
        };
       })(f);  
       reader.readAsDataURL(f);
    }
}
document.getElementById('id_imagen').addEventListener('change', archivo, false);

$('#id_regional').change(function(){
    $.ajax({
        url: "{% url 'sedes:pto-get' %}", 
        data: {
            'id': this.value
        }
    }).done(function(data) {
        console.log(data.length )
        if( data.length > 2 ){
            var valores = '';
            var datos = JSON.parse(data);
            $("#id_Punto_Operacion").empty();
            valores = "<option value='' disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + (val.fields.nombre).toUpperCase() + "</option>";
            });
            $("#id_Punto_Operacion").append(valores);
            $("#id_Punto_Operacion").attr('disabled', false);
        }else{
            Swal.fire({
                type: 'error',
                title: 'Oops...',
                text:   'Sin Punto Operacion',
            });
            $("#id_Punto_Operacion").empty();
        }
    });
});


//Editar Información
if( $("#editarInfo").val() == 'editar' ){
    $("#id_departamento").addClass('selectValidate');//theme-default.css
    $("#id_ciudad").addClass('selectValidate');//theme-default.css
}else{
    $("#id_departamento").attr('disabled', true);
    $("#id_ciudad").attr('disabled', true);
}
</script>
 



<!--Nelson-->

<!--VALIDACION DE ROLES-->
 
{% if request.user.is_administrador %}
     <script>
        $("#id_rol option[value='is_persona_natural']").remove();
    </script>
{% elif request.user.is_administrador_punto  %}

    <script>
        $("#id_rol option[value='is_administrador']").remove();
        $("#id_rol option[value='is_administrador_punto']").remove();
        $("#id_rol option[value='is_persona_natural']").remove();
    </script>
{% endif %}
<!--VALIDACION  DE ROLES-->

<script>
notificaciones();
</script>

{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}

<!--Nelson-->
{% endblock %}


