{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>
    <!-- META SECTION -->
    <title>Feliz Cumpleaños</title>
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <link href="{% static 'css/fontawesome-free-5.10.0-11/css/all.css' %}" rel='stylesheet'/>
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <!--link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/bootstrap/bootstrap.min.css' %}" /-->
    <!-- EOF CSS INCLUDE -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container " style="background-image: url(cid:{% static '/img/fondo-cumple.png' %}); background-repeat: no-repeat; background-size: cover;">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title" style="color: #2b6c7a;text-align: center;">
                    <img src="cid:{% static '/img/logo-rp.png' %}"  width="200" height="100" class="img-responsive" alt="RP-logo">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3" style="color: #ff5e5e;text-align: center;">
                    <strong>¡ Te deseamos !</strong>
                </h1>
                <h1 class="display-1" style="color: #353e43;text-align: center;">
                    <strong>Feliz cumpleaños</strong>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-2" style="color: #ff5e5e;text-align: center;">
                    <strong>{{data.user_name|title}}</strong>
                </h1>
            </div>
        </div>
        <div class="row" style="color: #353e43; text-align:center;">
            <div class="col-md-12">
                <h4>
                    <p>Nosotros recordamos que la vida no solo debe vivirse, también</p>
                    <p>debe celebrarse. Te deseamos lo mejor y sobre todo que sigas ganando </p>
                    <p>con <strong style="color: #ff5e5e;">Referir Paga</strong></p>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="title" style="color: #2b6c7a;text-align: center;">
                    <img src="cid:{% static '/img/cumpleanhos-RP.png' %}"  width="300" height="150" class="img-responsive" alt="cumple-imagen">
                    <p style="color: #353e43;text-align: center;"> Saludos cordiales,</p>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="title" style="color: #2b6c7a;text-align: center;">
                    <img src="cid:{% static '/img/logo-tn.png' %}" width="130" height="30" class="img-responsive" alt="TNcolombia-logo">
                </h4>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <p style="text-align: center; font-size: 12px">Se envió este correo electrónico desde una dirección exclusiva de notificaciones que no recibe correos electrónicos.
                            No responda a este mensaje si tiene una pregunta o inquietud, por favor contáctenos en xxxx@xxxxxxx.xxx!
                        </p>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>