<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ucontact</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<h2>Hello Ucontact!</h2>
<div class="row">
<div class="col-md-6 text-center">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Dato</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Token</th>
          <td>{{ token }}</td>

        </tr>
        <tr>
          <th scope="row">Cliente Id</th>
          <td>{{ data.idcliente }}</td>
        </tr>
        <tr>
          <th scope="row">Res1</th>
          <td>{{ data.res1 }}</td>
        </tr>
        <tr>
          <th scope="row">Res2</th>
          <td>{{ data.res2 }}</td>
        </tr>
        <tr>
          <th scope="row">Res3</th>
          <td>{{ data.res3 }}</td>
        </tr>
        <tr>
          <th scope="row">Comentarios</th>
          <td>{{ data.comentarios }}</td>
        </tr>
        <tr>
          <th scope="row">fecha</th>
          <td>{{ data.fecha }}</td>
        </tr>
      </tbody>
    </table>
</div>
    <div class="col-md-6"></div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>