{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
<link href="{% static 'css/usuarios/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<body onload="noAtras()">
    <div class="panel-body"> <!-- end panel Body-->
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'usuarios:usuario-nuevo' %}" id="new" class="btn btn-success">
                    <i class="fa fa-plus"></i> Nuevo Usuario
                </a>
            </div>
            <a href="{% url 'services:get-service' 3213383116 %}">service</a>
            <div class="col-md-12" >
                <div class="contentBuscar">
                    <div class="divBuscar">
                        <form id="Idform" method="get">
                            <div id="divInputBuscar">
                                <input type="text" id="buscarUsuario" class="form-control" name="q" placeholder="Buscar Usuario" value="{{request.GET.q}}">
                            </div>
                            <button type="submit" id="btnBuscar" class="btn btn-info">
                                <i class="fa fa-search"></i>Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <form id="date_filter" class="form-inline" class="auto_submit_item" id="calenderForm">
                    <div class="form-group mb-2">
                        <label for="staticMonth" class="sr-only">Mes</label>
                        <h2 id="staticMonth">{{month|date:"F"}}</h2>
                    </div>
                    <div class='input-group date' id="datetimepicker">
                        <label for="inputDate" class="sr-only">Calendario</label>
                        <input type="date" class="form-control"  id="inputDate" name="date" value="{{ request.GET.date }}" onchange='this.form.submit()'>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-md-12">
        {% if object_list%}
        {% if page_obj %}
        <strong>
            <p>{{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados
                <a href="{% url 'reportes:reportes-usuarios' %}" class="fa fa-file-download iconDescarga">
                </a>
            </p>
        </strong>
        {% endif %}
        <div>
            <div class="table-responsive">
            <table id="listUsuario" class="table table-striped" style="overflow-x:scroll;">
                <thead>
                    <th colspan="25" id="colspan">Cumpleaños</th>
                    <tr>
                        <th>Acción</th>
                        <th>Estado</th>
                        <th>Cumpleaños</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tipo Documento</th>
                        <th>Numero Documento</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Ciudad</th>

                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>
                            {% if not obj.email_sent and not request.user.is_super_administrador %}
                                <a href="{% url 'gestores:birth-mail' obj.id %}" title="email" id="email">
                                    <span class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#exampleModal"></span>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if not obj.email_sent %}
                                Pendiente
                            {% else %}
                                Enviado
                            {% endif %}
                        </td>
                        <td>
                            {{obj.fecha_nacimiento|date:"Y-m-d"   |upper}}
                        </td>
                        <td>
                            {{ obj.first_name|default_if_none:""  |upper}}
                        </td>
                        <td>
                            {{ obj.last_name|default_if_none:""   |upper}}
                        </td>
                        <td>
                            {{ obj.tipo_identificacion|default_if_none:"" |upper}}
                        </td>
                        <td>
                            {{ obj.numero_documento|default_if_none:""    |upper}}
                        </td>
                        <td>
                            {{obj.telefono|default_if_none:"" |upper}}
                            {% if obj.ext %}
                            Ext {{obj.ext |upper}}
                            {%endif%}
                        </td>
                        <td>
                            {{obj.email|default_if_none:""}}
                        </td>

                        <td>
                            {{obj.ciudad|default_if_none:""   |upper}}
                        </td> 

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page=
                            {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="active">
                            <a href="#!">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="waves-effect">
                            <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="waves-effect">
                            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
        </div>
                {%else%}
                <input type="hidden" name="q" value="0" id="inputSinRegistros">
                <div class="divSinRegistros">
                    <i class="fa fa-database iconSinResul"></i>
                    <span class="spanSinResul">&nbsp; Sin Registros</span>
                </div>
                {%endif%}
            </div>
        </div>
    </div> <!-- end panel Body-->
</body>

{% endblock %}

{% block scripts %}
<script>

//BtnAtras del Navegador
function noAtras(){
   window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button"
    window.onhashchange=function(){
        window.location.hash="no-back-button";
    }
}
//BtnAtras del Navegador

var registros;
registros = $("#inputSinRegistros").val();
//table
var table = $('#listUsuario').DataTable({
    "paging": false,
    "info": false,
    "searching": false,
    "ordering": false,
});

if (registros == 0) {
    Swal.fire({
        title: '¡Sin Datos!',
        text: "No Cuenta Con Resgistros Relacionados Con La Búsqueda",
        type: 'warning',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.value) {
            registros = 1;
            var url = "{% url 'gestores:cumpleanhos' %}";
            window.location.href = url;
        }
    });
}
</script>

{% endblock %}