{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>

    <!-- META SECTION -->
    <title>Send Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <link href="{% static 'css/fontawesome-free-5.10.0-11/css/all.css' %}" rel='stylesheet'/>

    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}" />

    <!-- EOF CSS INCLUDE -->
</head>

<body>
    <div class="login-container lightmode">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title" style="text-align:center;"><strong>Genial !!!</div>





{% block content %}

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}

            </div>

            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2019 Referir Paga
                </div>
                <div class="pull-right">
                </div>
            </div>
        </div>

    </div>

</body>

<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>


<script>
    $("input").addClass("form-control")
</script>

</html>