{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>

    <!-- META SECTION -->
    <title>Restablecer contrasena</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}" />
    <link href="{% static 'css/fontawesome-free-5.11.2-web/css/all.css' %}" rel='stylesheet'/>


    <!-- EOF CSS INCLUDE -->
</head>

<body>
    <div class="login-container lightmode">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title" style="text-align:center;"><strong>Restablecer Contraseña</div>


{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <div class="text-right" style="white-space: nowrap;">
        <p id="peak" class="text-right align-top" style="display: inline-block;">Mostar contraseña: </p>
        <a class="fa fa-eye btn-lg btn-link" style="display: inline-block;" id="mostrar"></a>
    </div>
    <button type="submit"  class="btn btn-block" style="background-color:#ff5e5e;color: white; font-size: 1.2em; font-weight: 100; border-radius:10px;">{% trans 'Change my password' %}</button>

</form>


{% else %}
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}

            </div>

            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2019 Referir Paga
                </div>
                <div class="pull-right">
                </div>
            </div>
        </div>

    </div>

</body>

<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript">

   $('#mostrar').click(function(){
      if($(this).hasClass('fa-eye'))
      {
      $('#id_new_password1').removeAttr('type');
      $('#id_new_password2').removeAttr('type');
      $('#mostrar').addClass('fa fa-eye-slash').removeClass('fa-eye');
      $("#peak").text("Ocultar contraseña:");
      }
 
      else
      {
      //Establecemos el atributo y valor
      $('#id_new_password1').attr('type','password');
      $('#id_new_password2').attr('type','password');
      $('#mostrar').addClass('fa-eye').removeClass('fa-eye-slash');
      $("#peak").text("Mostar contraseña:");
      }
       });

</script>

<script>
    $("input").addClass("form-control")
</script>

</html>