{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>
    <!-- META SECTION -->
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <link href="{% static 'css/fontawesome-free-5.10.0-11/css/all.css' %}" rel='stylesheet'/>

    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <!--link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/bootstrap/bootstrap.min.css' %}" /-->
    <!-- EOF CSS INCLUDE -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container " style="background-image: url(cid:{% static '/img/fondo-cumple.png' %}); background-repeat: no-repeat; background-size: cover;">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title" style="text-align: center;">
                    <img src="cid:{% static '/img/logo-rp.png' %}"  width="200" height="100" class="img-responsive" alt="RP-logo">
                </h4>
            </div>
            <div class="col-md-12" style="color:#ff5e5e; text-align: center;">
                <h1 class="title">
                    <strong>Saludos Estimad@ User</strong>
                </h1>
            </div>
        </div>
        <div class="row" style="text-align:center; color:black">
            <div class="col-md-8 col-md-offset-2">
                <h3>
                    <p>
                        Usted ha solicitado a través de la plataforma Referir Paga de
                    </p>
                    <p>
                        TN Colombia S.A.S un camibo de contraseña, por favor haga click al
                    </p>
                    <p>
                        siguiente botón para iniciar el proceso de restablecimiento.
                    </p>
                    <br>
                    <p>
                        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                            <button type="button"  style="padding: 13px 30px; background-color:#ff5e5e; color: white; font-size: 1.2em; font-weight: 100; border-radius: 10px;">Restablecer contraseña </button>
                        </a>
                    </p>
                    <br>
                    <p>
                        En caso de no haber solicitado este servicio por favor hacer caso omiso
                    </p>
                    <p>
                        al presente correo.
                    </p>
                    <br>
                    <h1 style="color:#ff5e5e">
                        <strong>Gracias</strong>
                    </h1>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="title" style="color: #2b6c7a;text-align: center;">
                    <img src="cid:{% static '/img/logo-tn.png' %}" width="130" height="30" class="img-responsive" alt="TNcolombia-logo">
                </h4>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <p style="text-align: center; font-size: 12px">Se envió este correo electrónico desde una dirección exclusiva de notificaciones que no recibe correos electrónicos.
                            No responda a este mensaje si tiene una pregunta o inquietud, por favor contáctenos en xxxx@xxxxxxx.xxx!
                        </p>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>