{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>
    <!-- META SECTION -->
    <title>Bienvenid@</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <link href="{% static 'css/fontawesome-free-5.10.0-11/css/all.css' %}" rel='stylesheet'/>
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <!--link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/bootstrap/bootstrap.min.css' %}" /-->
    <!-- EOF CSS INCLUDE -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container " style="background-image: url(cid:{% static '/img/fondo-cumple.png' %}); background-repeat: no-repeat; background-size: cover;">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h4 class="title">
                    <img src="cid:{% static '/img/logo-rp.png' %}"  width="200" height="100" class="img-responsive" alt="RP-logo">
                </h4>
            </div>
            <div class="col-md-12">
                <h1 class="title" style="color:#ff5e5e; text-align:center;">
                    <strong>Saludos estimad@ {{data.user}}</strong>
                </h1>
            </div>
        </div>
        <div class="row" style="text-align:center;  color:black">
            <div class="col-md-8 col-md-offset-2">
                <h3
                    <p s>
                        Ha sido registrado en nuestra plataforma <strong>Referir Paga</strong>
                    </p>

                    <p>
                        desarrollado por la empresa TN Colombia S.A.S.
                    </p>

                    <p>con el usuario y contraseña que se indica a continuación</p>

                    <p>para el rol de ({{data.rol}}) :</p>

                    <br>

                    <p>USUARIO:  {{data.username}}</p>
                    <p>CONTRASEÑA: {{data.password}} </p>

                    <br>

                    <p>Recuerde que al ingresar por primera vez a la plataforma,</p>
                    <p>se le solicitará cambiar su contraseña.</p>

<!---  <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'login' %}">--->
                    <p>
                        <a href="{{ data.url }}">
                            <button type="button"  style="padding: 13px 30px; background-color:#ff5e5e; color: white; font-size: 1.2em; font-weight: 100; border-radius: 10px;">Ir a Referir Paga</button>
                        </a> 
                    </p>
 
                    <br>
                    <p>
                        Saludos cordiales,
                    </p>
                </h3>
            </div>
             <div class="row">
                <div class="col-md-12" style="color:#2b6c7a; text-align: center;">
                    <h4 class="title">
                        <img src="cid:{% static '/img/logo-tn.png' %}" width="130" height="30" class="img-responsive" alt="TNcolombia-logo">
                    </h4>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <p style="text-align: center; font-size: 10px">Se envió este correo electrónico desde una dirección exclusiva de notificaciones que no recibe correos electrónicos.
                            No responda a este mensaje si tiene una pregunta o inquietud, por favor contáctenos en xxxx@xxxxxxx.xxx!
                        </p>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>