{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
   <!-- <link href="{% static 'css/' %}" rel="stylesheet"/>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>

<style>
    #verImagen{
      height: 130px;
      float: right;
    }
    #imgCliente{
        border: 4px inset #878587;
        width:130px;
        height: 110px;
    }
    .span{
        color: red;
    }
    .spanInActivo{
        margin-bottom: 11px;
    }
    .divDirecciones{
        display: none;
    }
    .divForm{
        margin-bottom: 5%; 
    }   
    #spanComplemento, #spanBarrio{
        font-weight: bold;
        color: #020202;
    }
    .formulario{
        margin-bottom: 31px;
    }
    .divRegional{
        display: none;
    }
    .divAsesor{
        display: none;
    }
    .divPunOperacion{
        display: none;
    }
    /*Modal*/
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 0.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
                box-shadow:  0px 0px 0px 0px #000;
    }
    legend.scheduler-border {
        font-size: 22px;
        font-weight: bold !important;
        margin-left: 48px;
    }
    /*Swich Estado*/
    .onoffswitch {
        position: relative;
        width: 96px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
        margin: 1%;
        margin-top: 38px;
        float: right;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label { /*borde Estado*/
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #f1f1f1; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "Activo";
        padding-left: 10px;
        size: 22;
        text-align: 1;
        background-color: green; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "InActivo";
        padding-right: 3px;
        size: 5;
        background-color: red; color: #fff;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; 
        margin: 11px;
        background: #FFFFFF;
        position: absolute; bottom: 0;
        padding-top: 17px; 
        right: 60px;
        border: 2px solid #999999;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
        margin-bottom: 12px;
    }
    #iconoEliminar{
        font-size: 13px;
        color: blue;
        margin-top: 7px;
    }


    .iconTelefono{
        font-size: 17px;
    }
    .iconRegional{
        font-size: 14px;
    }
    .divOculto{
        display: none;
    }
</style>
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            <a href='{% url "sedes:pto-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Gestión de Punto de Operación
            </a> 

            <div class="content"><!--formulario-->
              <div class="row">
                    <div class="col-md-12">
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-12">

                            <div style="display: none;">
                                {{form.estado}}
                            </div>

                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title"><strong>Editar Punto de Operación</strong></h3>
                            </div>
                            
                            <div class="container">
                              <div disabled>
                                <output id="verImagen"> 
                                    <img src="{% static ''%}{{img}}" id="imgCliente" class="img-circle">
                                </output>

                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner" value="0"></span>
                                        <span class="onoffswitch-switch spanInActivo" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
                        
                    {% else %}

                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><strong>Nuevo Punto Operación</strong> </h3>
                        </div>
                 
                        <div class="row">
                            <div class="mario" style="margin-right: 97px;">
                                <div disabled>
                                    <output id="verImagen"> 
                                        <img src="{% static 'imagen-cliente/user2.svg' %}" id="imgCliente" class="img-circle">
                                    </output>
                                </div>
                                
                                <div style="display: none;">
                                    {{form.estado}}
                                </div>

                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner span" value="0"></span>
                                        <span class="onoffswitch-switch span" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                 
                    {% endif %}
                    <div>
                        <div style="float: right;">
                           {{form.imagen}}
                        </div>
                        <div></div>   
                    </div>
                    </div>
            </div>
            </br>
            </br>
            <div class="col-md-12">        
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fa fa-user-tie"></i>&nbsp;&nbsp;Nombre<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.nombre}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">  
                             <i class="fas fa-registered iconRegional"></i>&nbsp;&nbsp;Regional<span class="span">*</span></label>
                            <div class="col-md-8">
                                {{form.regional}}
                                <span class="help-block"></span>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fas fa-flag-usa"></i>&nbsp;&nbsp;Pais<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.pais}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="divDepartamento">
                                <label class="col-md-4 control-label" style="white-space: nowrap;">
                                <i class="fab fa-usps"></i>&nbsp;&nbsp;Departamento<span class="span"> *</span></label>
                                <div class="col-md-8">
                                    {{form.departamento}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="divCiudad">
                                <label class="col-md-4 control-label">
                                <i class="fas fa-city"></i>&nbsp;&nbsp;Ciudad<span class="span"> *</span></label>
                                <div class="col-md-8">
                                    {{form.ciudad}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>            
                
                <div class="col-md-6 col-sm-6 col-xs-6 divForm">
                    <div class="form-group">
                        <label class="col-md-4 control-label">  
                         <i class="fas fa-street-view"></i>&nbsp;Dirección<span class="span"> *</span></label>
                        <div class="col-md-8">
                            <input type="text" value="" class="form-control" id="direccion2" name="direccion2" placeholder="Dirección" data-toggle="modal" data-target="#exampleModal" required>
                            <span class="help-block"></span>
                        </div>
                    </div> 

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-4 control-label divComp">
                            <i class="fas fa-location-arrow"></i>&nbsp;Complemento</label>
                            <div class="col-md-8">
                                <span class="help-block" id="spanComplemento"></span>
                            </div>
                        </div>
                    </div> 

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-4 control-label divBar">
                            <i class="fas fa-street-view"></i>&nbsp;Barrio</label>
                            <div class="col-md-8">
                                <span class="help-block" id="spanBarrio"></span>
                            </div>
                         </div>
                    </div> 
               
                    <!-- Oculto-->
                    <div class="form-group divOculto">
                        <div class="row">
                            <label class="col-md-4 control-label divBar">Oculto</label>
                            <div class="col-md-8">
                                {{form.complemento}}
                                {{form.barrio}}
                       
                                {{form.tipo_via}}
                                {{form.numero_via}}
                                {{form.prefijo_via}} 
                                {{form.bis_via}}
                                {{form.cuadrante_via}}
                                {{form.numero_via_generadora}}
                                {{form.bis_via_generadora}}
                                {{form.prefijo_via_generadora}}
                                {{form.numero_placa}}
                                {{form.cuadrante_via_generadora}}
                            </div>
                         </div>
                    </div> 
                    <!-- Oculto-->
                    
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-4 col-sm-3 col-xs-4 control-label">
                                <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Telefono 1<span class="span"> *</span></label>
                            <div class="col-md-4 col-sm-3 col-xs-8">
                                {{form.telefono1}}
                                <span class="help-block"></span>
                            </div>
                        
                            <label class="col-md-1 col-sm-1 col-xs-4 control-label">Ext 1</label>
                            <div class="col-md-3 col-sm-5 col-xs-8">
                                {{form.extencion1}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-4 col-sm-3 col-xs-4 control-label">
                                <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Telefono 2<span class="span"> *</span></label>
                            <div class="col-md-4 col-sm-3 col-xs-8">
                                {{form.telefono2}}
                                <span class="help-block"></span>
                            </div>
                        
                            <label class="col-md-1 col-sm-1 col-xs-4 control-label">Ext 2</label>
                            <div class="col-md-3 col-sm-5 col-xs-8">
                                {{form.extencion2}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
       
                <div class="row">
                    <div class="col-md-12">
                        {% if not request.user.is_super_administrador %}
                            <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                                <i class="fa fa-save" aria-hidden="true"></i>Guardar
                             </button>
                        {% endif %}
                        <button type="button" class="btn btn-danger pull-right" id="btnLimpiar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                        </button> 
                    </div>
                </div> 
            </div>    
       
        </form>
     </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Gestor Punto Operación</h3>
        </div>
        <div class="modal-body mt-5">
     
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">Direccion</legend>
                <div class="control-group ">
                    <form id="formModal">
                        <div class="form-group">
                            <label class="col-md-12 control-label"></label>
                            <div class='col-md-2 divTipo'>
                                <select name="idTipo" class="form-control" required id="idTipo">
                                  <option value="">Seleccione Tipo</option>
                                    <option value="CARRERA">CARRERA</option>
                                    <option value="CALLE">CALLE</option>
                                    <option value="DIAGONAL">DIAGONAL</option>
                                    <option value="TRANSVERSAL">TRANSVERSAL</option>
                                </select>
                            </div>
                            <div class='col-md-1'>
                                <input type="number" style="width: 70px;" class="form-control" placeholder="Numero" name="numCalle" id="numCalle" min="0" max="9" pattern="^[0-9]+" required>
                            </div>
                            <div class='col-md-1'>
                                <select name="prefijo_via" class="form-control" id="idPrefijoVia">
                                  <option value="" selected disabled>Prefijo</option>
                                  <option value="0"></option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-1' style="width: 31px;">
                                Bis 
                                <input type="checkbox" name="id_via" value="" id="id_via">
                            </div>
                            <div class='col-md-2'>
                                <select name="cuadrante_via" class="form-control" id="idCuadranteVia">
                                  <option value="" selected disabled>Orientacion</option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>

                            <div class='col-md-1'>
                                <input type="number" class="form-control"  placeholder="Numero" name="numCalle2" id="numCalle2" style="width: 70px;" min="0" max="9" pattern="^[0-9]+" required> 
                            </div>
                            <div class='col-md-1'>
                                <select name="prefijo_via_generadora" class="form-control" id="idPrefijo2">
                                  <option value="" selected disabled>Prefijo</option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-1' style="width: 31px;">
                                Bis
                                <input type="checkbox" name="id_via2" value="" id="id_via2">
                            </div>
                            <div class='col-md-1'>
                                 <input type="text" placeholder="Placa" class="form-control" name="idPlaca" id="idPlaca" required>
                            </div>  
                            <div class='col-md-2'>
                                <select name="cuadrante_via_generadora" class="form-control" id="idCuadrante">
                                  <option value="" selected disabled>Orientacion</option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 30px;">
                                    
                                    <div class="col-md-6">
                                        <label class="col-md-6">Complemento</label>
                                        <div class="col-md-0 divComplemento">
                                    
                                             <input type="text" class="form-control" name="ModalComplemento" placeholder="Complemento" id="ModalComplemento">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label class="col-md-6">Barrio</label>
                                        <div class="col-md-0">
                                            <input type="text" class="form-control" name="ModalBarrio" placeholder="Barrio" id="ModalBarrio">
                                          
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
            
                        <div style="height: 60px;"></div>
                    </form>
                </div>
        </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAceptarModal">Aceptar</button>
        <button type="button" class="btn btn-secondary" id="btnCerrarModal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL -->



{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script>
//$("#id_pais option[value='']").attr('disabled',true);
//$("#id_departamento").attr('disabled', true);
//$("#id_ciudad").attr('disabled',true);


$("#id_pais").change(function() {
    var idPais = $("#id_pais option:selected").val();
    if (idPais > 0) {
        $.ajax({
            url: '{% url "clientes:get-departamento" %}',
            type: 'get',
            data: {
                'id': idPais
            }
        }).done(function(data) {
            var valores = '';
            var datos = JSON.parse(data);
            $("#id_departamento").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_departamento").append(valores);
            $("#id_departamento").attr('disabled', false);
            $("#id_departamento").removeClass('selectValidate');
        });
    } else {
        $("#id_departamento").attr('disabled', true);
        $("#id_departamento").html("<option value=''>Seleccione Una Opción</option>");
        $("#id_ciudad").attr('disabled',true);
        $("#id_ciudad").html("<option value=''>Seleccione Una Opción</option>");
    }
});

//Departamento
$("#id_departamento").change(function() {
    var idDepartamento = $("#id_departamento option:selected").val();
    if (idDepartamento > 0) {
        $.ajax({
            url: '{% url "clientes:get-ciudad" %}',
            type: 'get',
            data: {
                'id': idDepartamento
            }
        }).done(function(data) {
            var valores = ''
            var datos = JSON.parse(data);
            $("#id_ciudad").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_ciudad").append(valores);
            $("#id_ciudad").attr('disabled', false);
            $("#id_ciudad").removeClass('selectValidate');
        });
    }else {
        $("#id_ciudad").attr('disabled', true);
    }
});


//Modal
var formData;
$("#btnAceptarModal").click(function(){
    if( $("#idTipo").val() == '' ){
        Swal.fire(
            'Advertencia ..!',
            'Seleccione Un Tipo',
            'warning',
        )
    }else if( ( $("#numCalle").val().length == '' ) | ( $("#numCalle").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Numeros !',
            'Escriba El Numero De Dirección',
            'warning',
        )
        $("#numCalle").focus();
    }else if( ( $("#numCalle2").val().length == '' ) | ( $("#numCalle2").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Numeros !',
            'Escriba El Segundo Numero De Dirección',
            'warning',
        )
        $("#numCalle2").focus();
    }else if( ($("#idPlaca").val().length == '') | ( $("#idPlaca").val().length > 3 ) ){
        Swal.fire(
            'Advertencia 1-3 Digitos',
            'Escriba Una Placa ',
            'warning',
        )
        $("#idPlaca").focus();
    }else{
        formData = '';
        $('#formModal').find('input, textarea, select').each(function(i, field) {
            formData += field.value+' ';
            //console.log(formData)
        });
        $("#direccion2").val( formData );

        //Asigno Valores Campos Ocultos
        $("#id_tipo_via").val( $("#idTipo").val() );
        $("#id_numero_via").val( $("#numCalle").val() );
        $("#id_prefijo_via").val( $("#idPrefijoVia option:selected").val() );
        $("#id_cuadrante_via").val( $("#idCuadranteVia").val() );
        $("#id_numero_via_generadora").val( $("#numCalle2").val() );
        $("#id_prefijo_via_generadora").val( $("#idPrefijo2").val() );
        $("#id_numero_placa").val( $("#idPlaca").val() );
        $("#id_cuadrante_via_generadora").val( $("#idCuadrante").val() );
        $("#id_complemento").val( $("#ModalComplemento").val() );
        $("#id_barrio").val( $("#ModalBarrio").val() );
        
        //Asigno Valores Campos Ocultos
        $("#exampleModal").modal('hide');
        $("#spanComplemento").html( $("#id_complemento").val() );
        $("#spanBarrio").html( $("#id_barrio").val() );
        

        //Datos
        var dir = $("#id_tipo_via").val();
        var nu = $("#id_numero_via").val();
        var pre = $("#id_prefijo_via").val();
        var check='';
        var num2 = $("#id_numero_via_generadora").val();
        var numVia = $("#id_cuadrante_via").val();
        var pre2 = $("#id_prefijo_via_generadora").val();
        var check2 = '';
        var plac = $("#id_numero_placa").val();
        var cuadra = $("#id_cuadrante_via_generadora").val();

        //Modal
        $("#idTipo").val( dir );
        $("#numCalle").val( nu );
        $("#idPrefijoVia").val( pre );
        $("#idCuadranteVia").val( numVia );
         
        $("#numCalle2").val( num2 );
        $("#idPrefijo2").val( pre2 );
        $("#idPlaca").val( plac );
        $("#idCuadrante").val( cuadra );
        $("#ModalBarrio").val( $("#id_barrio").val() );
        $("#ModalComplemento").val( $("#id_complemento").val() );

        if( $("#id_bis_via").is(':checked') ){
            check = 'Bis';
            $("#id_via").prop('checked',true);
            $("#id_via").val( check );
        }
        if( $("#id_bis_via_generadora").is(':checked') ){
            check2 = 'Bis';
            $("#id_via2").prop('checked',true);
            $("#id_via2").val( check2 );
        }

        $("#direccion2").val( dir+' '+nu+' '+pre+' '+check+' '+numVia+' '+num2+' '+pre2+' '+check2+' '+plac+' '+cuadra );
        $("#direccion2").attr('readonly','readonly');

        $("#spanComplemento").html( $("#id_complemento").val() );
        $("#spanBarrio").html( $("#id_barrio").val() );
     
    }
});

//Editar Información
if( $("#editarInfo").val() == 'editar' ){
    //Valor Inicial a Direccion Complemento,Barrio
    var bisVia = $("#id_bis_via").is(':checked') ? 'Bis':'';
    var bisViaDos = $("#id_bis_via_generadora").is(':checked') ? 'Bis':'';
    $("#spanComplemento").text( $("#id_complemento").val() );
    $("#spanBarrio").text( $("#id_barrio").val() );

    $("#direccion2").val( $("#id_tipo_via").val()+' '+$("#id_numero_via").val()+' '+
        $("#id_prefijo_via").val()+' '+bisVia+' '+$("#id_cuadrante_via").val()+' '+
        $("#id_numero_via_generadora").val()+' '+bisViaDos+' '+$("#id_prefijo_via_generadora").val()+' '+
        $("#id_numero_placa").val()+' '+$("#id_cuadrante_via_generadora").val()
    );

    //Modal
    $("#idTipo").val( $("#id_tipo_via").val() );
    $("#numCalle").val( $("#id_numero_via").val() );
    $("#idPrefijoVia").val( $("#id_prefijo_via").val() );
    $("#id_bis_via").is(':checked') ? $("#id_via").attr('checked',true) : $("#id_via").attr('checked',false);
    $("#idCuadranteVia").val( $("#id_cuadrante_via").val() );
    $("#numCalle2").val( $("#id_numero_via_generadora").val() );
    $("#idPrefijo2").val( $("#id_prefijo_via_generadora").val() );
    $("#id_bis_via_generadora").is(':checked') ? $("#id_via2").attr('checked',true) : $("#id_via2").attr('checked',false);
    $("#idPlaca").val( $("#id_numero_placa").val() );
    $("#idCuadrante").val( $("#id_cuadrante_via_generadora").val() );
    $("#ModalComplemento").val( $("#spanComplemento").text() );
    $("#ModalBarrio").val( $("#spanBarrio").text() );

    $("#id_departamento").addClass('selectValidate');//theme-default.css
    $("#id_ciudad").addClass('selectValidate');//theme-default.css
}else{
    $("#id_departamento").attr('disabled', true);
    $("#id_ciudad").attr('disabled', true);
}



$("#btnCerrarModal").click(function(){
    $("#exampleModal").modal('hide');
});

$("#id_via").change(function(){
    if( $("#id_via").is(":checked") ){
        $("#id_via").attr('value','Bis');
        $("#id_bis_via").prop('checked',true);//checked 1 Oculto
    }else{
         $("#id_via").attr('value','');
         $("#id_bis_via").prop('checked',false);
    }
}); 

$("#id_via2").change(function(){
    if( $("#id_via2").is(":checked") ){
        $("#id_via2").attr('value','Bis');
        $("#id_bis_via_generadora").prop('checked',true);//checked 2 Oculto
    }else{
         $("#id_via2").attr('value','');
         $("#id_bis_via_generadora").prop('checked',false);
    }
}); 
 
//Estado Actual
var estado = $("#id_estado").is(":checked");
if( estado ){
    $("#myonoffswitch").attr('checked',true);
}else{
    $("#myonoffswitch").attr('checked',false);
}

//New Estado
$("#myonoffswitch").change(function(){
    if($(this).prop("checked") == true){
         $("#id_estado").prop('checked',true);
    }else{
        $("#id_estado").attr('checked',false);
    }
});

//logo Tamaño,Extencion
$(document).on('change','input[type="file"]',function(){
    var fileName = this.files[0].name;
    var fileSize = this.files[0].size;

    if (fileSize > 1000000) {
        Swal.fire(
            'Advertencia ..!',
            'El archivo no debe superar 1MegaByte de Peso',
            'warning',
        )
        this.value = '';
        this.files[0].name = '';
    }else {
        var ext = fileName.split('.').pop();
        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                break;
            default:
                Swal.fire(
                    'Advertencia ..!',
                    'Archivo No Tiene la Extensión Adecuada',
                    'warning',
                )
                this.value = '';
                this.files[0].name = '';
        }
    }
});

//logo 
function archivo(evt){
    var files = evt.target.files; 
    //Obtenemos la imagen del campo "file". 
    for (var i = 0, f; f = files[i]; i++) {         
       //Solo admitimos imágenes.
       if (!f.type.match('image.*')) {
            continue; 
       }
       var reader = new FileReader();
       reader.onload = (function(theFile) {
           return function(e) {
           // Creamos la imagen.
           document.getElementById("verImagen").innerHTML = ['<img class="img-circle" style="border: 4px inset #878587;" width="130" height="110" src="', e.target.result,'" title="',escape(theFile.name),'"/>'].join('');
        };
       })(f);  
       reader.readAsDataURL(f);
    }
}
document.getElementById('id_imagen').addEventListener('change', archivo, false);



//Nelson
</script>


{% if messages %}
    {% for message in messages %}
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        <script >
            notificaciones('{{message|escape}}');
            $("#id_pais").prop('selectedIndex',0).change();
        </script>
    {% endfor %}
{% endif %}


{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}
<!--Nelon-->
{% endblock %}


