{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/regional/detalle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %} 
<button data-toggle="modal" id="modalDetalle" data-target="#exampleModal">ACEPTAR</button>
<!-- MODAL-->
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog divModal" role="document">
    <div class="modal-content" id="box_id">
      <div class="modal-header">
        <div class="divBtnCerrar">
            <a href="{% url 'gestores:campania-index' %}" id="hrefCerrar">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        {% if eliminar and not request.user.is_super_administrador %}
            <h4 class="modal-title" id="exampleModalLabel">Eliminar Campaña</h4>
        {% else %}
          <h4 class="modal-title" id="exampleModalLabel">Consultar Campaña</h4>
        {% endif %}
      </div>
        <div class="modal-body">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">
                <span>Información</span>
            </legend>

            <div class="control-group ">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-md-9 col-sm-9 col-xs-10 divContenedor">
                                
                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                    <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Codigo Campaña</label>
                                    <div class="col-md-6">
                                        <span id="idCodigo"><strong>{{ object.codigoCampana | default_if_none:"sin Codigo" }}</strong></span>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                    <i class="fa fa-globe-americas"></i>&nbsp;&nbsp;Nombre</label>
                                    <div class="col-md-6">
                                        <div class="divEstado">
                                            <span>{{object.estado}}</span>
                                        </div>
                                       <span id="idSpan">{{ object.nombre | default_if_none:"sin Datos" |upper }}</span>
                                        <span class="help-block"></span>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                    <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Descripcion</label>
                                    <div class="col-md-6">
                                        {{ object.descripcion | default_if_none:"sin Datos"  }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                    <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Fecha Inicio</label>
                                    <div class="col-md-6">
                                        {{ object.fecha_inicio | default_if_none:"sin Datos"  }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                    <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Fecha Fin</label>
                                    <div class="col-md-6">
                                        {{ object.fecha_fin | default_if_none:"sin Datos"  }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                    <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Responsable Campana</label>
                                    <div class="col-md-6">
                                        {{ object.responsableCampana | default_if_none:"sin Datos"  }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-1">
                                <!--Estado-->
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                         <label class="onoffswitch-label" for="myonoffswitch">
                                            <span class="onoffswitch-inner span" value="0"></span>
                                            <span class="onoffswitch-switch span" value="1"></span>
                                        </label>
                                    </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </fieldset>

        </div>
        {% if eliminar %}
            <div class="modal-footer">
                <button title="Eliminar Campañia" value={{object.id}} class="btn btn-danger" id="btnEliminar">Eliminar</button>
            </div>
        {% endif %}
    </div>
  </div>
</div>
<!-- MODAL-->
{% endblock %}
{% block scripts %}

<script>
    //Estado
    var estado = $(".divEstado > span").text();
    if( estado == 'True'){
        $("#myonoffswitch").prop('checked',true);
    }else{
        $("#myonoffswitch").prop('checked',false);
    }
    function paginaInicial() {
      setTimeout(function(){
            window.location.href = '{% url 'gestores:campania-index' %}'
        }, 1500);
    }
    $("#modalDetalle").click();
    var camp = $("#idSpan").text();
    var cod = $("#idCodigo").text();
    $("#btnEliminar").click(function() {
        var idEliminar;
        idEliminar = $("#btnEliminar").val();
        Swal.fire({
            title: 'Eliminar Campaña',
            type: 'warning',
            html:'¿ Desea Eliminar la Campañia <strong>'+camp+'</strong></br>Con Codigo <strong>'+cod+' ?</strong>',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '{% url "gestores:campania-eliminar" %}',
                    type: 'post',
                    data:{
                        'id':idEliminar,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',//Token al ser Post
                    }
                }).done(function(data){
                    console.log( typeof(data) + ' **** ' +data);
                    $.each(data, function(i, item) {
                        if ( item.val == 1 ) {
                            Swal.fire({
                                type: 'success',
                                title: 'Felicidades',
                                text:  'Eliminado Exitosamente',
                                timer: 2000
                            });
                            paginaInicial();
                        }else{
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                html:'<strong>¡ No Puede Eliminar la Campañia</strong> Tiene Asociado al Responsable Campañia <strong>'+item.name+'</br></strong> Debe Eliminarlo Primero !',
                            });
                        }
                    });
                });
            }
        });
    });
window.addEventListener('click', function(e){
  if (document.getElementById('box_id').contains(e.target)){
  } else{
  	window.location.href = '{% url 'gestores:campania-index' %}'
  }
})
</script>
{% endblock %}