{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'css/usuarios/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="panel-body"> <!-- end panel Body-->
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'gestores:campania-nuevo' %}" id="new" class="btn btn-success"><i class="fa fa-plus"></i> Nueva Campaña</a>
        </div>
        <div class="col-md-12">
            <div class="contentBuscar">
                <div class="divBuscar">
                    <form id="Idform" method="get">
                        <div id="divInputBuscar" style="float: right;">
                            <button type="submit" style="float: left;" id="btnBuscar" class="btn btn-info">
                                <i class="fa fa-search"></i>Buscar
                            </button>

                            <input type="text" style="width: 188px;" id="buscarCliente" class="form-control" name="q" placeholder="Buscar Campañia" value="{{request.GET.q}}">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if object_list%}
            {% if page_obj %}
            <strong>
                <p>{{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados
                    <a href="{% url 'reportes:reportes-campana' %}" class="fa fa-file-download iconDescarga">
                    </a>
                </p>
            </strong>
            {% endif %}

            <div class="table-responsive">
                <table class="table responsive" class="table table-striped" id="sort">
                    <thead>
                        <th colspan="12" id="colspan">Listado de Campania</th>
                        <tr>
                            <th class="thAccion">Acción</th>
                            <th>Estado</th>
<!--                            <th>Codigo Campaña</th>-->
                            <th>Nombre<i class="fa fa-fw fa-sort"></i></th>
                            <th>Descripcion</th>
                            <th>Responsable</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                        <tr>
                            <td class="fitwidth">
                                <a href="{% url 'gestores:campania-consultar' pk=obj.id delete=obj.id %}" title="Consultar" id="Consultar"><span class="fa fa-eye" style="font-size: 15px;" data-toggle="modal" data-target="#exampleModal"></span></a>
                                |
                                {% if not request.user.is_super_administrador %}
                                    <a href="{% url 'gestores:campania-actualizar' pk=obj.id %}" title="Editar" id="editar"><i class="fas fa-pencil-alt"></i></a>
                                {% else %}
                                    <a title="desabilitado" id="editar"><i class="fas fa-pencil-alt"></i></a>
                                {% endif %}
                                | 
                                <a href="{% url 'gestores:campania-consultar' pk=obj.id delete='Eliminar' %}" title="Eliminar" id="eliminar"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModal"></span></a>
                            </td>
                            <td>
                                {% if obj.estado %}
                                    <span class="label label-success">Activo</span>
                                {%else%}
                                    <span class="label label-danger">Inactivo</span>
                                {% endif %}
                            </td>
<!--                           <td>{{obj.codigoCampana |default_if_none:"Sin Codigo" |upper}}</td> -->
                           <td>{{obj.nombre |default_if_none:"Sin Dato" |upper}}</td>
                           <td style="width: 40%;">{{obj.descripcion |default_if_none:"Sin Dato" |upper}}</td> 
                           <td>{{obj.responsableCampana |default_if_none:"Sin Responsable" |upper}}</td> 
                           <td>{{obj.fecha_inicio |upper}}</td> 
                           <td id="columnFechaF" value="{{obj.fecha_fin|upper}}">{{obj.fecha_fin|upper}}</td> 
                        </tr>
                            {% endfor %}
                    </tbody> 
                </table>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script>
                $(document).ready(function() {
                   $("#sort").DataTable({
                         "searching": false,
                         "ordering": true,
                         "paging": false,
                         "info": false,
                         columnDefs : [
                             { type : 'Nombre', targets : [3] }
                             ],
                                });
                                });
                </script>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="waves-effect"><a href="?page=
                        {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled"><a href="#!"><i class="fa fa-angle-left"></i></a></li>
                    {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="active"><a href="#!">{{ num }}</a></li>
                            {% else %}
                                <li class="waves-effect"><a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% if page_obj.has_next %}

                    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>

                    {% else %}
                        <li class="disabled"><a href="#!"> <i class="fa fa-angle-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
            {%else%}
            <input type="hidden" name="q" value="0" id="inputSinRegistros">
            <div style="text-align:center; margin-top:6%;">
                <i class="fa fa-database" style="font-size: 94px;"></i>
                <span style="font-size: 44px;">&nbsp; Sin Registros</span>
            </div>
            {%endif%}
            <p id="empty_set" hidden>{{ empty_set }}</p>
        </div>
    </div>
</div> <!-- end panel Body-->
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $("tr:odd").css("background-color", "#daf4ff");
</script>
<script>
    var registros;
    registros = $("#inputSinRegistros").val();
    var empty_set = $("#empty_set").text();
    if ( empty_set == 1){
        if (registros == 0) {
            Swal.fire({
                title: '¡Sin Datos!',
                text: "No Cuenta Con Resgistros Relacionados Con La Búsqueda",
                type: 'warning',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.value) {
                    registros = 1;
                    var url = "{% url 'gestores:campania-index' %}";
                    window.location.href = url;
                }
            });
        }
    }

</script>

{% endblock %}

