{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/regional/nuevo.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            <a href='{% url "gestores:campania-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Gestor de Campañas
            </a> 

            <div class="content"><!--formulario-->
                <div class="row">
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-12">
                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title">
                                    <strong id="actualizaCam">Actualizar Campaña</strong>
                                </h3>
                            </div>
                            
                            <div class="container">
                              <div class="col-md-10">
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" disabled name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner" value="0"></span>
                                        <span class="onoffswitch-switch spanInActivo" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
                        
                    {% else %}
                    <div class="col-md-12">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">
                                 <strong id="actualizaCam">Nueva Campaña</strong>
                            </h3>
                        </div>
                  
                        <div class="row">
                            <div class="contentEstado">
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner span" value="0"></span>
                                        <span class="onoffswitch-switch span" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>

                </div>
                    {% endif %}
            </div>
            </br>
            </br>

            <div class="col-md-9" style="display: none;">
                {{form.estado}} 
                <strong class="help-block"></strong>
            </div>
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 divForm">
                <div class="form-group" style="white-space: nowrap;">
                    <label class="col-lg-3 col-md-6 control-label">
                        <i class="far fa-newspaper"></i>&nbsp;&nbsp;Nombre Campañia
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-lg-9 col-md-6">
                        {{form.nombre}}
                        <strong class="help-block"></strong>
                    </div>
                </div>
                <div class="form-group divAsesor " style="white-space: nowrap;" id="divAsesores">
                    <label class="col-lg-3 col-md-6 control-label">
                    <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Responsable Campaña
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-lg-9 col-md-6">
                        {{form.responsableCampana}}
                        <span class="help-block"></span>
                    </div>
                </div>
<!--                <div class="form-group divAsesor" id="divAsesores">-->
<!--                    <label class="col-md-4 control-label">-->
<!--                    <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Asesor</label>-->
<!--                    <div class="col-md-8">-->
<!--                        {{form.asesor}}-->
<!--                        <span class="help-block"></span>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="col-lg-3 col-md-6 control-label">
                        <i class="fas fa-link"></i>&nbsp;&nbsp;fecha Inicio
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-lg-9 col-md-6">
                        {{form.fecha_inicio}}
                        <strong class="help-block"></strong>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-6 control-label">
                        <i class="fas fa-link"></i>&nbsp;&nbsp;fecha Fin
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-lg-9 col-md-6">
                        {{form.fecha_fin}}
                        <strong class="help-block"></strong>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-6 control-label">
                        <i class="fas fa-link"></i>&nbsp;&nbsp;Descripcion
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-lg-9 col-md-6">
                        {{form.descripcion}}
                        <strong class="help-block"></strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 divForm"></div>
         </div>
            <div>
                {% if 'actualizar' in request.path %}
                    <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                        <i class="fa fa-save" aria-hidden="true"></i>Actualizar
                    </button>
                {% else %}
                    {% if not request.user.is_super_administrador %}
                        <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                            <i class="fa fa-save" aria-hidden="true"></i>Guardar
                        </button>
                    {% endif %}
                {% endif %}
                <button type="button" class="btn btn-danger pull-right"  id="btnLimpiar">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                </button> 
            </div> 
        </form>
     </div>
</div>

{% endblock %}

{% block scripts %}
<script>
notificaciones();
//Estado Actual
var estado = $("#id_estado").is(':checked');
if( estado ){
    $("#myonoffswitch").attr('checked',true);
}else{
    $("#myonoffswitch").attr('checked',false);
}
//New Estado
$("#myonoffswitch").change(function() {
    if ($(this).prop('checked') == true ) {
        $("#id_estado").prop('checked',true);
    }else {
        $("#id_estado").attr('checked',false);
    }
});

document.getElementById("btnLimpiar").addEventListener('click',() =>{
    var dato = $("#actualizaCam").text();
    if( dato != "Actualizar Campaña" ){
        $("#id_nombre").val("")
    }
    $("#id_descripcion").val("")
    $("#id_fecha_inicio").val("")
    $("#id_fecha_fin").val("")
    $("#id_responsableCampana").val("")
});

document.getElementById("btnGuardar").addEventListener('click',() =>{
    var name = document.getElementById("id_nombre").value;
    var descrip = document.getElementById("id_descripcion").value;
    var fechI = document.getElementById("id_fecha_inicio").value;
    var fechF = document.getElementById("id_fecha_fin").value;
    var valor = $("#id_responsableCampana option:selected").val();
    var guardar = "crear"
    if( dato != "Actualizar Campaña" ){
        var guardar = "actualizar"
    }
    if ( (name != '') && (descrip != '') && ( fechI != '' ) && ( fechF != '' ) && ( valor != '' ) ){
        event.preventDefault();
            Swal.fire({
              title: 'Atención',
              text: `Esta seguro que desea ${guardar} este registro?`,
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, confirmar'
            }).then((result) => {
                if (result.value) {
                    $("#form").submit();
                    Swal.fire({
                      title: 'Felicidades',
                      text: "Campañia Guardada Exitosamente",
                      type: 'success',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        var url = "{% url 'gestores:campania-index' %}";
                        window.location.href = url;
                    });
                }
            });
    }
});

//Campo Fecha
var d = new Date();
var dia = d.getDate();
var diaActual = '0'+dia;
var mes = d.getMonth()+1;
var m = '0'+ mes.toString();
//Validaciones Fecha
var diaHoy = dia <= 9 ? diaActual : dia;
var mesHoy = mes <= 9 ? m : mes;
var fecha = d.getFullYear()+"-"+mesHoy+'-'+diaHoy;
console.log('edito '+fecha)
$("#id_fecha_inicio").attr('min',fecha);


document.getElementById("id_fecha_inicio").addEventListener('change',() =>{
    fechaInicio = $("#id_fecha_inicio").val();
    $("#id_fecha_fin").attr('min',fechaInicio);
    $("#id_descripcion").focus();
});

document.getElementById("id_fecha_fin").addEventListener('change',() =>{
    $("#id_descripcion").focus();
});

//Vista Actualizar
var dato = $("#actualizaCam").text();
if( dato == "Actualizar Campaña" ){
  var fi = $(".fechaInicio").attr('value');
  var ff = $("#id_fecha_fin").attr('value');

  $(".fechaInicio").val( fi.split("/").reverse().join("-") );
  $("#id_fecha_fin").val( ff.split("/").reverse().join("-") );

   var dato = $("#id_fecha_inicio").val();
   $("#id_fecha_fin").attr('min',dato);
}
</script>



{% if messages %}
    {% for message in messages %}
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        <script >
            notificaciones('{{message|escape}}');
        </script>
    {% endfor %}
{% endif %}


{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}


<!--Nelson-->
{% endblock %}


