{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/regional/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="panel-body"> <!-- end panel Body-->
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'sedes:regional-nuevo' %}" id="new" class="btn btn-success"><i class="fa fa-plus"></i> Nueva Regional</a>
        </div>
        
        <div class="col-md-12">
            <div class="contentBuscar">
                <div class="divBuscar">
                    <form id="Idform" method="get">
                        <div id="divInputBuscar">
                            <input type="text" id="buscarCliente" class="form-control" name="q" placeholder="Buscar Regional" value="{{request.GET.q}}">    
                        </div>
                        <button type="submit" id="btnBuscar" class="btn btn-info">
                            <i class="fa fa-search"></i>Buscar
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% if object_list%}
            {% if page_obj %}
            <strong>
                <p>{{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados
                </p>

            </strong>
            {% endif %}

            <div class="table-responsive">
                <table id="listUsuario" class="table table-striped">
                    <thead>
                        <th colspan="100" id="colspan">Listado de Regionales</th>
                        <tr>
                            <th class="thAccion">Acción</th>
                            <th>Estado</th>
                            <th>Regional</th>
                            <th>Descripción</th>
                            <th>Puntos Operación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'sedes:regional-consultar' pk=obj.id delete=obj.id %}" title="Consultar" id="Consultar"><span class="fa fa-eye" style="font-size: 15px;" data-toggle="modal" data-target="#exampleModal"></span></a>
                                |
                                {% if not request.user.is_super_administrador %}
                                    <a href="{% url 'sedes:regional-actualizar' pk=obj.id %}" title="Editar" id="editar"><i class="fas fa-pencil-alt"></i></a>
                                {% else %}
                                    <a title="desabilitado" id="editar"><i class="fas fa-pencil-alt"></i></a>
                                {% endif %}
                                | 
                                <a href="{% url 'sedes:regional-consultar' pk=obj.id delete='Eliminar' %}" title="Eliminar" id="eliminar"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModal"></span></a>
                            </td>
                            <td>
                                {% if obj.estado %}
                                    <span class="label label-success">Activo</span>
                                {%else%}
                                    <span class="label label-danger">Inactivo</span>
                                {% endif %}
                            </td>

                           <td id ="id">{{obj.regional|upper}}</td>
                           <td>{{obj.descripcion|upper}}</td>
                           <td> <a href="" >{{obj.ptooperacion_set.filter.count}} </a></td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>

                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="waves-effect"><a href="?page=
                        {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled"><a href="#!"><i class="fa fa-angle-left"></i></a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    	<li class="active"><a href="#!">{{ num }}</a></li>
                    {% else %}
                    	<li class="waves-effect"><a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}

                    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>

                    {% else %}
                    	<li class="disabled"><a href="#!"> <i class="fa fa-angle-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
            {%else%}
            <input type="hidden" name="q" value="0" id="inputSinRegistros">
            <div style="text-align:center; margin-top:6%;">
                <i class="fa fa-database" style="font-size: 94px;"></i>
                <span style="font-size: 44px;">&nbsp; Sin Registros</span>
            </div>
            {%endif%}
        </div>
    </div>
</div> <!-- end panel Body-->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("tr:odd").css("background-color", "#daf4ff"); // filas pares
</script>
{% endblock %}