.table {
    text-align: center;
}
thead>tr>th {
    text-align: center;
}
#colspan {
    font-size: 15px;
}
.glyphicon-trash { 
    color: red
}
#inputCliente{
    color: black;
}
#buscarUsuario{
    width: 200px;
    float: right;
}
#buscarDate{
    width: 200px;
}
.contentBuscar{
    width: 100%;
    text-align: right;
}
.contentDateBuscar{
    width: 100%;
}
#divInputBuscar{
    float: right;
}
#divInputDate{
    float: left;
}
.iconDescarga{
    color:blue;
    font-size: 25px;
}
.iconConsul{
    font-size: 15px;
}
.divSinRegistros{
    text-align:center;
    margin-top:6%;
}
.iconSinResul{
    font-size: 94px;
}
.spanSinResul{
    font-size: 44px;
}
.olIsAdmin{
    text-align: left;
}
input[type=date]{
    color: gray;
   height: 33px;
   font-size: 13px;
   line-height: 14px;
}
td.fitwidth {
    width: 1px;
    white-space: nowrap;
}