#verImagen{
  height: 130px;
  float: right;
}
#imgCliente{
    border: 4px inset #878587;
    width:130px;
    height: 110px;
}
.span{
    color: red;
}
.spanInActivo{
    margin-bottom: 11px;
}
.divDirecciones{
    display: none;
}
.divForm{
    margin-bottom: 5%; 
}   
#spanComplemento, #spanBarrio{
    font-weight: bold;
    color: #020202;
}
.formulario{
    margin-bottom: 31px;
}
.divRegional{
    display: none;
}
.divAsesor{
    display: none;
}
.divPunOperacion{
    display: none;
}
/*Modal*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 22px;
    font-weight: bold !important;
    margin-left: 48px;
}
/*Swich Estado*/
.onoffswitch {
    position: relative;
    width: 96px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 1%;
    margin-top: 38px;
    float: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label { /*borde Estado*/
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #f1f1f1; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 10px;
    size: 22;
    text-align: 1;
    background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "InActivo";
    padding-right: 3px;
    size: 5;
    background-color: red; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 10px;
    background: #FFFFFF;
    position: absolute; bottom: 0;
    padding-top: 17px; 
    right: 60px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    margin-bottom: 12px;
}
#iconoEliminar{
    font-size: 13px;
    color: blue;
    margin-top: 7px;
}
.form-control {
    padding:0.1em !important;
}
input[readonly]:-moz-read-only {
  /* For Firefox */
  cursor: pointer;
}
