{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>{{titulo}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css'%}" />
    <link rel="stylesheet" type="text/css" id="" href="{% static 'js/plugins/toastr/build/toastr.css'%}" />
    <!-- EOF CSS INCLUDE -->
    <!-- FontaWesome -->
    <link href="{% static 'css/fontawesome-free-5.11.2-web/css/all.css' %}" rel='stylesheet'/>


    <!--link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css" rel='stylesheet'/-->
    <!-- FontaWesome -->
    {% block styles %}
    {% endblock %}
    {% include "scriptsstart.html" %}<!--Import Js iniciales-->

</head>

<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">
        {% include 'main.html' %}
        <div class="page-content">
            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->

                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out-alt"></span></a>
                </li>
                <!-- END SIGN OUT -->
                <!-- MESSAGES -->
<!--                <li class="xn-icon-button pull-right">-->
<!--                    <a href="#"><span class="fa fa-comments"></span></a>-->
<!--                    <div class="informer informer-danger">4</div>-->
<!--                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">-->
<!--                        <div class="panel-heading">-->
<!--                            <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>-->
<!--                            <div class="pull-right">-->
<!--                                <span class="label label-danger">4 new</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">-->
<!--                            <a href="#" class="list-group-item">-->
<!--                                <div class="list-group-status status-online"></div>-->
<!--                                <img src=" {% static 'assets/images/users/user2.jpg' %}" class="pull-left" alt="John Doe" />-->
<!--                                <span class="contacts-title">John Doe</span>-->
<!--                                <p>Praesent placerat tellus id augue condimentum</p>-->
<!--                            </a>-->
<!--                            <a href="#" class="list-group-item">-->
<!--                                <div class="list-group-status status-away"></div>-->
<!--                                <img src=" {% static 'assets/images/users/user.jpg'%}" class="pull-left" alt="Dmitry Ivaniuk" />-->
<!--                                <span class="contacts-title">Dmitry Ivaniuk</span>-->
<!--                                <p>Donec risus sapien, sagittis et magna quis</p>-->
<!--                            </a>-->
<!--                            <a href="#" class="list-group-item">-->
<!--                                <div class="list-group-status status-away"></div>-->
<!--                                <img src=" {% static 'assets/images/users/user3.jpg' %}" class="pull-left" alt="Nadia Ali" />-->
<!--                                <span class="contacts-title">Nadia Ali</span>-->
<!--                                <p>Mauris vel eros ut nunc rhoncus cursus sed</p>-->
<!--                            </a>-->
<!--                            <a href="#" class="list-group-item">-->
<!--                                <div class="list-group-status status-offline"></div>-->
<!--                                <img src=" {% static 'assets/images/users/user6.jpg' %}" class="pull-left" alt="Darth Vader" />-->
<!--                                <span class="contacts-title">Darth Vader</span>-->
<!--                                <p>I want my money back!</p>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="panel-footer text-center">-->
<!--                            <a href="pages-messages.html">Show all messages</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
                <!-- END MESSAGES -->
                <!-- TASKS -->
<!--                <li class="xn-icon-button pull-right">-->
<!--                    <a href="#"><span class="fa fa-tasks"></span></a>-->
<!--                    <div class="informer informer-warning">3</div>-->
<!--                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">-->
<!--                        <div class="panel-heading">-->
<!--                            <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>-->
<!--                            <div class="pull-right">-->
<!--                                <span class="label label-warning">3 active</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="panel-body list-group scroll" style="height: 200px;">-->
<!--                            <a class="list-group-item" href="#">-->
<!--                                <strong>Phasellus augue arcu, elementum</strong>-->
<!--                                <div class="progress progress-small progress-striped active">-->
<!--                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>-->
<!--                                </div>-->
<!--                                <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>-->
<!--                            </a>-->
<!--                            <a class="list-group-item" href="#">-->
<!--                                <strong>Aenean ac cursus</strong>-->
<!--                                <div class="progress progress-small progress-striped active">-->
<!--                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>-->
<!--                                </div>-->
<!--                                <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>-->
<!--                            </a>-->
<!--                            <a class="list-group-item" href="#">-->
<!--                                <strong>Lorem ipsum dolor</strong>-->
<!--                                <div class="progress progress-small progress-striped active">-->
<!--                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>-->
<!--                                </div>-->
<!--                                <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>-->
<!--                            </a>-->
<!--                            <a class="list-group-item" href="#">-->
<!--                                <strong>Cras suscipit ac quam at tincidunt.</strong>-->
<!--                                <div class="progress progress-small">-->
<!--                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>-->
<!--                                </div>-->
<!--                                <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="panel-footer text-center">-->
<!--                            <a href="pages-tasks.html">Show all tasks</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
                <!-- END TASKS -->
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            <!-- START BREADCRUMB -->
<!--            <ul class="breadcrumb">-->
<!--                <li><a href="{% url 'index'%}"><strong>{{request.get_full_path}}</strong></a></li>-->
<!--            </ul>-->
            <!-- END BREADCRUMB -->
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">
                        {% block content %}
                        {% endblock %}

            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title">  <i class="fas fa-spinner fa-spin"></i> Cerrar <strong>sesión</strong> ?</div>
                <div class="mb-content">
                    <p>¿Estás seguro de que quieres cerrar sesión?</p>
                    <p>Pulse No si desea continuar trabajando. Presione Sí para cerrar la sesión del usuario actual.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="{% url 'salir'%}" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
       });
  </script>
    {% include "scripts.html" %}<!--Import Js-->

    {% block scripts %}
    {% endblock %}

</body>

</html>