{% extends 'base.html' %}
{% load i18n %}

{% load static %}
{% block styles %}

{% endblock %}

{% block content %}
<dic class="row" style="display:none;">
	
</style>
<form method="post">{% csrf_token %}
    <p>Are you sure you want to activate "{{ object }}"?</p>
    <input type="submit" value="Confirm" id="confirm">
</form>
</dic>
{% endblock %}

{% block scripts %}

<script>

		Swal.fire({
			  title: 'Atención ..?',
			  text: "Desea Activar El Registro {{ object }} ..?",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Si, Activar'
		}).then((result) => {
		  if (result.value) {
		    Swal.fire(
		      	'Felicidades ...',
		      	'Activado Exitosamente',
		      	'success',
		    )
   			function explode(){
				$("#confirm").click();
			}
			setTimeout(explode, 1500);

		  }else{
		  	window.location.href="{% url 'clientes:cliente-index' %}"
		  }

		});


</script>
{% endblock %}