{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>

    <!-- META SECTION -->
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <link href="{% static 'css/fontawesome-free-5.10.0-11/css/all.css' %}" rel='stylesheet'/>
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}" />

    <!-- EOF CSS INCLUDE -->
</head>

<body>
    <div class="login-container lightmode">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title" style="text-align:center;"><strong>Ingresa a tu cuenta</div>

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-12"> {{ form.username.label_tag }}</div>
                            <div class="col-md-12">{{ form.username }}</div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">{{ form.password.label_tag }}</div>
                            <div class="col-md-12">{{ form.password }}</div>
                        </div>
                    <p class="text-right"><a href="{% url 'password_reset'%}" class="btn btn-link" style="color:#0074D9;">¿Olvidaste tu contraseña?</a></p>
                        <div>
                            <button class="btn btn-block" style="background-color:#ff5e5e;color: white; font-size: 1.2em; font-weight: 100; border-radius:10px;">Ir</button>
                        </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2019 Referir Paga
                </div>
                <div class="pull-right">
                </div>
            </div>
        </div>

    </div>

</body>

<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>



<script type="text/javascript" src="{% static 'js/plugins/sweetalert2.8/sweetalert.js' %}"></script>

<script>
    $("input").addClass("form-control")
</script>


{% if form.errors %}
    <script>
        console.log('{{form.errors}}')
        Swal.fire({
            type: 'error',
            title: 'Oops...',
            text:   'Su nombre de usuario y contraseña no coinciden. Por favor, inténtalo de nuevo.',
            footer: '<a href="{% url "password_reset"%}" >¿Olvidaste tu contraseña?</a>'
    });
    $("body").removeClass("swal2-height-auto");

    </script>
{% endif %}

</html>