{% load static %}
<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="{% url 'index'%}">Referir Paga</a>
            <a href="#" class="x-navigation-control" ><i class="fas fa-bars fa-2x"></i></a>
        </li>
        <li class="xn-profile">
            <a href="#" class="profile-mini">
                <img src="{% static 'assets/images/users/avatar.jpg' %}" alt="John Doe" />
            </a>
            <div class="profile">
                <div class="profile-image">
                    <img src="{% static 'assets/images/users/avatar.jpg' %}" alt="John Doe" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-name">{{ user.first_name }}</div>
                    <div class="profile-data-title">{{user.username}}</div>
                </div>
                <div class="profile-controls">
<!--                    <a href="pages-profile.html" class="profile-control-left">-->
<!--                        <span class="fa fa-info"></span>-->
<!--                    </a>-->
<!--                    <a href="pages-messages.html" class="profile-control-right">-->
<!--                        <span class="fa fa-envelope"></span>-->
<!--                    </a>-->
                </div>
            </div>
        </li>
<!--        <li class="xn-title">Navigation</li>-->
<!--        <li class="">-->
<!--            <a href="{% url 'index'%}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>-->
<!--        </li>-->


{% if user.is_super_administrador == True and user.is_administrador == False %}
        <li class="xn-text">
            <a href="{% url 'clientes:cliente-index'%}">
                <span class="fa fa-users"></span> 
                <span class="xn-text">Clientes</span>
            </a>
        </li>
{% endif %}


{% if user.is_administrador  or user.is_administrador_punto  %}<!---or user.is_superuser NO APLICA--->
        {% if user.is_super_administrador == True and user.is_administrador == True %}
            <li class="xn-text">
                <a href="{% url 'logginas:reset-user'%}">
                    <span class="fa fa-eye-slash"></span>
                    <span class="xn-text">cerrar "ver como"</span>
                </a>
            </li>
        {% endif %}

        <li class="xn-text">
            <a href="{% url 'usuarios:usuario-index'%}">
                <span class="fa fa-users"></span>
                <span class="xn-text">Usuarios</span>
            </a>
        </li>

        <li class="xn-text">
            <a href="{% url 'gestores:cumpleanhos'%}">
                <span class="fa  fa-gift"></span> 
                <span class="xn-text">Cumpleaños</span>
            </a>
        </li>
{% endif %}

{% if user.is_administrador %} <!---or user.is_superuser NO APLICA--->
        <li>
            <a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">Gestor De Puntos</span></a>
            <ul>
                <li>
                    <a href="{% url 'sedes:regional-index'%}">
                        <span class="fa fa-university"></span> 
                        <span class="xn-text">Gestión Regionales</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'sedes:pto-index'%}">
                        <span class="fa fa-map-marker"></span>
                        <span class="xn-text">Gestión Punto Operación</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'gestores:campania-index'%}">
                        <span class="fa fa-map-marker"></span>
                        <span class="xn-text">Gestión Campañias</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="xn-text">
            <a href="{% url 'gestores:enlace-index'%}">
                <span class="fa fa-random"></span>
                <span class="xn-text">Gestión de Enlaces</span>
            </a>
        </li>

        <li class="xn-text">
            <a href="{% url 'gestores:publicidad-index'%}">
                <span class="fa fa-paperclip"></span>
                <span class="xn-text">Gestión de Publicidad</span>
            </a>
        </li>

        <li class="xn-text">
            <a href="{% url 'gestores:servicio-index'%}">
                <span class="glyphicon glyphicon-hand-up"></span>
                <span class="xn-text">Gestión de Servicios</span>
            </a>
        </li>
        <li class="xn-text">
            <a href="{% url 'gestores:producto-index'%}">
                <span class="glyphicon glyphicon-briefcase"></span>
                <span class="xn-text">Gestión de Productos</span>
            </a>
        </li>


        <li>
            <a href="#">
                <span class="fa fa-file-download"></span>
                <span class="xn-text">Reportes</span>
            </a>
            <ul>
                {% if user.is_super_administrador %}
                <li>
                    <a href="{% url 'reportes:reportes-clientes'%}">
                        <span class="fas fa-file-alt"></span>
                        <span class="xn-text">Reporte Clientes</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'reportes:reportes-enlace'%}">
                        <span class="fa fa-share-alt"></span> 
                        <span class="xn-text">Reporte Enlaces</span>
                    </a>
                </li>


                <li>
                    <a href="{% url 'reportes:reportes-publicidad'%}">
                        <span class="fa fa-cube"></span> 
                        <span class="xn-text">Reporte Publicidad</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reportes:reportes-servicio'%}">
                        <span class="fa fa-briefcase"></span> 
                        <span class="xn-text">Reporte Servicios</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reportes:reportes-regionales-pto'%}">
                        <span class="fa fa-hotel"></span> 
                        <span class="xn-text">Reporte Regionales Punto Operacion</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'reportes:reportes-usuarios'%}">
                        <span class="fa fa-file-excel"></span> 
                        <span class="xn-text">Reporte Usuarios</span>
                    </a>
                </li>
            </ul>
        </li>

{% endif %}


<!--



        <li class="xn-openable">
            <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Layouts</span></a>
            <ul>
                <li><a href="layout-boxed.html">Boxed</a></li>
                <li><a href="layout-nav-toggled.html">Navigation Toggled</a></li>
                <li><a href="layout-nav-top.html">Navigation Top</a></li>
                <li><a href="layout-nav-right.html">Navigation Right</a></li>
                <li><a href="layout-nav-top-fixed.html">Top Navigation Fixed</a></li>
                <li><a href="layout-nav-custom.html">Custom Navigation</a></li>
                <li><a href="layout-frame-left.html">Frame Left Column</a></li>
                <li><a href="layout-frame-right.html">Frame Right Column</a></li>
                <li><a href="layout-search-left.html">Search Left Side</a></li>
                <li><a href="blank.html">Blank Page</a></li>
            </ul>
        </li>
        <li class="xn-title">Components</li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">UI Kits</span></a>
            <ul>
                <li><a href="ui-widgets.html"><span class="fa fa-heart"></span> Widgets</a></li>
                <li><a href="ui-elements.html"><span class="fa fa-cogs"></span> Elements</a></li>
                <li><a href="ui-buttons.html"><span class="fa fa-square-o"></span> Buttons</a></li>
                <li><a href="ui-panels.html"><span class="fa fa-pencil-square-o"></span> Panels</a></li>
                <li><a href="ui-icons.html"><span class="fa fa-magic"></span> Icons</a>
                    <div class="informer informer-warning">+679</div>
                </li>
                <li><a href="ui-typography.html"><span class="fa fa-pencil"></span> Typography</a></li>
                <li><a href="ui-portlet.html"><span class="fa fa-th"></span> Portlet</a></li>
                <li><a href="ui-sliders.html"><span class="fa fa-arrows-h"></span> Sliders</a></li>
                <li><a href="ui-alerts-popups.html"><span class="fa fa-warning"></span> Alerts & Popups</a></li>
                <li><a href="ui-lists.html"><span class="fa fa-list-ul"></span> Lists</a></li>
                <li><a href="ui-tour.html"><span class="fa fa-random"></span> Tour</a></li>
            </ul>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-pencil"></span> <span class="xn-text">Forms</span></a>
            <ul>
                <li>
                    <a href="form-layouts-two-column.html"><span class="fa fa-tasks"></span> Form Layouts</a>
                    <div class="informer informer-danger">New</div>
                    <ul>
                        <li><a href="form-layouts-one-column.html"><span class="fa fa-align-justify"></span> One Column</a></li>
                        <li><a href="form-layouts-two-column.html"><span class="fa fa-th-large"></span> Two Column</a></li>
                        <li><a href="form-layouts-tabbed.html"><span class="fa fa-table"></span> Tabbed</a></li>
                        <li><a href="form-layouts-separated.html"><span class="fa fa-th-list"></span> Separated Rows</a></li>
                    </ul>
                </li>
                <li><a href="form-elements.html"><span class="fa fa-file-text-o"></span> Elements</a></li>
                <li><a href="form-validation.html"><span class="fa fa-list-alt"></span> Validation</a></li>
                <li><a href="form-wizards.html"><span class="fa fa-arrow-right"></span> Wizards</a></li>
                <li><a href="form-editors.html"><span class="fa fa-text-width"></span> WYSIWYG Editors</a></li>
                <li><a href="form-file-handling.html"><span class="fa fa-floppy-o"></span> File Handling</a></li>
            </ul>
        </li>
        <li class="xn-openable">
            <a href="tables.html"><span class="fa fa-table"></span> <span class="xn-text">Tables</span></a>
            <ul>
                <li><a href="table-basic.html"><span class="fa fa-align-justify"></span> Basic</a></li>
                <li><a href="table-datatables.html"><span class="fa fa-sort-alpha-desc"></span> Data Tables</a></li>
                <li><a href="table-export.html"><span class="fa fa-download"></span> Export Tables</a></li>
            </ul>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-bar-chart-o"></span> <span class="xn-text">Charts</span></a>
            <ul>
                <li><a href="charts-morris.html"><span class="xn-text">Morris</span></a></li>
                <li><a href="charts-nvd3.html"><span class="xn-text">NVD3</span></a></li>
                <li><a href="charts-rickshaw.html"><span class="xn-text">Rickshaw</span></a></li>
                <li><a href="charts-other.html"><span class="xn-text">Other</span></a></li>
            </ul>
        </li>
        <li>
            <a href="maps.html"><span class="fa fa-map-marker"></span> <span class="xn-text">Maps</span></a>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-sitemap"></span> <span class="xn-text">Navigation Levels</span></a>
            <ul>
                <li class="xn-openable">
                    <a href="#">Second Level</a>
                    <ul>
                        <li class="xn-openable">
                            <a href="#">Third Level</a>
                            <ul>
                                <li class="xn-openable">
                                    <a href="#">Fourth Level</a>
                                    <ul>
                                        <li><a href="#">Fifth Level</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

-->
    
    </ul>
    <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->
<!-- PAGE CONTENT -->