{% load static %}
<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>



<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>






<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- END PLUGINS -->
<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<!--script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js' %}"></script-->
<script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/rickshaw/d3.v3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/rickshaw/rickshaw.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- END THIS PAGE PLUGINS-->
<!-- START TEMPLATE -->
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/demo_dashboard.js' %}"></script>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
<!-- start  sweetalert-->
<script type="text/javascript" src="{% static 'js/plugins/sweetalert2.8/sweetalert.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/toastr/toastr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/global.js' %}"></script>

<!-- END sweetalert -->