{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/regional/detalle.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %} 
<button data-toggle="modal" id="modalDetalle" data-target="#exampleModal">ACEPTAR</button>
<!-- MODAL-->
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog divModal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="divBtnCerrar">
            <a href="{% url 'gestores:enlace-index' %}" id="hrefCerrar">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <h4 class="modal-title" id="exampleModalLabel">Información</h4>
      </div>
        <div class="modal-body">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">
                <span>Enlace</span>
            </legend>

            <div class="control-group ">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-md-9 col-sm-9 col-xs-9 divContenedor">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                    <i class="fa fa-globe-americas"></i>&nbsp;&nbsp;Nombre</label>
                                    <div class="col-md-6">
                                        <div class="divEstado">
                                            <span>{{object.estado}}</span>
                                        </div>
                                        {{ object.nombre | default_if_none:"sin Datos"  |upper }}
                                        <span class="help-block"></span>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                    <i class="fas fa-link"></i>&nbsp;&nbsp;Url</label>
                                    <div class="col-md-8">
                                        {{ object.url | default_if_none:"sin Datos"  }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                            </div>            
                            
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <!--Estado-->
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                         <label class="onoffswitch-label" for="myonoffswitch">
                                            <span class="onoffswitch-inner span" value="0"></span>
                                            <span class="onoffswitch-switch span" value="1"></span>
                                        </label>
                                    </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </fieldset>

        </div>
        {% if eliminar and not request.user.is_super_administrador %}
            <div class="modal-footer">
                <button title="Eliminar Enlace" value={{object.id}} class="btn btn-danger" id="btnEliminar">Eliminar</button>
            </div>
        {% endif %}
    </div>
  </div>
</div>
<!-- MODAL-->
{% endblock %}


{% block scripts %}
<script>
    //Estado
    var estado = $(".divEstado > span").text();
    if( estado == 'True'){
        $("#myonoffswitch").prop('checked',true);
    }else{
        $("#myonoffswitch").prop('checked',false);
    }
   
    function paginaInicial() {
      setTimeout(function(){  
            window.location.href = '{% url 'gestores:enlace-index' %}'  
        }, 1500);
    }
    
    $("#modalDetalle").click();

    var regionales = $(".spanRegional").text();
    $("#btnEliminar").click(function() {
        var idEliminar;
        idEliminar = $("#btnEliminar").val();
        Swal.fire({
            title: 'Eliminar Enlace',
            type: 'warning',
            text:'¿ Desea Eliminar Enlace '+regionales+' ?',
            showCancelButton: true, 
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '{% url "gestores:enlace-eliminar" %}',
                    type: 'post',
                    data:{ 
                        'id':idEliminar,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',//Token al ser Post
                    }
                }).done(function(data){
                    console.log( typeof(data) + ' **** ' +data);
                    switch ( data ){
                        case 1:
                             Swal.fire({
                                type: 'success',
                                title: 'Felicidades',
                                text:  'Eliminado Exitosamente',
                                timer: 2000
                            });
                            paginaInicial(); 
                            break;
                        case 0:
                             Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'NO Se Puedo Eliminar Enlace',
                            });
                            break;
                        default:
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text:  'Error Ocurrio Una Exception',
                            });
                    }/**/
                });
            }
        });   
    });
</script> 
 

{% endblock %}