{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/regional/nuevo.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            <a href='{% url "gestores:enlace-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Listado Enlaces
            </a> 

            <div class="content"><!--formulario-->
                <div class="row">
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-12">
                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title">
                                    <strong>Actualizar Enlace</strong>
                                </h3>
                            </div>
                            
                            <div class="container">
                              <div disabled>
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner" value="0"></span>
                                        <span class="onoffswitch-switch spanInActivo" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
                        
                    {% else %}
                    <div class="col-md-12">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">
                                <strong>Nuevo Enlace</strong>
                            </h3>
                        </div>
                  
                        <div class="row">
                            <div class="contentEstado">
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner span" value="0"></span>
                                        <span class="onoffswitch-switch span" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>
                </div>
                    {% endif %}
            </div>
            </br>
            </br>
             
            <div class="col-md-12 col-sm-12 col-xs-12 divForm">
                <div class="form-group" style="display: none;">
                    <div class="col-md-12">
                        {{form.estado}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="far fa-newspaper"></i>&nbsp;&nbsp;Nombre Enlace
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.nombre}}
                        <strong class="help-block"></strong>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="fas fa-link"></i>&nbsp;&nbsp;Url
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.url}}
                        <strong class="help-block"></strong>
                    </div>
                </div>
                   

                <div class="form-group">
                    <div class="col-md-12" style="margin-top: 3%;">
                        {% if not request.user.is_super_administrador %}
                            <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                                <i class="fa fa-save" aria-hidden="true"></i>Guardar
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-danger pull-right" onclick="app.btnLimpiar()" id="btnLimpiar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                        </button> 
                    </div>
                </div>
                          
            
        </form>
     </div>
</div>


{% endblock %}

{% block scripts %}
<script>
notificaciones();
//Estado Actual
var estado = $("#id_estado").is(':checked');
if( estado ){
    $("#myonoffswitch").attr('checked',true);
}else{
    $("#myonoffswitch").attr('checked',false);  
}
//New Estado
$("#myonoffswitch").change(function() {
    if ($(this).prop('checked') == true ) {
        $("#id_estado").prop('checked',true);
    }else {
        $("#id_estado").attr('checked',false);
    }
});

</script>

{% if messages %}
    {% for message in messages %}
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        <script >
            notificaciones('{{message|escape}}');
        </script>
    {% endfor %}
{% endif %}


{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}

<!--Nelson-->
{% endblock %}


