{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
     <link href="{% static 'css/regional/nuevo.css' %}" rel="stylesheet"/>
     <style>
         #verImagen{
          height: 130px;
          float: right;
        }
        #imgCliente{
            border: 4px inset #878587;
            width:130px;
            height: 110px;
        }
     </style>
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            <a href='{% url "gestores:publicidad-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Listado Publicidades
            </a> 

            <div class="content"><!--formulario-->
                <div class="row">
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-12">
                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title">
                                    <strong id="actaliza">Actualizar Publicidad</strong>
                                </h3>
                            </div>
                            
                            <div class="container">
                              <div disabled>
                                <output id="verImagen"> 
                                    <img src="{% static ''%}{{img}}" id="imgCliente" class="img-circle">
                                </output>
                                <!--Estado--> 
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner" value="0"></span>
                                        <span class="onoffswitch-switch spanInActivo" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
                        
                    {% else %}
                    <div class="col-md-12">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">
                                 <strong>Nueva Publicidad</strong>
                            </h3>
                        </div>
                  
                        <div class="row">
                            <div class="contentEstado">
                                <div disabled>
                                    <output id="verImagen"> 
                                        <img src="{% static 'imagen-cliente/user2.svg' %}" id="imgCliente" class="img-circle">
                                    </output>
                                </div>
                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner span" value="0"></span>
                                        <span class="onoffswitch-switch span" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>

                </div>
                    {% endif %}
            </div>
            </br>
            </br>

            <div class="col-md-9" style="display: none;">
                {{form.estado}}
                <strong class="help-block"></strong>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 divForm">
                
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="far fa-newspaper"></i>&nbsp;&nbsp;Nombre Publicidad
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.nombre}}
                        <strong class="help-block"></strong>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="fas fa-link"></i>&nbsp;&nbsp;Nombre url
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.url}}
                        <strong class="help-block"></strong>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <i class="fas fa-link"></i>&nbsp;&nbsp;Pieza Publicitaria 
                        <strong class="span"> *</strong>
                    </label>
                    <div class="col-md-9">
                        {{form.imagen}}
                        <strong class="help-block"></strong>
                    </div>
                </div>
             
            </div>
            
            <div>
                {% if not request.user.is_super_administrador %}
                    <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                        <i class="fa fa-save" aria-hidden="true"></i>Guardar
                    </button>
                {% endif %}
                <button type="button" class="btn btn-danger pull-right" onclick="app.btnLimpiar()" id="btnLimpiar">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                </button> 
            </div> 
        </form>
     </div>
</div>

{% endblock %}

{% block scripts %}
<script>
notificaciones();
//Estado Actual
var estado = $("#id_estado").is(':checked');
if( estado ){
    $("#myonoffswitch").attr('checked',true);
}else{
    $("#myonoffswitch").attr('checked',false);  
}
//New Estado
$("#myonoffswitch").change(function() {
    if ($(this).prop('checked') == true ) {
        $("#id_estado").prop('checked',true);
    }else {
        $("#id_estado").attr('checked',false);
    }
});

//logo Tamaño,Extencion
$(document).on('change','input[type="file"]',function(){
    var fileName = this.files[0].name;
    var fileSize = this.files[0].size;

    if (fileSize > 1000000) {
        Swal.fire(
            'Advertencia ..!',
            'El archivo no debe superar 1MegaByte de Peso',
            'warning',
        )
        this.value = '';
        this.files[0].name = '';
    }else {
        var ext = fileName.split('.').pop();
        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                break;
            default:
                Swal.fire(
                    'Advertencia ..!',
                    'Archivo No Tiene la Extensión Adecuada',
                    'warning',
                )
                this.value = '';
                this.files[0].name = '';
        }
    }
});

//logo 
var imganenes= '';
function archivo(evt){
    var files = evt.target.files; 
    //Obtenemos la imagen del campo "file". 
    for (var i = 0, f; f = files[i]; i++) {         
       //Solo admitimos imágenes.
       if (!f.type.match('image.*')) {
            continue; 
       }
       var reader = new FileReader();
       reader.onload = (function(theFile) {
           return function(e) {
           // Creamos la imagen.
           imganenes = escape(theFile.name) //  Selecciono Img
           document.getElementById("verImagen").innerHTML = ['<img class="img-circle" style="border: 4px inset #878587;" width="130" height="110" src="', e.target.result,'" title="',escape(theFile.name),'"/>'].join('');
        };
       })(f);  
       reader.readAsDataURL(f);
    }
}
document.getElementById('id_imagen').addEventListener('change', archivo, false);

document.getElementById("btnGuardar").addEventListener('click',() =>{
    var name = document.getElementById("id_nombre").value;
    var url = document.getElementById("id_url").value;
    if ( (name != '') && (url != '') && ( imganenes != '' ) ){
        event.preventDefault();
            Swal.fire({
              title: 'Atención',
              text: "Desea Crear Esta Publicidad ..?",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, Crear'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                      title: 'Felicidades',
                      text: "Publicidad Creada Exitosamente",
                      type: 'success',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        $("#form").submit(); 
                    });
                }
            });
    }
});
  
//Editar
var editar = document.getElementById("actaliza").textContent;
if( editar == "Actualizar Publicidad"){
    document.getElementById("id_nombre").style.backgroundColor ="#ccc0c0";
    document.getElementById("id_nombre").readOnly = "true";
}

</script>



{% if messages %}
    {% for message in messages %}
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        <script >
            notificaciones('{{message|escape}}');
        </script>
    {% endfor %}
{% endif %}


{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <script>
                    notificaciones("{{ error|escape }}");
                    $("#id_pais").prop('selectedIndex',0).change();
                </script>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <script>
            notificaciones("{{ error|escape }}");
        </script>
    {% endfor %}
{% endif %}


<!--Nelson-->
{% endblock %}


