{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<style>
/*Modal*/
#exampleModalLabel{
    text-align: center;
    font-weight: bold;
}
#modalDetalle{
    display: none;
}
label{
    font-weight: bold;
}
fieldset.scheduler-border {
border: 1px groove #ddd !important;
padding: 0 1.4em 1.4em 0.4em !important;
margin: 0 0 1.5em 0 !important;
-webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 18px;
    font-weight: bold !important;
    margin-left: 65px;
}
.spanUsuario{
    color: blue;
    font-size: 22px;
}
.roles{
    text-transform: uppercase;

}
.form-group{
    font-size: 14px;
}
.divLeft{
    margin-top: -6%;
    margin-bottom:5%;
}
#verImagen{
  height: 130px;
  float: right;
}
#imgCliente{
    border: 4px inset #878587;
    width:130px;
    height: 110px;
}
/*Modal*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 0.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 22px;
    font-weight: bold !important;
    margin-left: 48px;
}
/*Swich Estado*/
.onoffswitch {
    position: relative;
    width: 96px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 1%;
    margin-top: 38px;
    float: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label { /*borde Estado*/
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #f1f1f1; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 10px;
    size: 22;
    text-align: 1;
    background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "InActivo";
    padding-right: 3px;
    size: 5;
    background-color: red; color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 10px;
    background: #FFFFFF;
    position: absolute; bottom: 0;
    padding-top: 17px; 
    right: 60px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    margin-bottom: 12px;
}
.divBtnCerrar{
    float: right;
}
#hrefCerrar{
    font-size: 30px;
    font-weight: bold;
}
</style>
{% endblock %}

{% block content %} 
<button data-toggle="modal" id="modalDetalle" data-target="#exampleModal">ACEPTAR</button>
<!-- MODAL-->

<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog divModal" role="document" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="divBtnCerrar">
            <a href="{% url 'clientes:cliente-index' %}" id="hrefCerrar">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <h4 class="modal-title" id="exampleModalLabel">Información</h4>
      </div>
        <div class="modal-body">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border" id="titleDireccion">
                    <span>Cliente</span>
                </legend>
                   
                    <div class="control-group ">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container">
                                         <div class="row">
                                            <div class="col-md-9">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                            <i class="fa fa-user-tie"></i>&nbsp;&nbsp;Nombre o Razon</label>
                                                        <div class="col-md-9">
                                                            {{object.nombre_o_razon|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div> 

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                            <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Apellido</label>
                                                        <div class="col-md-9">
                                                            {{object.apellido|default_if_none:"No Aplica"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                          <i class="fas fa-id-card-alt"></i>&nbsp;&nbsp;Tipo Identificación</label>
                                                        <div class="col-md-9">
                                                            {{object.tipo_identificacion|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fa fa-id-card"></i>&nbsp;&nbsp;# Documento</label>
                                                        <div class="col-md-9">
                                                            {{object.identificacion|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Telefono</label>
                                                        <div class="col-md-9">
                                                            {{object.telefono|default_if_none:"sin Datos"}}

                                                            {% if object.extencion %}
                                                                Ext {{ object.extencion }}
                                                            {% else %}
                                                                    {{ "" }}
                                                            {% endif %}     
                                                            
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Nombre_contacto</label>
                                                        <div class="col-md-8">
                                                             {{object.nombre_contacto|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-envelope"></i>&nbsp;&nbsp;email</label>
                                                        <div class="col-md-9">
                                                            {{object.email|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fa fa-street-view"></i>&nbsp;&nbsp;Direccion</label>
                                                        <div class="col-md-8">
                                                            {{object.tipo_via |default_if_none:"" }}
                                                            {{object.numero_via |default_if_none:"" }}
                                                            {{object.prefijo_via |default_if_none:"" }}
                                                            {% if object.bis_via == True %}
                                                                {{'Bis'}}
                                                            {% else %}   
                                                                {{''}}  
                                                            {% endif %}
                                                            {{object.cuadrante_via |default_if_none:"" }}
                                                            {{object.numero_via_generadora |default_if_none:"" }}
                                                            {{object.prefijo_via_generadora |default_if_none:"" }}
                                                            {% if object.bis_via_generadora == True %}
                                                                {{'Bis'}}
                                                            {% else %}   
                                                                {{''}}  
                                                            {% endif %}                                       
                                                            {{object.numero_placa |default_if_none:"" }}
                                                            {{object.cuadrante_via_generadora|default_if_none:"sin Datos"}}


                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-location-arrow"></i>&nbsp;&nbsp;complemento</label>
                                                        <div class="col-md-9">
                                                            {{object.complemento|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-thumbtack"></i>&nbsp;&nbsp;barrio</label>
                                                        <div class="col-md-9">
                                                            {{object.barrio|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div> 

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-flag"></i>&nbsp;&nbsp;pais</label>
                                                        <div class="col-md-9">
                                                            {{object.pais|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                               
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fab fa-usps"></i>&nbsp;&nbsp;Departamento</label>
                                                        <div class="col-md-9">
                                                            {{object.departamento|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>    

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-city"></i>&nbsp;&nbsp;Ciudad</label>
                                                        <div class="col-md-9">
                                                            {{object.ciudad|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-sitemap"></i>&nbsp;&nbsp;Tipo Organizacion</label>
                                                        <div class="col-md-9">
                                                            {{object.tipo_organizacion|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div> 

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-registered"></i>&nbsp;&nbsp;Regimenfiscal</label>
                                                        <div class="col-md-9">
                                                            {{object.regimenfiscal|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div> 

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-users"></i>&nbsp;&nbsp;tipo_sociedad</label>
                                                        <div class="col-md-9">
                                                            {{object.tipo_sociedad|default_if_none:"sin Datos"}}
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div> 
                                                    <div class="form-group" style="display: none;">
                                                        <label class="col-md-3 control-label">
                                                        <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;estado</label>
                                                        <div class="col-md-9">
                                                            <span class="spanEstado">   
                                                                {{object.estado}}
                                                            </span>
                                                        </div>
                                                    </div> 

                                            </div>
                                                 
                                            <div class="col-md-3">
                                                    <div disabled>
                                                        <output id="verImagen"> 
                                                            <img src="{% static ''%}{{object.logo}}" id="imgCliente" class="img-circle">
                                                        </output>
                                                    </div>
                 
                                                    <!--Estado-->
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                                         <label class="onoffswitch-label" for="myonoffswitch">
                                                            <span class="onoffswitch-inner span" value="0"></span>
                                                            <span class="onoffswitch-switch span" value="1"></span>
                                                        </label>
                                                    </div>
                                                  <!--Estado-->
                                                
                                            </div>

                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
            </fieldset>
        </div>


        {% if eliminar %}
            <div class="modal-footer">
                <button title="Eliminar Regional" value={{object.id}} class="btn btn-danger" id="btnEliminar">Eliminar</button>
            </div>
        {% endif %}
    </div>
  </div>
</div>
<!-- MODAL-->
{% endblock %}


{% block scripts %}
<script>
    //Estado
    var estado = $(".spanEstado").text().trim();
    if( estado == 'True'){
        $("#myonoffswitch").prop('checked',true);
    }else{
        $("#myonoffswitch").prop('checked',false);
    }
    
    function paginaInicial() {
      setTimeout(function(){  
            window.location.href = '{% url 'sedes:regional-index' %}'  
        }, 1500);
    }
    
    $("#modalDetalle").click();

</script> 
 

{% endblock %}