{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/clientes/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}

<body onload="noAtras()">
    <div class="panel-body"> <!-- end panel Body-->
        <h2> Gestor de Clientes</h2>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'clientes:cliente-nuevo' %}" id="new" class="btn btn-success">
                    <i class="fa fa-plus"></i> Nuevo Cliente
                </a>
            </div>
            <div class="col-md-12">
                <div class="contentBuscar">
                    <div class="divBuscar">
                        <form id="Idform" method="get">
                            <div id="divInputBuscar">
                                <button type="submit" id="btnBuscar" class="btn btn-info">
                                    <i class="fa fa-search"></i>Buscar
                                </button>
                            </div>
                            <input type="text" id="buscarCliente" class="form-control" name="q" placeholder="Buscar Cliente" value="{{request.GET.q}}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                {% if object_list%}
                {% if page_obj %}
                <div style="text-align:right; height:1em;">
                    <a href="{% url 'reportes:reportes-clientes' %}" class="fas fa-file-download fa-2x" ></a> <strong>Descargar Reporte</strong>
                </div>
                <div>
                    <strong>
                        <p>
                            {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados
                        </p>
                    </strong>
                </div>
                {% endif %}
                <div>
                <div class="table-responsive">
                    <table id="listCliente" class="table table-striped">
                        <thead>
                            <th colspan="21" id="colspan">Listado de Clientes</th>
                            <tr>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acción&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>Estado</th>
                                <th>Nombre/Razón Social</th>
                                <th>Apellidos</th>
                                <th>Nombre App</th>
                                <th>Tipo Documento</th>
                                <th># Documento</th>
                                <th>Telefono Ext</th>
                                <th>Email</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;Direccion&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>Complemento</th>
                                <th>Barrio</th>
                                <th>Contacto</th>
                                <th>Tipo Sociedad</th>
                                <th>Tipo Organizacion</th>
                                <th>RegimenFiscal</th>
                                <th>pais</th>
                                <th>Departamento</th>
                                <th>Ciudad</th>
                                <!--<th>Logo</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'logginas:select-user' usuario_id=cliente.id %}" title="login" id="ver como">
                                        <span class="fa fa-eye" style="font-size: 15px;" data-toggle="modal" data-target="#exampleModal" title="Ver como">
                                        </span>
                                    </a>
                                    |
                                    <a href="{% url 'clientes:cliente-consultar' pk=cliente.id delete=cliente.id %}" title="Consultar" id="Consultar">
                                        <span class="fas fa-search" style="font-size: 15px;" data-toggle="modal" data-target="#exampleModal" title="Ver Información">
                                        </span>
                                    </a>
                                    |
                                    <a href="{% url 'clientes:cliente-actualizar'  pk=cliente.id %}" title="Editar" id="editar">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    |
                                    <a href="#" title="Eliminar" id="eliminar" onclick="elimina('{{ cliente.id }}')">
                                        <span class="glyphicon glyphicon-trash">
                                         </span>
                                    </a>
                                </td>
                                <td>{% if cliente.estado %}
                                        <span class="label label-success">Activo</span>
                                    {%else%}
                                        <span class="label label-danger">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td>{{ cliente.nombre_o_razon |upper}}</td>
                                <td>{{ cliente.apellido |default_if_none:""|upper}}</td>
                                <td>{{ cliente.nombre_app |default_if_none:""|upper}}</td>
                                <td>{{ cliente.tipo_identificacion |default_if_none:"" |upper}}</td>
                                <td>{{ cliente.identificacion |default_if_none:"" |upper}}</td>
                                <td>{{ cliente.telefono |default_if_none:"" |upper}}
                                    {% if cliente.extencion %}
                                    Ext {{ cliente.extencion }}
                                    {% else %}
                                    {{ "" }}
                                    {% endif %}
                                </td>
                                <td>{{ cliente.email |default_if_none:"" }}</td>
                                <td>{{cliente.tipo_via |default_if_none:"" |upper}}
                                {{cliente.numero_via |default_if_none:"" |upper}}
                                {{cliente.prefijo_via |default_if_none:"" |upper}}
                                {%if cliente.bis_via %}
                                Bis
                                {% endif %}
                                {{cliente.cuadrante_via |default_if_none:"" |upper}}
                                {{cliente.numero_via_generadora |default_if_none:"" |upper}}
                                {{cliente.prefijo_via_generadora |default_if_none:"" |upper}}
                                {%if cliente.bis_via_generadora %}
                                Bis
                                {% endif %}
                                {{cliente.numero_placa |default_if_none:"" |upper}}
                                {{cliente.cuadrante_via_generadora |default_if_none:"" |upper}}
                                </td>
                                <td>{{ cliente.complemento |default_if_none:"" |upper}}</td>
                                <td>{{ cliente.barrio |default_if_none:"" |upper}}</td>
                                <td>{{ cliente.nombre_contacto |default_if_none:"" |upper}}</td>
                                <td>{{ cliente.tipo_sociedad |default_if_none:"" |upper}}</td>
                                <td>{{ cliente.tipo_organizacion |default_if_none:"" |upper}}</td>
                                <td>{{ cliente.regimenfiscal |default_if_none:"" |upper}}</td>
                                <td >{{cliente.pais |default_if_none:"" |upper}}</td>
                                <td >{{cliente.departamento |default_if_none:"" |upper}}</td>
                                <td >{{cliente.ciudad |default_if_none:"" |upper}}</td>

                            <!--
                                <td>
                                    <img src="../{{ cliente.logo.url }}" width="70px" height="70px">
                                </td>
                            -->
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page=
                            {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="active">
                            <a href="#!">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="waves-effect">
                            <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="waves-effect">
                            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#!">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {%else%}
                <input type="hidden" name="q" value="0" id="inputSinRegistros">
                <div class="divSinRegistros">
                    <i class="fa fa-database iconSinResul"></i>
                    <span class="spanSinResul">&nbsp; Sin Registros</span>
                </div>
                {%endif%}
            </div>
        </div>
    </div> <!-- end panel Body-->
</body>

{% endblock %}

{% block scripts %}
<!--    <script type='text/javascript' src="{% static 'js/clientes/index.js' %}"></script>-->
<script>
    //BtnAtras del Navegador
function noAtras(){
   window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button"
    window.onhashchange=function(){
        window.location.hash="no-back-button";
    }
}
var registros;
registros = $("#inputSinRegistros").val();
//table
var table = $('#listCliente').DataTable({
    "paging": false,
    "info": false,
    "searching": false,
    "ordering": true,
    "order": [[ 2, "asc" ]]
});

if (registros == 0) {
    Swal.fire({
        title: '¡Sin Datos!',
        text: "No Cuenta Con Resgistros Relacionados Con La Búsqueda",
        type: 'warning',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.value) {
            registros = 1;
            window.location.href = '{% url 'clientes:cliente-index' %}';
        }
    });
}

        $("tr:odd").css("background-color", "#daf4ff"); // filas pares

        function paginaInicial() {
            setTimeout(function(){  
                window.location.href = '{% url 'clientes:cliente-index' %}'  
            }, 1500);
        }

        function elimina(id){
            var ids = id;
            Swal.fire({
                title: 'Eliminar Cliente',
                type: 'warning',
                text:'¿ Desea Eliminar el Cliente ?',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '{% url "clientes:cliente-delete" %}',
                        type: 'post',
                        data:{
                            'idCliente':ids,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',//Token al ser Post
                        }
                    }).done(function(data){
                        console.log( data);
                        console.log( '***data');
                        if ( (data.usr == 'Usuario') || (data.reg == 'Regional') || (data.ptO == 'PtoOperacion') || (data.enl == 'PtoOperacion') || (data.publ == 'Publicidad') || (data.ser == 'servi') ) {
                            Swal.fire({
                                type: 'warning',
                                title: 'No se Puede Eliminar',
                                html:
                                    '<strong>Cliente ha Creado: </strong>' +
                                    data.usr+' '+data.reg+' '+data.ptO+' '+data.enl+' '+data.publ+' '+data.ser + '. Debe eliminar primero los registros asociados',
                            });
                        }else {
                            Swal.fire({
                                type: 'success',
                                title: 'Felicidades',
                                text:  'Cliente Eliminado Exitosamente',
                                timer: 2000
                            });
                            paginaInicial();

                        }
                    });

                }
            });
        }

    </script>
{% endblock %}