{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/clientes/nuevo.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

  
<div class="content">
    <div class="row">
        <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
            </br>
            </br>
            </br>
            </br>
            <a href='{% url "clientes:cliente-index" %}' class="btn btn-success">
                <i class="fa fa-angle-left"></i>Listado Cliente
            </a>

            <div class="content"><!--formulario-->
              <div class="row">
                    <div class="form-group divEstado">
                        {{form.estado}}
                    </div>
                    {% if 'actualizar' in request.path %}
                        <div class="col-md-12">
                            <!--Edita Informacion-->
                            <input type="hidden" value="editar" name="editarInfo" id="editarInfo">
                            <!--Edita Informacion-->
                          
                            <div class="panel-heading ui-draggable-handle">
                                <h3 class="panel-title"><strong>Actualizar Cliente</strong></h3>
                            </div>
                            
                            <div class="container">
                              <div disabled>
                                <output id="verImagen"> 
                                    <img src="{% static ''%}{{img}}" id="imgCliente" class="img-circle">
                                </output>

                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner" value="0"></span>
                                        <span class="onoffswitch-switch spanInActivo" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                              </div>
                            </div>
                        </div>
        
                    {% else %}
                    <div class="col-md-12">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><strong>Nuevo Cliente</strong> </h3>
                        </div>
                  
                        <div class="row">
                            <div class="divCliente">
                                <div disabled>
                                    <output id="verImagen"> 
                                        <img src="{% static 'imagen-cliente/user2.svg' %}" id="imgCliente" class="img-circle">
                                    </output>
                                </div>

                                <!--Estado-->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled> 
                                     <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner span" value="0"></span>
                                        <span class="onoffswitch-switch span" value="1"></span>
                                    </label>
                                </div>
                                <!--Estado-->
                            </div>
                        </div>
                    </div>
       
                    <div>
                        <div class="divFormLogo">
                           {{form.logo}}
                        </div>
                        <div></div>   
                    </div>
                 
                    </div>
                    {% endif %}
            </div>
          
            </br>
            </br>
            <div class="col-md-12">        
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fas fa-chalkboard-teacher"></i>&nbsp;Tipo Organización<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.tipo_organizacion}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fas fa-id-card-alt"></i>&nbsp;Tipo Identificacion<span class="span"> *</span></label>
                            <div class="col-md-8">
                                <select name="idIdentificacion" class="form-control" required id="idIdentificacion">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="fa fa-id-card"></i>&nbsp;# Identificacion<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.identificacion}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                             <i class="fas fa-user-tie"></i>&nbsp;Nombre/Razón Social<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.nombre_o_razon}}
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div id="divApellido">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                     <i class="fas fa-user-tie"></i>&nbsp;Apellido<span class="span"> *</span></label>
                                <div class="col-md-8">
                                    {{form.apellido}}
                                    <span class="help-block"></span>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                            <i class="far fa-envelope"></i>&nbsp;Email<span class="span">*</span></label>
                            <div class="col-md-8">
                                {{form.email}}
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        
                         {% if form.ConfirmarEmail %}
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                <i class="far fa-envelope"></i>&nbsp;Confirmacion-Email<span class="span"> *</span></label>
                                <div class="col-md-8">
                                    {{form.ConfirmarEmail}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-3 labelDireccion">
                                <i class="fas fa-street-view"></i>&nbsp;Dirección<span class="span"> *</span></label>
                            </div>
                            <div class="col-md-8">
                               <input type="text" value="" class="form-control" id="direccion2" name="direccion2" placeholder="Dirección" data-toggle="modal" data-target="#exampleModal" required>     
                            </div>
                         </div>


                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4 control-label divComp">
                                <i class="fas fa-location-arrow"></i>&nbsp;Complemento</label>
                                <div class="col-md-8">
                                    <span class="help-block" id="spanComplemento"></span>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4 control-label divBar">
                                <i class="fas fa-street-view"></i>&nbsp;Barrio</label>
                                <div class="col-md-8">
                                    <span class="help-block" id="spanBarrio"></span>
                                </div>
                             </div>
                        </div> 
                   
                        <!-- Oculto-->
                        <div class="form-group divOculto">
                            <div class="row">
                                <label class="col-md-3 control-label divBar">Oculto</label>
                                <div class="col-md-9">
                                    {{form.complemento}}
                                    {{form.barrio}}
                                </div>
                             </div>
                        </div> 
                        <!-- Oculto-->

                        <div class="form-group divDirecciones">
                            <label class="col-md-3 control-label">Campos Ocultos</label>
                            <div class="col-md-9"> 
                                <div>
                                    {{form.tipo_identificacion}}
                                    {{form.tipo_via}}
                                    {{form.numero_via}}
                                    {{form.prefijo_via}}
                                    {{form.bis_via}}
                                    {{form.cuadrante_via}}
                                    {{form.numero_via_generadora}}
                                    {{form.prefijo_via_generadora}}
                                    {{form.bis_via_generadora}}
                                    {{form.numero_placa}}
                                    {{form.cuadrante_via_generadora}}
                                </div> 
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>            
               
                <div class="col-md-6 col-sm-6 col-xs-6 divForm">

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                        <i class="fas fa-flag-usa"></i>&nbsp;Pais<span class="span"> *</span></label>
                        <div class="col-md-8">
                            {{form.pais}}
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="divDepartamento">
                            <label class="col-md-4 control-label">
                            <i class="fab fa-usps"></i>&nbsp;Departamento<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.departamento}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="divCiudad">
                            <label class="col-md-4 control-label">
                            <i class="fas fa-city"></i>&nbsp;Ciudad<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.ciudad}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-4 col-sm-3 col-xs-4 control-label">
                                <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Telefono<span class="span"> *</span></label>
                            <div class="col-md-4 col-sm-3 col-xs-8">
                                {{form.telefono}}
                                <span class="help-block"></span>
                            </div>
                        
                            <label class="col-md-1 col-sm-1 col-xs-4 control-label">Ext</label>
                            <div class="col-md-3 col-sm-5 col-xs-8">
                                {{form.extencion}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="divNameContacto">
                            <label class="col-md-4 control-label">Nombre Contacto<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.nombre_contacto}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="divTipoSociedad">
                            <label class="col-md-4 control-label">Tipo Sociedad<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.tipo_sociedad}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <div id="divRegimenfiscal">
                            <label class="col-md-4 control-label">Regimen Fiscal<span class="span"> *</span></label>
                            <div class="col-md-8">
                                {{form.regimenfiscal}}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
       
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btnGuardar" class="btn btn-primary pull-right">
                            <i class="fa fa-save" aria-hidden="true"></i>Guardar
                        </button> 
                        <button type="button" class="btn btn-danger pull-right" id="btnLimpiar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>Limpiar
                        </button> 
                    </div>
                </div> 
            </div>    
       
        </form>
     </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Gestor Clientes</h3>
        </div>
        <div class="modal-body mt-5">
     
        <fieldset class="scheduler-border">
            <legend class="scheduler-border" id="titleDireccion">Direccion</legend>
                <div class="control-group ">
                    <form id="formModal">
                        <div class="form-group">
                            <label class="col-md-12 control-label"></label>
                            <div class='col-md-2 divTipo'>
                                <select name="idTipo" class="form-control" required id="idTipo">
                                  <option value="">Seleccione Tipo</option>
                                    <option value="CARRERA">CARRERA</option>
                                    <option value="CALLE">CALLE</option>
                                    <option value="DIAGONAL">DIAGONAL</option>
                                    <option value="TRANSVERSAL">TRANSVERSAL</option>
                                </select>
                            </div>
                            <div class='col-md-1'>
                                <input type="number" class="form-control" placeholder="Numero" name="numCalle" id="numCalle" min="0" max="9" pattern="^[0-9]+" required>
                            </div>
                            <div class='col-md-1'>
                                <select name="prefijo_via" class="form-control" id="idPrefijoVia">
                                  <option value="" selected disabled>Prefijo</option>
                                  <option value="0"></option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-1' style="width: 31px;">
                                Bis 
                                <input type="checkbox" name="id_via" value="" id="id_via">
                            </div>
                            <div class='col-md-2'>
                                <select name="cuadrante_via" class="form-control" id="idCuadranteVia">
                                  <option value="" selected disabled>Orientacion</option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>

                            <div class='col-md-1'>
                                <input type="number" class="form-control"  placeholder="Numero" name="numCalle2" id="numCalle2" min="0" max="9" pattern="^[0-9]+" required> 
                            </div>
                            <div class='col-md-1'>
                                <select name="prefijo_via_generadora" class="form-control" id="idPrefijo2">
                                  <option value="" selected disabled>Prefijo</option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                </select>
                            </div>
                            <div class='col-md-1' style="width: 31px;">
                                Bis
                                <input type="checkbox" name="id_via2" value="" id="id_via2">
                            </div>
                            <div class='col-md-1'>
                                 <input type="text" placeholder="Placa" class="form-control" name="idPlaca" id="idPlaca" required>
                            </div>  
                            <div class='col-md-2'>
                                <select name="cuadrante_via_generadora" class="form-control" id="idCuadrante">
                                  <option value="" selected disabled>Orientacion</option>
                                  <option value="SUR">SUR</option>
                                  <option value="NORTE">NORTE</option>
                                  <option value="ESTE">ESTE</option>
                                  <option value="OESTE">OESTE</option>
                                  <option value="SURESTE">SURESTE</option>
                                  <option value="SUROESTE">SUROESTE</option>
                                  <option value="NORESTE">NORESTE</option>
                                  <option value="NOROESTE">NOROESTE</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 30px;">
                                    
                                    <div class="col-md-6">
                                        <label class="col-md-6">Complemento</label>
                                        <div class="col-md-0 divComplemento">
                                    
                                             <input type="text" class="form-control" name="ModalComplemento" placeholder="Complemento" id="ModalComplemento">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label class="col-md-6">Barrio</label>
                                        <div class="col-md-0">
                                            <input type="text" class="form-control" name="ModalBarrio" placeholder="Barrio" id="ModalBarrio">
                                          
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
            
                        <div style="height: 60px;"></div>
                    </form>
                </div>
        </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAceptarModal">Aceptar</button>
        <button type="button" class="btn btn-secondary" id="btnCerrarModal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL -->


{% endblock %}
{% block scripts %}
<script>
$("#id_telefono").attr('type','number').attr('minlength','7');
$("#id_extencion").attr('type','number').attr('minlength','1');

$("#id_telefono").blur(function(){
    var num = $("#id_telefono").val();
    if( (num.length < 7 ) || ( num.length > 10 )){
        Swal.fire({
            title: '¡Atención!',
            text: "Número Telefonico Entre 7-10 Números",
            type: 'warning',
            allowOutsideClick: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Aceptar'
        }).then((result) => {
            if (result.value) {
               $("#id_telefono").focus();
            }
        });
    }
});


$("#id_tipo_organizacion").change(function(){
    var opcion = $("#id_tipo_organizacion option:selected").val();
    $.ajax({
        url: '{% url "clientes:get-identificacion" %}',
        type: 'get',
        data: { 'idOrg': opcion }
    }).done(function(data) {
        var valores = '';
        var datos = JSON.parse(data);
        console.log(datos);

        $("#idIdentificacion").empty();
        valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
        $.each(datos, function(item, val) {
            valores += "<option value='" + val.pk + "'>" + val.nombre + "</option>";
        });
        $("#idIdentificacion").append(valores);
    });
});


//pais
$("#id_pais").change(function() {
    var idPais = $("#id_pais option:selected").val();
    if (idPais > 0) {
        $.ajax({
            url: '{% url "clientes:get-departamento" %}',
            type: 'get',
            data: {
                'id': idPais
            }
        }).done(function(data) {
            var valores = '';
            var datos = JSON.parse(data);
            $("#id_departamento").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_departamento").append(valores);
            $("#id_departamento").attr('disabled', false);
            $("#id_departamento").removeClass('selectValidate');
        });
    } else {
        $("#id_departamento").attr('disabled', true);
        $("#id_departamento").html("<option value=''>Seleccione Una Opción</option>");
        $("#id_ciudad").attr('disabled',true);
        $("#id_ciudad").html("<option value=''>Seleccione Una Opción</option>");
    }
});

//Departamento
$("#id_departamento").change(function() {
    var idDepartamento = $("#id_departamento option:selected").val();
    if (idDepartamento > 0) {
        $.ajax({
            url: '{% url "clientes:get-ciudad" %}',
            type: 'get',
            data: {
                'id': idDepartamento
            }
        }).done(function(data) {
            var valores = ''
            var datos = JSON.parse(data);
            $("#id_ciudad").empty();
            valores = "<option value='' selected disabled>Seleccione Una Opción</option>"
            
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.nombre + "</option>";
            });

            $("#id_ciudad").append(valores);
            $("#id_ciudad").attr('disabled', false);
            $("#id_ciudad").removeClass('selectValidate');
        });
    }else {
        $("#id_ciudad").attr('disabled', true);
    }
});



//Editar Información
if( $("#editarInfo").val() == 'editar' ){
    //Valor Inicial a Direccion Complemento,Barrio
    var bisVia = $("#id_bis_via").is(':checked') ? 'Bis':'';
    var bisViaDos = $("#id_bis_via_generadora").is(':checked') ? 'Bis':'';
    $("#spanComplemento").text( $("#id_complemento").val() );
    $("#spanBarrio").text( $("#id_barrio").val() );

    $("#direccion2").val( $("#id_tipo_via").val()+' '+$("#id_numero_via").val()+' '+
        $("#id_prefijo_via").val()+' '+bisVia+' '+$("#id_cuadrante_via").val()+' '+
        $("#id_numero_via_generadora").val()+' '+bisViaDos+' '+$("#id_prefijo_via_generadora").val()+' '+
        $("#id_numero_placa").val()+' '+$("#id_cuadrante_via_generadora").val()
    );

    //Modal
    $("#idTipo").val( $("#id_tipo_via").val() );
    $("#numCalle").val( $("#id_numero_via").val() );
    $("#idPrefijoVia").val( $("#id_prefijo_via").val() );
    $("#id_bis_via").is(':checked') ? $("#id_via").attr('checked',true) : $("#id_via").attr('checked',false);
    $("#idCuadranteVia").val( $("#id_cuadrante_via").val() );
    $("#numCalle2").val( $("#id_numero_via_generadora").val() );
    $("#idPrefijo2").val( $("#id_prefijo_via_generadora").val() );
    $("#id_bis_via_generadora").is(':checked') ? $("#id_via2").attr('checked',true) : $("#id_via2").attr('checked',false);
    $("#idPlaca").val( $("#id_numero_placa").val() );
    $("#idCuadrante").val( $("#id_cuadrante_via_generadora").val() );
    $("#ModalComplemento").val( $("#spanComplemento").text() );
    $("#ModalBarrio").val( $("#spanBarrio").text() );

    $("#id_departamento").addClass('selectValidate');//theme-default.css
    $("#id_ciudad").addClass('selectValidate');//theme-default.css

}else{
    $("#id_departamento").attr('disabled', true);
    $("#id_ciudad").attr('disabled', true);

}


//Continua.. nuevo.js


//Nelson
    notificaciones();
</script>

{% if form.errors %}
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
            <script>
                notificaciones("{{ error|escape }}");
                $("#id_pais").prop('selectedIndex',0).change();
            </script>
            {% endfor %}
          {% endif %}
        {% endfor %}

    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}

            <script>
                notificaciones("{{ error|escape }}");
            </script>

            {% endfor %}

    {% endif %}
<!--Nelon-->



<script type='text/javascript' src="{% static 'js/clientes/nuevo.js' %}"></script>
{% endblock %}



